#container{
	overflow: hidden;
}
.page-header{
	margin: 0;
}
.mpblog-body .container-fluid{
	padding-top: 60px;
}
.mp-left-content{
	background: #3E5776;
}
.mpblog-title h3{
	color: #fff;
	text-align: center;
	padding: 30px 10px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 0;
}
#mpblog-menu{
	padding: 0;
	margin: 0;
	list-style: none;
}
#mpblog-menu li:last-child a{
	border-bottom: 0;
}
#mpblog-menu li.active a{
	background: #07B8DA;
	color: #fff;
}
#mpblog-menu li a:hover{
	background: rgba(44, 161, 224, 0.2)
}
#mpblog-menu li a span{
	display: block;
	text-transform: uppercase;
	margin-top: 5px;
}
#mpblog-menu li a i{
	font-size: 24px;
	box-shadow: inset 0px -19px 36px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0px -19px 36px rgba(255, 255, 255, 0.2);
	padding: 5px 8px 9px;
	border-radius: 5px;
}
#mpblog-menu li a{
	color: #fff;
	display: block;
	text-align: center;
	padding: 15px 20px;
	font-size: 12px;
	-webkit-box-shadow: inset 0px -19px 36px rgba(32, 17, 16, 0.1);
	box-shadow: inset 0px -19px 36px rgba(32, 17, 16, 0.1);
}
.mpblog-body{
	background: #f3f6f8;
}
.mpblog-content{
	background: #f3f6f8;
	min-height: 600px;
}
#footer{
	background: #F3F6F8;
	padding-top: 40px;
}
#content{
	padding-bottom: 0;
}
.panel-default{
	border: none;
}
.panel-default .panel-heading {
    color: #fff;
    border-color: #07B8DA;
    background: #07B8DA;
}
.tile .tile-body h2 {
    font-size: 42px;
    text-align: right;
}
.tile .tile-body h2 i{
	float: left;
}
.tile{
	background-color: #3E5776;
}
.tile-heading{
	background: #07B8DA;
}
.tile-footer{
	background-color: #266384;
}
.panel-heading i{
	color: #fff;
}
.btn-default i{
	color: #333;
}
.page-header h1{
	text-transform: uppercase;
	color: #475F7D;
	font-weight: 600;
}
.alert-success {
    background-color: #6db15c;
    border-color: #6db15c;
    color: #fff;
}
.note-toolbar.panel-heading i{
	color: #000;
}
.ostab{
	background: #f0f1f5; 
	border:1px solid #ddd; 
	padding: 10px;
}
.ostab li{
	border:1px solid #ddd;
	background: #e4e6ea;
	margin-top: 4px;
	margin-bottom: 4px;
}
.ostab li.active{
	border:none;
}
.ostab li a{
	color: #000;
	padding: 12px;
}
#module-points .fa-mp{ 
	font-size: 30px; 
	margin-right: 5px; 
}
#module-points .list-group-item > .badge a{ 
	color:#fff; 
}
#module-points .text-success { 
	color: #538d15; 
}
#module-points .text-mpsuccess { 
	color: #07B8DA; 
	font-weight: 600; 
}
#module-points .badge { 
	background-color: #07B8DA; 
	padding: 7px 15px; 
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	font-weight: normal; 
}
.mp-content .bs-callout { 
	padding: 20px; 
	margin: 20px 0; 
	border: 1px solid #eee; 
	border-bottom-width: 5px; 
	border-radius: 3px; 
	-webkit-border-radius: 3px;
}
.mp-content .bs-callout-small { 
	padding: 10px; margin: 10px 0;
}
.mp-content .bs-callout-info { 
	border-bottom-color: #07B8DA; 
}
.mp-content .bs-callout-info h4 { 
	color: #07B8DA; 
}
.mp-content .bs-callout-warning { 
	border-bottom-color: #aa6708; 
}
.mp-content .bs-callout-warning h4 { 
	color: #aa6708; 
}
.mp-content .bs-callout-danger { 
	border-bottom-color: #ce4844; 
}
.mp-content .bs-callout-danger h4 { 
	color: #ce4844; 
}
.mp-content .bs-callout h4 { 
	margin-top: 0; 
	margin-bottom: 5px; 
	font-weight: 600;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: #07B8DA;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #07B8DA;
}
input:focus + .slider {
  box-shadow: 0 0 1px #07B8DA;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#menu > li > ul {
	z-index: 9999;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: #3E5776;
	color: #fff;
	font-weight: normal;
	outline: 0;
}
#header {
    min-width: 1024px;
    position: relative;
    z-index: 1000;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
	background: #3E5776;
}

.switch-buttons {
  display: table-cell;
  vertical-align: middle;
}
.switch-buttons .btns {
  z-index: 0;
  height: 30px;
  float: none;
  margin: 0 auto;
  border-radius: 4px;
}
.switch-buttons .btns input {
  display: none;
}
.last-group .switch-buttons .btns label{
  width: calc(100% / 3);
}
.switch-buttons .btns label {
  display: table;
  background: #014464;
  background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C)); 
  text-shadow: 1px 1px 1px black;
  -moz-box-shadow: 0 1px 3px black;
  -webkit-box-shadow: 0 1px 3px black;
  box-shadow: 0 1px 3px black;
  float: left;
  padding: 0;
  width: calc(100% / 2);
  height: 100%;
  margin:0;
  margin-bottom: 5px;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px -1px rgba(25, 25, 25, 0.2);
}
.switch-buttons .btns .btn {
  font-size: 15px;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 30px 20px -20px rgba(255, 255, 255, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.switch-buttons .btns .btn:hover {
  box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.switch-buttons .btns .btn:after {
  content: '\2714';
  margin-left: -10px;
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.switch-buttons .btns label:first-child {
  border-radius: 4px 0px 0 4px;
}
.switch-buttons .btns label:last-child {
  border-radius: 0px 4px 4px 0px;
}
.switch-buttons .btns input:checked + .btn {
  color: #fff;
  text-shadow: none;
  box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.08);
  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
}
.switch-buttons .btns input:checked + .btn:after {
  margin-left: 12px;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  -webkit-transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}
.switch-buttons.six-cols .btns label{
	width: calc(100% / 7);
}
.switch-buttons.six-cols .input-group{
	display: block;
}
.panel-heading h3 sup i{
	margin-right: 0;
	margin-left: 5px;
}
@media(min-width: 980px){
	#mpblog-menu{
		float: right;
	}
	.mpblog-title h3{
		float: left;
	}
}
@media(min-width: 768px){
	.mp-left-content{
		background: #3E5776;
		z-index: 9;
		height: 100%;
	}
	.mpblog-body{
		background: #f3f6f8;
		min-height: 600px;
	}
	.mpblog-body .page-header{
		margin: 0;
		width: 100%;
		background: #F3F6F8;
		z-index: 1;
		top: 0;
		padding-top: 0px;
	}
	.mpblog-body .container-fluid{
		padding-top: 20px;
	}
	.page-header{
		padding-top: 10px;
	}
	#mpblog-menu{
		text-align: center;
	}
	#mpblog-menu li{
		display: inline-block;
		width: 115px;
	}
}
@media(max-width: 767px){
	.mpblog-body .container-fluid{
		padding-top: 20px;
	}
	#mpblog-menu li{
		width: 49%;
		display: inline-block;
	}
	.form-group{
		padding-top: 0;
	}
	.page-header h1{
		padding-top: 10px;
	}
	.panel-default .panel-heading .pull-right{
		float: none !important;
		text-align: right;
		margin-top: 7px;
	}
}
