<style>
  .list-unstyled li a {
  color: black;
  }
  .list-unstyled li a:hover {
  color: #3399ff;
  }
</style>
<script type="text/javascript">
$('#carousel234').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.carousel234',
	paginationClickable: true,
	autoplay: 2000,
	loop: true,
  autoplayDisableOnInteraction: false,
});
</script>
<script type="text/javascript">
  
  if($(window).width() < 800)
  {
  	$('.pc-video').css('display','none');
  	$('.mobile-video').css('display','block');
    $('.mobile-video').css('background-color','#DBF9FB');
  	$('.mobile-video').css('padding-bottom','30px');
  	if($(window).width() >= 768)
    {
      $('.carousel234').css('bottom', '5.2%');
    }
    else if($(window).width() >= 411)
    {
      $('.carousel234').css('bottom', '4.3%');
    }
    else if($(window).width() < 411)
    { 
  	
       $('.carousel234').css('bottom', '5.2%');
    }
    else if($(window).width() < 330)
    {
      $('.carousel234').css('bottom', '5.3%');
    }
  }
  else
  {
  	$('.pc-video').css('display','block');
  	$('.mobile-video').css('display','none');
    $('.pc-video').css('background-color','#DBF9FB');
  	$('.pc-video').css('padding-bottom','30px');
  }
</script>
<div class="footer">
  <div class="l-pagetop js-pagetop is-hidden" id="pagetotop" style="cursor: pointer;z-index: 999;">
    <a  class="m-pagetop js-anchorLink">
      <img src="catalog/view/theme/default/stylesheet/img/icons/pagetop.svg" alt="ページの先頭へ">
    </a>
  </div>
  <div class="l-footer-container" style="padding-top: 30px;background: url(http://localhost:8085/nucos3/image/catalog/logo/footer2.png) !important;">
    <div class="container">
      <div class="l-footer-grid">
        <div class="l-footer-item-1">
          <div class="l-footer-sns">
            <ul class="l-socialmedia" data-content-md="center">
              <li>
                <a href="https://www.facebook.com/nucos.japan" target="_blank" class="m-socialmedia-fb">
                  <img src="catalog/view/theme/default/stylesheet/img/icons/facebook.svg" alt="Facebook（新しいウィンドウ）">
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/nucos.japan" target="_blank">
                  <img height="33" src="https://cdn.iconscout.com/icon/free/png-256/instagram-1868978-1583142.png" alt="Instagram（新しいウィンドウ）">
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCfpudVsvn4SISVGW8zXZfng" target="_blank" class="m-socialmedia-youtube">
                  <img src="catalog/view/theme/default/stylesheet/img/icons/youtube.svg" alt="Youtube（新しいウィンドウ）">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="l-footer-item-2">
          <div class="row content-footer">
            <div class="col-md-4 col-xs-12" style="text-align: center;">
              <h5 style="font-size: 17px; line-height: 1.4;"><b>{{ text_information }}</b></h5>
              <ul class="list-unstyled" style="line-height: 1.6;">
                {% for information in informations %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-4 col-xs-12" style="text-align: center;">
              <h5 style="font-size: 17px; line-height: 1.4;"><b>{{ text_service }}</b></h5>
              <ul class="list-unstyled" style="line-height: 1.6;">
                <li ><a href="{{ contact }}">{{ text_contact }}</a></li>
                <li ><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-xs-12" style="text-align: center;">
              <h5 style="font-size: 17px; line-height: 1.4;"><b>{{ text_account }}</b></h5>
              <ul class="list-unstyled" style="line-height: 1.6;">
                <li ><a href="{{ account }}">{{ text_account }}</a></li>
                <li ><a href="{{ order }}">{{ text_order }}</a></li>
                <li ><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="catalog/view/theme/default/javascript/js/common.js" type="text/javascript"></script>
<script src="catalog/view/theme/default/javascript/js/index.js" type="text/javascript"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>