{{ header }}
<div id="common-maintenance" class="container" style="height: 600px;">
  <div class="row">
    <div class="col-12" style="margin-top: 100px;">{{ message }}</div>
  </div>
</div>
{{ footer }}