{% if categories %}
<nav class="l-nav" role="navigation" aria-label="メインメニュー">
  <ul class="m-nav-list js-nav-list">
    <li class="js-nav-list-content">
      <a class="m-nav js-nav" data-nav="products" href="{{ home_href }}" style="text-transform: uppercase;">
        <span class="m-nav-txt">{{ text_home }}</span>
      </a>
    </li>
    <li class="js-nav-list-content">
      <a class="m-nav js-nav" href="{{ information_href }}" style="text-transform: uppercase;">
        <span class="m-nav-txt">{{ text_information }}</span>
      </a>
    </li>
    {% for category in categories %}
    {% if category.children %}
    <li class="js-nav-list-content">
      <label class="m-nav-btn js-nav" data-nav="cm-campaign" tabindex="0">
        <a href="{{ category.href }}" class="m-nav-txt" style="color:black;text-decoration: none; text-transform: uppercase;">{{ category.name }}</a>
        <button class="js-nav-btn">
          <img src="/catalog/view/theme/default/stylesheet/img/icons/plus.svg" class="m-nav-btn-icon js-nav-btn-icon" alt="開く">
        </button>
      </label>
      {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
      <div id="cm-subMenu" class="l-nav-container js-nav-container">
        <div class="l-nav-inner js-nav-inner" style="padding:0px 30px 0px">
          <div class="l-nav-cm-grid">
            <div class="l-nav-item-2">
              <ul class="m-nav-btn-list">
                {% for child in children %}
                <li data-u-col="4" data-u-col-md="12">
                  <a href="{{ child.href }}" class="m-nav-link-btn">
                    <span class="m-nav-link-btn-txt">{{ child.name }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="l-nav-item-3" style="justify-self: center;">
              <a href="{{ category.href }}" class="m-nav-link-txt see-all">{{ text_all }}
                {{ category.name }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </li>
    {% else %}
    <li class="js-nav-list-content">
      <a href="{{ category.href }}" class="m-nav js-nav" data-nav="products" style="text-transform: uppercase;">
        <span class="m-nav-txt">{{ category.name }}</span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="js-nav-list-content">
      <a class="m-nav js-nav" href="{{ contact_href }}" style="text-transform: uppercase;">
        <span class="m-nav-txt">{{ text_contact }}</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}

