<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" style="height: 40px;" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-pink btn-lg" style="margin-right: 15px;"><i class="fa fa-search"></i></button>
  </span>
</div>