{{ header }}
<div style="background-color: #DBF9FB;">
  <div class="l-breadcrumb" style="margin-bottom: 30px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="common-success" class="container" style="padding-bottom: 15px;">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}" style="line-height: 1.7;">
        <h1>{{ heading_title }}</h1>
        {{ text_success }}
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-pink" style="font-size: 17px; margin-bottom: 20px;">{{ button_continue }}</a></div>
        </div>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{footer}}
<script>
var check_cart = $('#content h1').text().trim()
var check_mail = $('#content p').text().trim()
if(check_cart == "Thành công !!!" || check_cart == "Success !!!" || check_cart == "注文完了 !!!" || check_cart == "CONTACT US" || check_cart == "お問合せ" ) {
$('#common-success').css("height", "510px")
}
if (check_mail == "Yêu cầu của bạn đã được gửi tới chủ cửa hàng!") {
$('#common-success').css("height", "510px")
}
</script>