<style>
  .product-name {
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 2.5rem;
  }
</style>
<div class="inner" style="margin-top:5%">
  <div class="section">
    <div class="section-container">
      <div class="section-inner">
        <div class="product">
          <div class="heading-container">
            <div class="heading">
              <label id="product" class="heading" style="text-align: center; color: black; font-size: 45px" data-delay="80">{{ heading_title_product }}</label>
            </div>
          </div>
          <ul class="product-list" style="justify-content: center;">
            {% for product in products %}
            <li id="product{{ product.name }}">
              <a class="product-link" href="{{ product.href }}">
                <div class="product-img">
                  <img alt="{{ product.name }}" src="{{ product.thumb }}" data-size="lg">
                </div>
                <div class="product-body">
                  <p class="product-name">{{ product.name }}</p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

