<div id="msubscribe-{{ module }}" class="mp-list-group clearfix mp-subscribes">
	<h1>{{ text_subscribe }}</h1>	
	<label>{{ text_email }}</label>
	<input type="text" name="msubscribe" value="" placeholder="{{ text_subscribe }}" class="form-control input-md" />
    <br/>
    <div class="clearfix">
        <a class="mp-unsubscribe" style="color: red; cursor: pointer;">{{ button_unsubscribe }}</a>
	   <button type="button" class="btn btn-primary btn-md pull-right mp-subscribe">{{ button_subscribe }}</button>
    </div>
</div>