<div class="mp-list-group">
<h1>{{ heading_title_category }}</h1>
  {% for mpblogcategory in mpblogcategories %}
  {% if mpblogcategory.mpblogcategory_id == mpblogcategory_id %}
  <a href="{{ mpblogcategory.href }}" class="list-group-item active"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ mpblogcategory.name }}</a>
  {% if mpblogcategory.children %}
  {% for child in mpblogcategory.children %}
  {% if child.mpblogcategory_id == child_id %}
  <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% else %}
  <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %}
  <a href="{{ mpblogcategory.href }}" class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ mpblogcategory.name }}</a>
  {% endif %}
  {% endfor %}
</div>
