<div id="blogsearch">
	<h1>{{ text_search }}</h1>	
	<div  class="input-group">
	  <input type="text" name="blogsearch" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-md" data-url="{{ url }}" />
	  <span class="input-group-btn">
	    <button type="button" class="btn-search-blog btn-md" style="border-bottom-left-radius: 0; border-top-left-radius: 0;height: 37px;"><i class="fa fa-search"></i></button>
	  </span>
	</div>
</div>