<div>
  {# <div class="l-content-decoration">
    <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-lg" data-color="beige" width="1600" height="80" viewBox="0 0 1600 80" focusable="false"> 
      <path d="M824,36.8C549,71,308.2,55.3,308.2,55.3C168,52.4,13.8,21.9,0,19.1V80l1600,0V6.5C1201-18.5,824,36.8,824,36.8z"></path> 
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-sm" data-color="beige" width="750" height="70" viewBox="0 0 750 70" focusable="false"> 
      <path d="M699,0.1c0,0-75-3.4-345,43c0,0-108,15-242,13.5c-25-0.3-70-3.1-112-8.8V80h750V2.6C740.3,1.7,718,0.1,699,0.1z"></path> 
    </svg>
  </div> #}
</div>
<div class="inner" data-color="beige">
  <div class="section">
    <div class="section-container">
      <div class="section-inner">
        <div class="quality">
          <h2 class="quality-heading2"> <img class="quality-logo  enter" alt="shopmexuba" src="http://localhost:8085/nucos3/image/catalog/logo/logoS.jpg" style="transition-delay: 0ms;">
            <span class="enter" data-delay="20" style="transition-delay: 20ms;">{{ text_title_blog }}</span>
          </h2>
          <ul class="quality-content-list" data-layout="grid">
            <li class="quality-content  enter" data-color="green" style="transition-delay: 0ms;">
              <a class="quality-content-link" href="{{ mpblogposts[0].href }}">
                <div class="quality-content-img">
                  <img src="{{ mpblogposts[0].image_order }}" alt="{{ mpblogposts[0].name }}" style="border: 1px solid #ffa697;border-radius: 10px 10px 0 0;">
                </div>
                <div class="quality-content-body">
                  <p class="quality-content-ttl">{{ mpblogposts[0].name }}</p>
                  <p class="quality-content-txt">{{ mpblogposts[0].sdescription }}</p>
                </div>
              </a>
            </li>
            <li class="quality-content  enter" data-color="red" style="transition-delay: 0ms;">
              <a class="quality-content-link" href="{{ mpblogposts[1].href }}">
                <div class="quality-content-img">
                  <img src="{{ mpblogposts[1].image_order }}" alt="{{ mpblogposts[1].name }}" style="border: 1px solid #ffa697;border-radius: 10px 10px 0 0;">
                </div>
                <div class="quality-content-body">
                  <p class="quality-content-ttl">{{ mpblogposts[1].name }}</p>
                  <p class="quality-content-txt">{{ mpblogposts[1].sdescription }}</p>
                </div>
              </a>
            </li>
            <li class="quality-content  enter" data-color="pink" style="transition-delay: 0ms;">
              <a class="quality-content-link" href="{{ mpblogposts[2].href }}">
                <div class="quality-content-img">
                  <img src="{{ mpblogposts[2].image_order }}" alt="{{ mpblogposts[2].name }}" style="border: 1px solid #AAAAAA;border-radius: 10px 10px 0 0;">
                </div>
                <div class="quality-content-body">
                  <p class="quality-content-ttl">{{ mpblogposts[2].name }}</p>
                  <p class="quality-content-txt">{{ mpblogposts[2].sdescription }}</p>
                </div>
              </a>
            </li>
            <li class="quality-content  enter" data-color="orange" style="transition-delay: 170ms;">
              <a class="quality-content-link" href="{{ mpblogposts[3].href }}">
                <div class="quality-content-img">
                  <img src="{{ mpblogposts[3].image_order }}" alt="{{ mpblogposts[3].name }}" style="border: 1px solid #AAAAAA;border-radius: 10px 10px 0 0;">
                </div>
                <div class="quality-content-body">
                  <p class="quality-content-ttl">{{ mpblogposts[3].name }}</p>
                  <p class="quality-content-txt">{{ mpblogposts[3].sdescription }}</p>
                </div>
              </a>
            </li>
            <li class="quality-content  enter" data-color="gray" style="transition-delay: 170ms;">
              <a class="quality-content-link" href="{{ mpblogposts[4].href }}">
                <div class="quality-content-img">
                  <img src="{{ mpblogposts[4].image_order }}" alt="{{ mpblogposts[4].name }}" style="border: 1px solid #AAAAAA;border-radius: 10px 10px 0 0;">
                </div>
                <div class="quality-content-body">
                  <p class="quality-content-ttl">{{ mpblogposts[4].name }}</p>
                  <p class="quality-content-txt">{{ mpblogposts[4].sdescription }}</p>
                </div>
              </a>
            </li>
            <li class="quality-content enter" data-color="blue" style="transition-delay: 170ms;">
              <a class="quality-content-link" href="{{ mpblogposts[5].href }}">
                <div class="quality-content-img">
                  <img src="{{ mpblogposts[5].image_order }}" alt="{{ mpblogposts[5].name }}" style="border: 1px solid #AAAAAA;border-radius: 10px 10px 0 0;">
                </div>
                <div class="quality-content-body">
                  <p class="quality-content-ttl">{{ mpblogposts[5].name }}</p>
                  <p class="quality-content-txt">{{ mpblogposts[5].sdescription }}</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="section">
            <div class="section-container">
              <div class="section-inner">
                <div class="cm-gallery">
                  <div class="heading-container">
                    <div class="heading">
                      <h2 class="heading2" data-delay="80">CMギャラリー</h2>
                    </div>
                    <div class="heading-btn">
                      <a href="/cm/" class="m-txtLink-strong"><strong>一覧へ</strong></a></div>
                  </div>
                  <div class="cm-gallery-content">
                    <svg class="cm-gallery-hane" width="142" height="14" focusable="false">
                      <path d="M141.87 13.79C62.27 11.81 13 .94 13 .94 3.38-1.51.57.93 0 7.01v6.79h141.87z"></path>
                    </svg>
                    <div class="cm-gallery-body">
                      <p class="cm-gallery-ttl">ミルクチョコレート</p>
                      <a href="https://www.meiji.co.jp/products/brand/mchoco/" class="cm-gallery-link">「チョコレート鉄道の旅」篇 30秒</a>
                      <a href="https://www.meiji.co.jp/products/brand/mchoco/" class="cm-gallery-btn"><span class="cm-gallery-btn-txt">ブランドサイトへ</span></a>
                    </div>
                    <div class="cm-gallery-image" style="position: relative;"><img src="/assets/js/spacer.png" alt="" aria-hidden="true" oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 0; z-index: 1">
                      <img src="catalog/view/theme/default/stylesheet/cm/img/mchoco_rail_journey_30s.jpg" class="js-click-cancel  enter" alt="写真：「チョコレート鉄道の旅」篇 30秒 のサムネイル" style="transition-delay: 0ms;">
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
</div>
{# <div class="_container" data-color="beige">
  <div class="l-content-decoration">
    <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-lg" width="1600" height="80" viewBox="0 0 1600 80" focusable="false"> 
      <path class="st0" d="M1600,46.81L1600,46.81c-134.1-35.88-251.25,3.45-363,10.14c-133,7.96-249,5.95-249,5.95c-139,2.01-241-17.1-241-17.1C454-5.48,320,0.19,320,0.19C180.82,0.19,49.69,31.73,0,45.22V80h1600V46.81z"></path> 
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-sm" width="750" height="70" viewBox="0 0 750 70" focusable="false"> 
      <path d="M750,45.75c-11.74,3.84-44.82,13.16-70.68,17.34c-68.65,11.09-172.13,2.6-172.13,2.6C409,59,311.35,34.18,311.35,34.18C151-7,13.33,0.63,13.33,0.63C8.93,0.71,4.48,0.93,0,1.26V80h750V45.75z"></path> 
    </svg>
  </div>
</div> #}
</div>