<style>
  .btn-close i::before {
  	color: red !important;
  }
  .btn-close {
  	color: #000;
  }
  .heading2,
  .text-white,
  .mfp-close-btn-in .mfp-close {
  	color: #fff !important;
  }
  .mfp-close-btn-in .mfp-close {
  	font-size: 50px;
  }
</style>
<div id="pavpopup_{{ id }}" data-id="{{ id }}" class="hide" data-time-close="{{ time_close }}" data-time-open="{{ time_open }}" data-text-close="{{ text_close_in }}" data-display="{{ display }}">
  <div class="pavpopup-inner white-popup" style="position: relative; padding: 20px;width: auto;max-width: {{ width  }}px; margin: 20px auto;">
      <div class="popup-content-top">
          {% if heading_title is not empty %}
          <h2 class="text-white">{{ heading_title }}</h2>
          {% endif %}
          {% if html is not empty %}
          <div class="popup-content">{{ html }}</div>
          {% endif %}
      </div>  
      {% if module is not empty %}
      <div class="popup-content-module">
        {{ module }}
      </div>
      {% endif %}  
      {% if display =='alway_show_close' %}
       <a href="#" class="btn-close pull-right"><i class="fa fa-close text-white"></i> {{ text_close_dont_show }}</a>
      {% endif %}
   </div> 
</div>
<script type="text/javascript">
$(".popup-content-module .inner").removeClass()
$("#pavpopup_{{ id }}").pavoPopup().work();
</script>