
</div>
</div>
</div>
<main class="l-main" role="main">
  <div class="l-container">
    <div class="wrapper">
      <div class="main-visual js-main-visual main_response">
        <div class="main-visual-images">
          <ul class="main-visual-image-list js-main-visual-img-list" role="presentation">
            {% for banner in banners %}
            {% if banner.link %}
            <li class="js-main-visual-img" data-num="{{ banner.sort_order }}" data-scene="s0" data-svg="s1" role="presentation">
              <a href="{{ banner.link }}"><img width="100%" height="100%" style="margin-top: 0px; margin-left: 0px; background-size: cover;" src="{{ banner.image }}" alt="{{ banner.title }}" class="js-main-visual-illustration img-fullwidth" /></a>
            </li>
            {% else %}
            <li class="js-main-visual-img" data-num="{{ banner.sort_order }}" data-scene="s0" data-svg="s2" role="presentation">
              <img width="100%" height="100%" style="margin-top: 0px; margin-left: 0px; background-size: cover;" src="{{ banner.image }}" alt="{{ banner.title }}" class="js-main-visual-illustration img-fullwidth" />
            </li>
            {% endif %}
            {% endfor %} 
          </ul>
        </div>
        <div class="main-visual-blurs">
          <ul class="main-visual-blur-list js-main-visual-blur-list" role="presentation">
            <li class="js-main-visual-blur" style="background-size: cover;" data-num="1" role="presentation"></li>
            <li class="js-main-visual-blur" style="background-size: cover;" data-num="2" role="presentation"></li>
          </ul>
        </div>
        <div class="main-visual-inner js-main-visual-inner">
          <div class="main-visual-controller">
            <a class="main-visual-controller-btn js-main-visual-controller" style="z-index: 88">
              <img src="catalog/view/theme/default/stylesheet/img/icons/pause.svg" style="width: 43px;" class="js-main-visual-controller-icn" alt="停止" title="停止">
            </a>
          </div>
        </div>
      </div>
      {# <div class="content-decoration">
        <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-lg" preserveAspectRatio="none" data-color="beige" width="1600" height="80" viewBox="0 0 500 150" focusable="false">
          <path d="M-1.41,60.69 C109.76,256.08 340.57,-104.11 523.98,141.61 L500.00,150.00 L0.00,150.00 Z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-sm" preserveAspectRatio="none" data-color="beige" width="750" height="70" viewBox="0 0 500 150" focusable="false">
          <path d="M-1.41,60.69 C109.76,256.08 340.57,-104.11 523.98,141.61 L500.00,150.00 L0.00,150.00 Z"></path>
        </svg>
      </div> #}

<script type="text/javascript">
  if($(window).width() < 800)
  {
    $(".main-visual-controller-btn").css("display","none");
  }
</script>