<div class="pickup" data-color="beige" style="padding-top: 70px;"> 
  <section class="pickup-section">
    <div class="">
      <div class="banner js-slider">
        <div class="banner-container">
          <div id="slideshow2{{ module }}" class="swiper-container banner-inner">
            <div class="swiper-wrapper"> 
              {% for banner in banners %}
              <div class="swiper-slide text-center">
                {% if banner.link %}
                <a href="{{ banner.link }}"><img class="img_slide img_mobile" style="border-radius: 15px;" src="{{ banner.image }}" alt="{{ banner.title }}" /></a>
                {% else %}
                <img class="img_slide img_mobile" style="border-radius: 15px;" src="{{ banner.image }}" alt="{{ banner.title }}" />
                {% endif %}
              </div>
              {% endfor %} 
            </div>
          </div>
          <button class="m-banner-prev" tabindex="-1" aria-hidden="true"><img src="catalog/view/theme/default/stylesheet/img/icons/prev.svg" alt="前へ"></button>
          <button class="m-banner-next" tabindex="-1" aria-hidden="true"><img src="catalog/view/theme/default/stylesheet/img/icons/next.svg" alt="次へ"></button>
          <div class="swiper-pagination slideshow2{{ module }}"></div>
        </div>
        <script type="text/template" class="js-slider-pagination-template">
          <ul class="pagination js-slider-pagination"></ul>
        </script>
        <script type="text/template" class="js-slider-pagination-item-template">
          <li><button class="pagination-item js-slider-pagination-item is-pause" tabindex="-1" aria-hidden="true"></button></li>
        </script>
      </div>
    </div>
  </section>
  <div class="l-content-decoration"> 
    <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-lg" width="1600" height="80" viewBox="0 0 1600 80" focusable="false"> 
      <path d="M1046,70.5c0,0-149,2.4-445.3-40.4c0,0-270.8-36.8-451-29c0,0-67.4,2.5-149.7,17.3V80h1600V27.6C1409.2,28.3,1264,71,1046,70.5z"></path> 
    </svg> 
    <svg xmlns="http://www.w3.org/2000/svg" class="m-content-decoration-sm" width="750" height="70" viewBox="0 0 750 70" focusable="false"> 
      <path d="M750,54.9c-38.5,7.7-143.3,20.7-314-15c0,0-225.5-47.4-374.5-38.9c0,0-24.7,1.3-61.5,7.4V80h750V54.9z"></path> 
    </svg> 
  </div>
</div>

<script type="text/javascript">
  // slideshow 2
  var mq = window.matchMedia("(max-width: 1200px)")
  var mq1 = window.matchMedia("(min-width: 1200px)")
   if($(window).width() < 770)
  {		
  		$('.img_mobile').removeClass( "img_slide" );
  		$('.img_mobile').css('width','210px');
  		$('.img_mobile').css('height','72px');
     $('#slideshow2{{ module }}').swiper({
      mode: 'horizontal',
      slidesPerView: 1,
      pagination: '.slideshow2{{ module }}',
      paginationClickable: true,
      nextButton: '.m-banner-next',
      prevButton: '.m-banner-prev',
      spaceBetween: 100,
      autoplay: 3000,
      autoplayDisableOnInteraction: false,
      loop: true,
    });
  }
  else if (mq.matches == false) {
    $('.img_mobile').css('width','500px');
  	$('.img_mobile').css('height','150px');
    $('#slideshow2{{ module }}').swiper({
      mode: 'horizontal',
      slidesPerView: 2,
      pagination: '.slideshow2{{ module }}',
      paginationClickable: true,
      nextButton: '.m-banner-next',
      prevButton: '.m-banner-prev',
      autoplay: 5000,
      autoplayDisableOnInteraction: false,
      loop: true,
    });
  }
  else if (mq.matches == true) {
    $('#slideshow2{{ module }}').swiper({
      mode: 'horizontal',
      slidesPerView: 2,
      pagination: '.slideshow2{{ module }}',
      paginationClickable: true,
      nextButton: '.m-banner-next',
      prevButton: '.m-banner-prev',
      spaceBetween: 100,
      autoplay: 5000,
      autoplayDisableOnInteraction: false,
      loop: true,
    });
  }
  else if (mq1.matches == true) {
      
    $('#slideshow2{{ module }}').swiper({
      mode: 'horizontal',
      slidesPerView: 2,
      pagination: '.slideshow2{{ module }}',
      paginationClickable: true,
      nextButton: '.m-banner-next',
      prevButton: '.m-banner-prev',
      spaceBetween: 200,
      autoplay: 5000,
      autoplayDisableOnInteraction: false,
      loop: true,
  	  width: 800
    });
  }
</script>