<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}

			{% if mpmetas %}
			{% for mpmeta in mpmetas %}
			<meta {{ mpmeta.attribute }}="{{ mpmeta.attribute_value }}" content="{{ mpmeta.content }}" />
			{% endfor %}
			{% endif %}
			
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    <!-- Style layout same meiji.jp -->
    <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/css/common.css" type="text/css" data-tg-desktop_or_tablet_or_phone="show"/>
    <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/css/custom.css" type="text/css" data-tg-desktop_or_tablet_or_phone="show"/>
    <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/css/index.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">
    <!-- Style layout origin -->
    <script src="catalog/view/theme/default/javascript/js/vendor.min.js"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
    {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    {% for analytic in analytics %}
    {{ analytic }}
    {% endfor %}
    <style>
      button.dropdown-toggle:hover + ul.dropdown-menu{	
      display:block 
      }
      p{
      word-break: break-word;
      }
      .top-acc{
      width: 100%
      }
      .logo-link{
      margin-right: 3px;
      padding-top:2px;
      }
      .input-readonly[readonly]{
      background-color: #fff;
      }
      button:focus, label:focus {
      outline: blue;
      }
      #button-comment{
      background-color: #378EA0;
      border-radius:20px; 
      font-size: 15px;
      }
      #button-rating{
      background-color: #378EA0;
      border-radius:20px; 
      font-size: 15px;
      }
      #button-confirm{
      background-color: #378EA0;
      border-radius:20px; 
      font-size: 15px;
      }
      #button-guest{
      background-color: #378EA0;
      border-radius:20px; 
      font-size: 15px;
      }
      .btn-primary:hover{
      border-color: #378EA0;
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SNTG5Y26H4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SNTG5Y26H4');
</script>
    <script>
      $(document).ready(function() {
      	$(".paypal-button.paypal-button-color-gold").css("background", "#378EA0")
      })
      $(document).scroll(function() {
          var y = $(this).scrollTop();
          if (y > 800) {
            $('.js-pagetop').removeClass("is-hidden");
      		$('.js-pagetop').addClass("is-fixed");
          } else {
            $('.js-pagetop').removeClass("is-fixed");
      		$('.js-pagetop').addClass("is-hidden");
        }
      });
      $(function () {
      	 	$('#pagetotop').click(function () {
              $("html,body").animate({
                  scrollTop: 0
              }, "slow");
            });
      }); 
    </script>
  </head>
  <body class="t-top">
    <nav id="top">
      <div class="top-header">{{ currency }}
        {{ language }}
        <div id="top-links" class="nav pull-right">
          <ul class="list-inline">
            <li><a href="/contact"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
            <li><a href="/checkout" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
            <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                {% if logged %}
                <li class="top-acc"><a href="/account">{{ text_account }}</a></li>
                <li class="top-acc"><a href="/order">{{ text_order }}</a></li>
                <li class="top-acc"><a href="/logout">{{ text_logout }}</a></li>
                {% else %}
                <li class="top-acc"><a href="/register">{{ text_register }}</a></li>
                <li class="top-acc"><a href="/login">{{ text_login }}</a></li>
                {% endif %}
      
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header id="js-header" role="banner">
      <div class="l-header-container">
        <div class="l-header-inner">
          <h1 class="l-header-heading">
            <a href="index.html" class="l-header-logo">
              {% if logo %}<a href="/"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="m-header-logo" /></a>{% else %}
              <h1><a href="{{ home }}">{{ name }}</a></h1>
              {% endif %}
            </a>
          </h1>
          <div class="l-header-content">
            <button class="m-header-btn js-header-btn" aria-controls="header-menu" aria-expanded="false" style="width: 40px;">
              <span class="m-header-btn-wrap js-header-btn-wrap">
                <span class="m-header-btn-icon js-header-btn-icon" style="transform: matrix(1, 0, 0, 1, 0, 0); background-color: rgb(102, 102, 102); top: 0px;"></span>
                <span class="m-header-btn-icon js-header-btn-icon" style="background-color: rgb(102, 102, 102);"></span>
                <span class="m-header-btn-icon js-header-btn-icon" style="transform: matrix(1, 0, 0, 1, 0, 0); background-color: rgb(102, 102, 102); bottom: 0px;"></span>
              </span>
            </button>
            <div id="header-menu" class="l-header-nav js-header-nav" aria-hidden="false" style="background-color: #fff; margin-top: 50px;">
              <div class="l-header-nav-grid">
                <div class="l-header-nav-item-1">
                  {{ menu }}
                </div>
                <div class="l-header-nav-item-2">
                  <div class="l-header-link-list">
                    <ul class="m-header-link-list">
                      <li>{{ cart }}</li>
                      <li>{{ search }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>