{{ header }}
<style>
  .list-unstyled li a {
  	color: black;
  }
  .list-unstyled li a:hover {
  	color: #3399ff;
  }
</style>
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="account-account" class="container" style="padding-bottom: 17px;">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h2>{{ text_my_account }}</h2>
        <ul class="list-unstyled" style="line-height: 1.7;">
          <li><a href="{{ edit }}">{{ text_edit }}</a></li>
          <li><a href="{{ password }}">{{ text_password }}</a></li>
          <li><a href="{{ address }}">{{ text_address }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
        </ul>
        {% if credit_cards %}
        <h1>{{ text_credit_card }}</h1>
        <ul class="list-unstyled" style="line-height: 1.7;">
          {% for credit_card in credit_cards %}
          <li><a href="{{ credit_card.href }}">{{ credit_card.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        <h2>{{ text_my_orders }}</h2>
        <ul class="list-unstyled" style="line-height: 1.7;">
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ download }}">{{ text_download }}</a></li>
          {% if reward %}
          <li><a href="{{ reward }}">{{ text_reward }}</a></li>
          {% endif %}
         
          <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
          
        </ul>
        
        
        <h2>{{ text_my_newsletter }}</h2>
        <ul class="list-unstyled">
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}