{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 30px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="account-address" class="container" style="padding-bottom: 15px;">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ text_address_book }}</h1>
        {% if addresses %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            {% for result in addresses %}
            <tr>
              <td class="text-left">{{ result.address }}</td>
              <td class="text-right"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% else %}
        <p>{{ text_empty }}</p>
        {% endif %}
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-pink" style="font-size: 15px;">{{ button_back }}</a></div>
          <div class="pull-right"><a href="{{ add }}" class="btn btn-pink" style="font-size: 15px; border-radius: 20px;">{{ button_new_address }}</a></div>
        </div>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}