{{ header }}
<style>
  .fotgot-pwd {
  	color: black;
  	line-height: 1.5;
  }
  .fotgot-pwd:hover {
  	color: #3399ff;
  }
</style>
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 30px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="account-login" class="container">
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <h2>{{ text_new_customer }}</h2>
              <p><strong>{{ text_register }}</strong></p>
              <p>{{ text_register_account }}</p>
              <a href="{{ register }}" class="btn btn-pink" style="border-radius:20px; font-size: 15px">{{ button_continue }}</a></div>
          </div>
          <div class="col-sm-6">
            <div class="well">
              <h2>{{ text_returning_customer }}</h2>
              <p><strong>{{ text_i_am_returning_customer }}</strong></p>
              <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label class="control-label" for="input-email">{{ entry_email }}</label>
                  <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="control-label" for="input-password">{{ entry_password }}</label>
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                  <a class="fotgot-pwd" href="{{ forgotten }}">{{ text_forgotten }}</a></div>
                <input type="submit" value="{{ button_login }}" class="btn btn-pink" style="border-radius:20px; font-size: 15px" />
                {% if redirect %}
                <input type="hidden" name="redirect" value="{{ redirect }}" />
                {% endif %}
              </form>
            </div>
          </div>
        </div>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}