{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 30px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="account-newsletter" class="container" style="padding-bottom: 15px;">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ heading_title }}</h1>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
              <div class="col-sm-10">
                {% if newsletter %}
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="1" checked="checked" />
                  {{ text_yes }} </label>
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="0" />
                  {{ text_no }}</label>
                {% else %}
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="1" />
                  {{ text_yes }} </label>
                <label class="radio-inline">
                  <input type="radio" name="newsletter" value="0" checked="checked" />
                  {{ text_no }}</label>
                {% endif %}
              </div>
            </div>
          </fieldset>
          <div class="buttons clearfix">
            <div class="pull-left"><a href="{{ back }}" class="btn btn-pink" style="font-size: 15px;">{{ button_back }}</a></div>
            <div class="pull-right">
              <input type="submit" value="{{ button_continue }}" class="btn btn-pink"  style="font-size: 15px; border-radius: 20px;" />
            </div>
          </div>
        </form>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}