{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 30px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="account-transaction" class="container" style="padding-bottom: 15px;">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ heading_title }}</h1>
        <p>{{ text_total }} <b>{{ total }}</b>.</p>
        <div class="table-responsive">
          <table class="table table-bordered table-hover" style="background-color: #fff">
            <thead style="font-weight: bold">
              <tr>
                <td class="text-center">{{ column_date_added }}</td>
                <td class="text-center">{{ column_description }}</td>
                <td class="text-center">{{ column_amount }}</td>
              </tr>
            </thead>
            <tbody>

              {% if transactions %}
              {% for transaction in transactions %}
              <tr>
                <td class="text-center">{{ transaction.date_added }}</td>
                <td class="text-center">{{ transaction.description }}</td>
                <td class="text-center">{{ transaction.amount }}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="5">{{ text_empty }}</td>
              </tr>
              {% endif %}
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
        <div class="buttons clearfix">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-pink" style="font-size: 15px;">{{ button_continue }}</a></div>
        </div>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}