{{ header }}{{ column_left }}
<div id="content" class="mp-content">
  {{ mpblogmenu }}
  <div class="mpblog-body">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-mpblogpost" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }} <sup> <i class="fa fa-eye"></i> ({{ viewed }})</sup></h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-mpblogpost" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
            <li><a href="#tab-links" data-toggle="tab">{{ tab_links }}</a></li>
            <li><a href="#tab-image" data-toggle="tab">{{ tab_image }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="mpblogpost_description[{{ language.language_id }}][name]" value="{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="text-danger">{{ error_name[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-sdescription{{ language.language_id }}">{{ entry_sdescription }}</label>
                    <div class="col-sm-10">
                      <textarea rows="5" name="mpblogpost_description[{{ language.language_id }}][sdescription]" placeholder="{{ entry_sdescription }}" id="input-sdescription{{ language.language_id }}" class="form-control">{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].sdescription }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="mpblogpost_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="mpblogpost_description[{{ language.language_id }}][meta_title]" value="{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                      {% if error_meta_title[language.language_id] %}
                      <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="mpblogpost_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="mpblogpost_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].meta_keyword }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-tag{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_tag }}">{{ entry_tag }}</span></label>
                    <div class="col-sm-10">
                      <input type="text" name="mpblogpost_description[{{ language.language_id }}][tag]" value="{{ mpblogpost_description[language.language_id] ? mpblogpost_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-tag{{ language.language_id }}" class="form-control" />
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane" id="tab-data">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-author">{{ entry_author }}</label>
                <div class="col-sm-10">
                  <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
                  {% if error_author %}
                  <div class="text-danger">{{ error_author }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-video"><span data-toggle="tooltip" title="{{ help_video }}">{{ entry_video }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="video" value="{{ video }}" placeholder="{{ entry_video }}" id="input-video" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-date-available">{{ entry_date_available }}</label>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <input type="text" name="date_available" value="{{ date_available }}" placeholder="{{ entry_date_available }}" data-date-format="YYYY-MM-DD" id="input-date-available" class="form-control" />
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                    </span></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-posttype"><span data-toggle="tooltip" title="{{ help_posttype }}">{{ entry_posttype }}</span></label>
                <div class="col-sm-10">
                  <select name="posttype" id="input-posttype" class="form-control">
                    <option value="ARTICAL" {% if posttype == 'ARTICAL' %} selected = "selected" {% endif %}>{{ text_post_artical }}</option>
                    <option value="VIDEO" {% if posttype == 'VIDEO' %} selected = "selected" {% endif %}>{{ text_post_video }}</option>
                    <option value="IMAGES" {% if posttype == 'IMAGES' %} selected = "selected" {% endif %}>{{ text_post_images }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_yes }}</option>
                    <option value="0">{{ text_no }}</option>
                    {% else %}
                    <option value="1">{{ text_yes }}</option>
                    <option value="0" selected="selected">{{ text_no }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                   {% if error_sort %}
                      <div class="text-danger">{{ error_sort }}</div>
                   {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image_order">{{ entry_image_order }}</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-image_order" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_image_order }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="image_order" value="{{ image_order }}" id="input-image_order" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-links">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-mpblogcategory"><span data-toggle="tooltip" title="{{ help_mpblogcategory }}">{{ entry_mpblogcategory }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="mpblogcategory" value="" placeholder="{{ entry_mpblogcategory }}" id="input-mpblogcategory" class="form-control" />
                  <div id="mpblogpost-mpblogcategory" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for mpblogpost_mpblogcategory in mpblogpost_mpblogcategories %}
                    <div id="mpblogpost-mpblogcategory{{ mpblogpost_mpblogcategory.mpblogcategory_id }}"><i class="fa fa-minus-circle"></i> {{ mpblogpost_mpblogcategory.name }}
                      <input type="hidden" name="mpblogpost_mpblogcategory[]" value="{{ mpblogpost_mpblogcategory.mpblogcategory_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for store in stores %}
                    <div class="checkbox">
                      <label>
                        {% if store.store_id in mpblogpost_store %}
                        <input type="checkbox" name="mpblogpost_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="mpblogpost_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-related"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_related }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="related" value="" placeholder="{{ entry_related }}" id="input-related" class="form-control" />
                  <div id="mpblogpost-related" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for mpblogpost_related in mpblogpost_relateds %}
                    <div id="mpblogpost-related{{ mpblogpost_related.mpblogpost_id }}"><i class="fa fa-minus-circle"></i> {{ mpblogpost_related.name }}
                      <input type="hidden" name="mpblogpost_related[]" value="{{ mpblogpost_related.mpblogpost_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-relatedcategory"><span data-toggle="tooltip" title="{{ help_relatedcategory }}">{{ entry_relatedcategory }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="relatedcategory" value="" placeholder="{{ entry_relatedcategory }}" id="input-relatedcategory" class="form-control" />
                  <div id="mpblogpost-relatedcategory" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for mpblogpost_relatedcategory in mpblogpost_relatedcategories %}
                    <div id="mpblogpost-relatedcategory{{ mpblogpost_relatedcategory.category_id }}"><i class="fa fa-minus-circle"></i> {{ mpblogpost_relatedcategory.name }}
                      <input type="hidden" name="mpblogpost_relatedcategory[]" value="{{ mpblogpost_relatedcategory.category_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-relatedproduct"><span data-toggle="tooltip" title="{{ help_relatedproduct }}">{{ entry_relatedproduct }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="relatedproduct" value="" placeholder="{{ entry_relatedproduct }}" id="input-relatedproduct" class="form-control" />
                  <div id="mpblogpost-relatedproduct" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for mpblogpost_relatedproduct in mpblogpost_relatedproducts %}
                    <div id="mpblogpost-relatedproduct{{ mpblogpost_relatedproduct.product_id }}"><i class="fa fa-minus-circle"></i> {{ mpblogpost_relatedproduct.name }}
                      <input type="hidden" name="mpblogpost_relatedproduct[]" value="{{ mpblogpost_relatedproduct.product_id }}" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-image">
              <div class="table-responsive">
                <table id="images" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_additional_image }}</td>
                      <td class="text-right">{{ entry_sort_order }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set image_row = 0 %}
                    {% for mpblogpost_image in mpblogpost_images %}
                    <tr id="image-row{{ image_row }}">
                      <td class="text-left"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ mpblogpost_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="mpblogpost_image[{{ image_row }}][image]" value="{{ mpblogpost_image.image }}" id="input-image{{ image_row }}" /></td>
                      <td class="text-right"><input type="text" name="mpblogpost_image[{{ image_row }}][sort_order]" value="{{ mpblogpost_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" /></td>
                      <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                    </tr>
                    {% set image_row = image_row + 1 %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="{{ button_image_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="mpblogpost_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if mpblogpost_seo_url[store.store_id][language.language_id] %}{{ mpblogpost_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %} 
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
// Category
$('input[name=\'mpblogcategory\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpblog/mpblogcategory/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['mpblogcategory_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'mpblogcategory\']').val('');

		$('#mpblogpost-mpblogcategory' + item['value']).remove();

		$('#mpblogpost-mpblogcategory').append('<div id="mpblogpost-mpblogcategory' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="mpblogpost_mpblogcategory[]" value="' + item['value'] + '" /></div>');
	}
});

$('#mpblogpost-mpblogcategory').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

// Related
$('input[name=\'related\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpblog/mpblogpost/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['mpblogpost_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'related\']').val('');

    $('#mpblogpost-related' + item['value']).remove();

    $('#mpblogpost-related').append('<div id="mpblogpost-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="mpblogpost_related[]" value="' + item['value'] + '" /></div>');
  }
});

$('#mpblogpost-related').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

// Related Category
$('input[name=\'relatedcategory\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=mpblog/mpblogpost/autocompleteCategory&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'relatedcategory\']').val('');

		$('#mpblogpost-relatedcategory' + item['value']).remove();

		$('#mpblogpost-relatedcategory').append('<div id="mpblogpost-relatedcategory' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="mpblogpost_relatedcategory[]" value="' + item['value'] + '" /></div>');
	}
});

$('#mpblogpost-relatedcategory').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});


// Related Product
$('input[name=\'relatedproduct\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=mpblog/mpblogpost/autocompleteProduct&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'relatedproduct\']').val('');

    $('#mpblogpost-relatedproduct' + item['value']).remove();

    $('#mpblogpost-relatedproduct').append('<div id="mpblogpost-relatedproduct' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="mpblogpost_relatedproduct[]" value="' + item['value'] + '" /></div>');
  }
});

$('#mpblogpost-relatedproduct').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});

//--></script>
 <script type="text/javascript"><!--
var image_row = {{ image_row }};

function addImage() {
  html  = '<tr id="image-row' + image_row + '">';
  html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="mpblogpost_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
  html += '  <td class="text-right"><input type="text" name="mpblogpost_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
  html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

  $('#images tbody').append(html);

  image_row++;
}
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});

$('.time').datetimepicker({
  pickDate: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});
//--></script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div></div>
{{ footer }}