<div class="mp-left-content clearfix">
	<div class="mpblog-title">
		<h3>{{ text_mpblog }}</h3>
	</div>
	<ul id="mpblog-menu">
		{% for menu in menus %}
			<li id="{{ menu.id }}">
				{% if menu.href %}
				<a class="clearfix" href="{{ menu.href }}"><i class="fa {{ menu.icon }} fw"></i> <span>{{ menu.name }}</span></a>
				{% else %}
				<a class="parent"><i class="fa {{ menu.icon }} fw"></i> <span>{{ menu.name }}</span></a>
				{% endif %}
				{% if menu.children %}
				<ul>
					{% for children_1 in menu.children %}
					<li>
						{% if children_1.href %}
						<a href="{{ children_1.href }}">{{ children_1.name }}</a>
						{% else %}
						<a class="parent">{{ children_1.name }}</a>
						{% endif %}
						{% if children_1.children %}
						<ul>
							{% for children_2 in children_1.children %}
							<li>
								{% if children_2.href %}
								<a href="{{ children_2.href }}">{{ children_2.name }}</a>
								{% else %}
								<a class="parent">{{ children_2.name }}</a>
								{% endif %}
								{% if children_2.children %}
								<ul>
									{% for children_3 in children_2.children %}
									<li><a href="{{ children_3.href }}">{{ children_3.name }}</a></li>
									{% endfor %}
								</ul>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
	</ul>                  
</div>