.mt-0{
    margin-top:0px;
}
.mt-5{
    margin-top:5px;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
.mt-25{
    margin-top:25px;
}
.mt-30{
    margin-top:30px;
}
.mt-35{
    margin-top:35px;
}
.mt-40{
    margin-top:40px;
}
.mt-45{
    margin-top:45px;
}
.mt-50{
    margin-top:50px;
}
.mt-55{
    margin-top:55px;
}
.mt-60{
    margin-top:60px;
}
.mt-65{
    margin-top:65px;
}
.mt-70{
    margin-top:70px;
}
.mt-75{
    margin-top:75px;
}
.mt-80{
    margin-top:80px;
}
.mt-85{
    margin-top:85px;
}
.mt-90{
    margin-top:90px;
}
.mt-95{
    margin-top:95px;
}
.mt-100{
    margin-top:100px;
}
.mb-0{
    margin-bottom:0px;
}
.mb-5{
    margin-bottom:5px;
}
.mb-10{
    margin-bottom:10px;
}
.mb-15{
    margin-bottom:15px;
}
.mb-20{
    margin-bottom:20px;
}
.mb-25{
    margin-bottom:25px;
}
.mb-30{
    margin-bottom:30px;
}
.mb-35{
    margin-bottom:35px;
}
.mb-40{
    margin-bottom:40px;
}
.mb-45{
    margin-bottom:45px;
}
.mb-50{
    margin-bottom:50px;
}
.mb-55{
    margin-bottom:55px;
}
.mb-60{
    margin-bottom:60px;
}
.mb-65{
    margin-bottom:65px;
}
.mb-70{
    margin-bottom:70px;
}
.mb-75{
    margin-bottom:75px;
}
.mb-80{
    margin-bottom:80px;
}
.mb-85{
    margin-bottom:85px;
}
.mb-90{
    margin-bottom:90px;
}
.mb-95{
    margin-bottom:95px;
}
.mb-100{
    margin-bottom:100px;
}
.ml-0{
    margin-left:0px;
}
.ml-5{
    margin-left:5px;
}
.ml-10{
    margin-left:10px;
}
.ml-15{
    margin-left:15px;
}
.ml-20{
    margin-left:20px;
}
.ml-25{
    margin-left:25px;
}
.ml-30{
    margin-left:30px;
}
.ml-35{
    margin-left:35px;
}
.ml-40{
    margin-left:40px;
}
.ml-45{
    margin-left:45px;
}
.ml-50{
    margin-left:50px;
}
.ml-55{
    margin-left:55px;
}
.ml-60{
    margin-left:60px;
}
.ml-65{
    margin-left:65px;
}
.ml-70{
    margin-left:70px;
}
.ml-75{
    margin-left:75px;
}
.ml-80{
    margin-left:80px;
}
.ml-85{
    margin-left:85px;
}
.ml-90{
    margin-left:90px;
}
.ml-95{
    margin-left:95px;
}
.ml-100{
    margin-left:100px;
}
.mr-0{
    margin-right:0px;
}
.mr-5{
    margin-right:5px;
}
.mr-10{
    margin-right:10px;
}
.mr-15{
    margin-right:15px;
}
.mr-20{
    margin-right:20px;
}
.mr-25{
    margin-right:25px;
}
.mr-30{
    margin-right:30px;
}
.mr-35{
    margin-right:35px;
}
.mr-40{
    margin-right:40px;
}
.mr-45{
    margin-right:45px;
}
.mr-50{
    margin-right:50px;
}
.mr-55{
    margin-right:55px;
}
.mr-60{
    margin-right:60px;
}
.mr-65{
    margin-right:65px;
}
.mr-70{
    margin-right:70px;
}
.mr-75{
    margin-right:75px;
}
.mr-80{
    margin-right:80px;
}
.mr-85{
    margin-right:85px;
}
.mr-90{
    margin-right:90px;
}
.mr-95{
    margin-right:95px;
}
.mr-100{
    margin-right:100px;
}
