.cm-gallery-link::before,
.cm-gallery-btn-txt::before,
.product-name::before,
.link-txt-btn::before,
.image-link-txt::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    min-width: 22px;
    background: #ffa697 url("../img/icons/angle_right_white.svg") center center no-repeat;
    background-size: 8px 12px;
    border-radius: 50%
}

@media screen and (max-width: 767px) {
    .cm-gallery-link::before,
    .cm-gallery-btn-txt::before,
    .product-name::before,
    .link-txt-btn::before,
    .image-link-txt::before {
        width: 20px;
        min-width: 20px;
        height: 20px;
        background-size: 6px 9px
    }
}

.cm-gallery-link,
.cm-gallery-btn-txt,
.product-name,
.link-txt-btn,
.image-link-txt {
    padding-left: 32px
}

@media screen and (max-width: 767px) {
    .cm-gallery-link,
    .cm-gallery-btn-txt,
    .product-name,
    .link-txt-btn,
    .image-link-txt {
        padding-left: 30px
    }
}

.cm-gallery-link::before,
.cm-gallery-btn-txt::before,
.product-name::before,
.link-txt-btn::before,
.image-link-txt::before {
    position: absolute;
    top: calc((1em * 1.5 - 22px) / 2);
    left: 0
}

@media screen and (max-width: 767px) {
    .cm-gallery-link::before,
    .cm-gallery-btn-txt::before,
    .product-name::before,
    .link-txt-btn::before,
    .image-link-txt::before {
        top: calc((1em * 1.5 - (22px - 2px)) / 2)
    }
}

.link-txt::before {
    content: "";
    display: block;
    background: url("../img/icons/angle_right_red.svg") no-repeat;
    width: 8px;
    height: 12px;
    background-size: 8px 12px
}

@media screen and (max-width: 767px) {
    .link-txt::before {
        width: 6px;
        height: 9px;
        background-size: 6px 9px
    }
}

.quality-content-ttl::before {
    content: "";
    display: block;
    background: url("../img/icons/angle_right_white.svg") no-repeat;
    width: 8px;
    height: 12px;
    background-size: 8px 12px
}

@media screen and (max-width: 767px) {
    .quality-content-ttl::before {
        width: 6px;
        height: 9px;
        background-size: 6px 9px
    }
}

.quality-content-ttl,
.link-txt {
    padding-left: 20px
}

@media screen and (max-width: 767px) {
    .quality-content-ttl,
    .link-txt {
        padding-left: 13px
    }
}

.quality-content-ttl::before,
.link-txt::before {
    position: absolute;
    left: 0;
    top: calc((1em * 1.5 - 12px) / 2)
}

@media screen and (max-width: 767px) {
    .quality-content-ttl::before,
    .link-txt::before {
        top: calc((1em * 1.5 - (12px - 3px)) / 2)
    }
}

.link-feed-btn::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    min-width: 22px;
    background: #e30200 url("../img/icons/feed_white.svg") center center no-repeat;
    background-size: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .link-feed-btn::before {
        width: 20px;
        min-width: 20px;
        height: 20px
    }
}

.link-feed-btn {
    padding-left: 32px
}

@media screen and (max-width: 767px) {
    .link-feed-btn {
        padding-left: 30px
    }
}

.link-feed-btn::before {
    position: absolute;
    top: calc((1em * 1.5 - 22px) / 2);
    left: 0
}

@media screen and (max-width: 767px) {
    .link-feed-btn::before {
        top: calc((1em * 1.5 - (22px - 2px)) / 2)
    }
}

body.is-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0
}

.section-inner,
.aside-inner,
.main-visual-inner,
.pickup-inner {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px
}

@media screen and (max-width: 767px) {
    .section-inner,
    .aside-inner,
    .main-visual-inner,
    .pickup-inner {
        padding: 0 15px
    }
}

.preload-svg>svg {
    display: none
}

@media screen and (max-width: 767px) {
    .main {
        margin-bottom: 30px;
    }
}

._container[data-color="beige"] {
    background-color: #DBF9FB;
}

.inner {
    padding: 10px 0;
    background-color: #fff;
}

.inner[data-color="beige"] {
    background-color: #DBF9FB;
}

@media screen and (max-width: 767px) {
    .inner {
        padding: 40px 0;
    }
}

.section-hr {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px;
    border: 0;
    height: 5px;
}

@media screen and (max-width: 1023px) {
    .section-hr {
        padding: 80px 15px;
    }
}

@media screen and (max-width: 767px) {
    .section-hr {
        padding: 40px 0;
        height: 3px;
    }
}

.section-hr::before {
    content: "";
    display: block;
    background: url("../img/icons/dot.svg") repeat-x;
    background-size: 10px 5px;
    width: 100%;
    height: 5px;
}

@media screen and (max-width: 767px) {
    .section-hr::before {
        background-size: 5px 3px;
        height: 3px;
    }
}

.aside-container {
    margin-bottom: 80px;
}

.aside-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto;
    grid-template-rows: auto 60px auto 60px auto;
}

@media screen and (max-width: 767px) {
    .aside-grid {
        -ms-grid-rows: auto 30px auto 30px auto;
        grid-template-rows: auto 30px auto 30px auto
    }
}

.aside-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2
}

.aside-item-1>:last-child {
    margin-bottom: 0
}

.aside-item-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4
}

.aside-item-2>:last-child {
    margin-bottom: 0
}

.aside-item-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6
}

.aside-item-3>:last-child {
    margin-bottom: 0
}

.banner-prev,
.banner-next {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 50px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -50px
}

.is-disabled.banner-prev,
.is-disabled.banner-next {
    pointer-events: none
}

@media screen and (max-width: 767px) {
    .banner-prev,
    .banner-next {
        width: 25px;
        height: 50px;
        margin-top: -25px
    }
}

@media screen and (max-width: 767px) {
    .banner {
        margin-bottom: 25px
    }
}

.banner-container {
    position: relative;
    margin-bottom: 25px
}

@media screen and (max-width: 767px) {
    .banner-container {
        margin-bottom: 15px
    }
}

.banner-inner {
    position: relative;
    overflow: hidden;
    max-width: 1538px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: content-box;
    width: calc(100vw - 30px * 2)
}

.product_preview {
    display: block;
    float: left;
    width: 100%;
}

.recently-viewed-products .heading {
    float: none !important;
}

.recently-viewed-products .title_recently {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 999;
    padding: 0 35px 0 0;
    font-size: 28px;
    font-family: "Prata", serif;
    text-transform: uppercase;
}

.heading h2 {
    display: block;
    background: #fff;
    position: relative;
    z-index: 999;
    padding: 0;
    font-size: 30px !important;
    font-family: "Prata", serif;
    text-transform: none !important;
    font-weight: 400 !important;
}

.title-head {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 9px;
    color: #252525;
    text-decoration: none;
}

.heading h2 a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.heading .border-bottom-3line-blog {
    width: 100%;
    display: block;
    z-index: 9;
    position: absolute;
    top: 45%;
    right: 0;
}

.border-bottom-1px {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2px;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.product-mini-item .product-img2 {
    width: 100px;
    margin-right: 20px;
    float: left;
}

#recent-content .product-mini-item {
    border-bottom: none;
}

@media screen and (max-width: 767px) {
    .banner-inner {
        margin: 0 30px;
        box-sizing: border-box
    }
}

.banner-link {
    display: block;
    text-decoration: none;
    position: relative
}

.banner-link:hover .banner-desc-btn,
.banner-link:focus .banner-desc-btn {
    text-decoration: underline
}

.banner-img>img {
    border-radius: 10px;
    width: 100%
}

.banner-desc {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    min-width: 400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 40px 40px
}

.banner-desc-txt {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold
}

@media screen and (max-width: 767px) {
    .banner-desc-txt {
        font-size: 16px;
        margin-bottom: 10px
    }
}

.banner-desc>:last-child {
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .banner-desc {
        left: 50%;
        min-width: 90%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 14px 15px 15px
    }
}

.banner-list {
    margin: 0 -20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 9999px
}

@media screen and (max-width: 767px) {
    .banner-list {
        margin: 0 -5px
    }
}

.banner-list[data-display-num="2"]>li {
    max-width: 580px;
    margin: 0 20px;
    width: calc(50% - 20px * 2)
}

.banner-list[data-display-num="1"]>li {
    max-width: 1200px;
    margin: 0 20px;
    width: calc(100% - 20px * 2)
}

@media screen and (max-width: 767px) {
    .banner-list[data-display-num="1"]>li {
        margin: 0 5px;
        max-width: 767px;
        width: calc(100% - 5px * 2)
    }
}

@media screen and (max-width: 767px) {
    .banner-list[data-display-num-sm="1"]>li {
        margin: 0 5px;
        max-width: 767px;
        width: calc(100% - 5px * 2)
    }
}

.banner-prev {
    left: 0
}

.banner-prev>img {
    width: 50px;
    height: 100px
}

@media screen and (max-width: 767px) {
    .banner-prev>img {
        width: 25px;
        height: 50px
    }
}

.banner-next {
    right: 0
}

.banner-next>img {
    width: 50px;
    height: 100px
}

@media screen and (max-width: 767px) {
    .banner-next>img {
        width: 25px;
        height: 50px
    }
}

.banner-controller {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative
}

.banner-controller-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    right: 30px;
    top: 15px;
    width: 30px;
    height: 30px
}

@media screen and (max-width: 767px) {
    .banner-controller-btn {
        top: 5px
    }
}

.banner-controller-btn>img {
    width: 30px;
    height: 30px
}

@media print {
    .banner-next,
    .banner-prev,
    .banner-controller {
        display: none
    }
}

.brand-list {
    margin: -30px -15px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap
}

@media screen and (max-width: 767px) {
    .brand-list {
        margin: -15px -7.5px 0
    }
}

.brand-list>li {
    margin: 30px 15px 0;
    width: calc(100% / 4 - 15px * 2)
}

@media screen and (max-width: 1023px) {
    .brand-list>li {
        width: calc(100% / 3 - 15px * 2)
    }
}

@media screen and (max-width: 767px) {
    .brand-list>li {
        margin: 15px 7.5px 0;
        width: calc(100% / 2 - 7.5px * 2)
    }
}

.brand-link {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #dfdacb
}

@media screen and (max-width: 767px) {
    .brand-link {
        border-radius: 5px
    }
}

.brand-img {
    width: 100%
}

@media screen and (max-width: 1023px) {
    .campaign-list>li:nth-child(n+4) {
        display: none
    }
}

.cm-gallery-hane {
    width: 140px;
    height: 14px;
    position: absolute;
    left: 0;
    top: -13px;
    fill: #ffe4da
}

@media screen and (max-width: 767px) {
    .cm-gallery-hane {
        width: 70px;
        height: 7px;
        top: -6px
    }
}

.cm-gallery-content {
    position: relative;
    background: #ffe4da;
    border-radius: 0 10px 10px 10px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse
}

@media screen and (max-width: 767px) {
    .cm-gallery-content {
        flex-direction: column-reverse;
        padding: 15px;
        border-radius: 0 5px 5px 5px
    }
}

.cm-gallery-image {
    width: 50%;
    border-radius: 10px;
    overflow: hidden
}

.cm-gallery-image>img {
    width: 100%
}

@media screen and (max-width: 767px) {
    .cm-gallery-image {
        border-radius: 5px;
        width: 100%
    }
}

.cm-gallery-body {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cm-gallery-body {
        width: 100%;
        padding: 0;
        margin-top: 30px
    }
}

.cm-gallery-ttl {
    font-size: 20px;
    margin: auto 0 20px
}

@media screen and (max-width: 767px) {
    .cm-gallery-ttl {
        font-size: 16px;
        margin: 0 0 12px
    }
}

.cm-gallery-link {
    text-decoration: none;
    color: #000;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    max-width: 100%
}

@media screen and (max-width: 767px) {
    .cm-gallery-link {
        font-size: 18px
    }
}

.cm-gallery-btn {
    text-decoration: none;
    color: #000;
    border: 1px solid #e30200;
    background-color: #fff;
    border-radius: 100px;
    padding: 13px 23px 13px 13px;
    margin: auto 0 0
}

@media screen and (max-width: 767px) {
    .cm-gallery-btn {
        font-size: 18px;
        padding: 9px 19px 9px 9px;
        margin: 30px 0 0
    }
}

.cm-gallery-btn-txt {
    position: relative;
    color: #000;
    font-size: 18px;
    display: block;
    font-weight: bold
}

@media screen and (max-width: 767px) {
    .cm-gallery-btn-txt {
        font-size: 16px
    }
}

.content-decoration {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 5%;
    margin-top: -4.955%;
    z-index: 3
}

@media screen and (max-width: 766px) {
    .img_logo {
        width: 118px;
    }
    .content-decoration {
        padding-top: 12%;
        margin-top: -43%;
    }
    .img_slide {
        width: 200px;
        height: 85px !important;
    }
    .main-visual-controller {
        right: 50px;
        bottom: 98px;
    }
    footer h5 {
        line-height: 1.6;
    }
    .content-footer {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .content-decoration {
        padding-top: 12%;
        margin-top: -12%
    }
    .img_slide {
        width: 1000px;
        height: 250px;
    }
}

.heading-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

@media screen and (max-width: 1023px) {
    .heading-container {
        justify-content: space-between
    }
}

@media screen and (max-width: 767px) {
    .heading-container {
        margin-bottom: 40px
    }
}

.heading {
    width: 75%;
    text-align: center
}

@media screen and (max-width: 1023px) {
    .heading {
        padding-left: 0;
        width: auto;
        text-align: left
    }
}

.heading-btn {
    width: 25%;
    display: flex;
    justify-content: flex-end
}

@media screen and (max-width: 1023px) {
    .heading-btn {
        width: auto;
        margin-left: auto
    }
}

.heading2 {
    font-size: 34px;
    margin-bottom: 0;
    line-height: 1.2
}

@media screen and (max-width: 767px) {
    .heading2 {
        font-size: 24px !important;
    }
}

.heading-container-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px
}

@media screen and (max-width: 767px) {
    .heading-container-secondary[data-dir-sm="col"] {
        flex-direction: column;
        align-items: flex-start
    }
}

@media screen and (max-width: 767px) {
    .heading-container-secondary {
        margin-bottom: 25px
    }
}

.heading2-secondary {
    font-size: 28px;
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .heading2-secondary {
        font-size: 24px
    }
}

.main-infomation {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px
}

.main-infomation>:last-child {
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .main-infomation {
        margin-bottom: 20px
    }
    .main-visual {
        height: 154px !important;
    }
}
@media screen and (max-width: 1920px ) and (min-width: 767px ) {
    .main-visual {
        height: 462px !important;
    }
}
.main-visual {
    max-width: 1920px;
    position: relative;
    background-color: #DBF9FB;
    overflow: hidden;
    margin: 0 auto;
}

.main-visual-icn,
.main-visual-blur,
.main-visual-copy {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: inherit
}

.main-visual-image-list,
.main-visual-blur-list,
.main-visual-copy-list,
.main-visual-illustration-list {
    opacity: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.main-visual-image-list>li,
.main-visual-blur-list>li,
.main-visual-copy-list>li,
.main-visual-illustration-list>li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.main-visual-image-list>li.is-active,
.main-visual-blur-list>li.is-active,
.main-visual-copy-list>li.is-active,
.main-visual-illustration-list>li.is-active {
    z-index: 1
}

.main-visual-image-list>li.is-next,
.main-visual-blur-list>li.is-next,
.main-visual-copy-list>li.is-next,
.main-visual-illustration-list>li.is-next {
    z-index: 1
}

.main-visual-illustration {
    z-index: 9
}

.main-visual-image-list>li {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

@media screen and (max-width: 767px) {
    .main-visual-image-list>li {
        background-size: cover
    }
}

@media screen and (max-width: 767px) {
    .main-visual-blur-list {
        display: none
    }
}

.main-visual-blur-list>li[data-num="0"] {
    background-size: cover
}

.main-visual-blur-list>li[data-num="1"] {
    background-size: cover
}

.main-visual-blur-list>li[data-num="2"] {
    background-size: cover
}

.main-visual-blur-list>li[data-num="3"] {
    background-size: cover
}

.main-visual-blur-list>li[data-num="4"] {
    background-size: cover
}

.main-visual-blur-list>li[data-num="5"] {
    background-size: cover
}

.main-visual-blur-list>li[data-num="6"] {
    background-size: cover
}

.main-visual-inner {
    position: relative;
    height: 100%
}

.main-visual-controller {
    position: absolute;
    right: 30px;
    bottom: 10px;
    z-index: 10
}

@media screen and (min-width: 767px) {
    .main-visual-controller {
        right: 15px;
        bottom: 0
    }
}

.main-visual-controller-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 46px;
    height: 47px;
}


/* .main-visual-controller-btn>img {
    width: 30px;
    height: 30px
} */

.content-video {
    width: 500px;
    height: 300px;
}

.main-visual-svg-path {
    fill: #e30200;
    opacity: 0
}

.main-visual-svg-fill {
    fill: #e30200
}

.main-visual-svg-line {
    fill: none;
    stroke: #e30200;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    opacity: 0
}

.modal {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9001
}

.modal.is-open {
    opacity: 1
}

.modal.is-open .modal-dialog {
    opacity: 1
}

.modal-dialog {
    width: 100%;
    max-width: 880px;
    padding: 0 15px;
    margin: 1.75rem auto;
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
    outline: none
}

@media screen and (max-width: 767px) {
    .modal-dialog {
        padding: .5rem 15px
    }
}

.modal-body {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #dfdacb;
    border-radius: 10px
}

.modal-body>:last-child {
    margin-bottom: 0
}

@media screen and (max-width: 767px) {
    .modal-body {
        border-radius: 5px;
        padding: 35px 15px
    }
}

.modal-content {
    margin-bottom: 30px
}

.modal-content>:last-child {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto
}

.news-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 40px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto
}

@media screen and (max-width: 1023px) {
    .news-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 40px auto;
        grid-template-rows: auto 40px auto
    }
}

.news-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2
}

.news-item-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2
}

@media screen and (max-width: 1023px) {
    .news-item-2 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4
    }
}

.olympic-inner {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media screen and (max-width: 1023px) {
    .olympic-inner {
        padding: 0 15px
    }
}

.olympic-mv {
    margin-bottom: 25px;
    max-width: 100%;
    min-height: 0%
}

.olympic-link-txt {
    margin: 0;
    max-width: 100%
}

.other-content-list {
    margin: 0 -12px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap
}

@media screen and (max-width: 1023px) {
    .other-content-list {
        margin: -30px -12px 0
    }
}

@media screen and (max-width: 767px) {
    .other-content-list {
        margin: -30px -7.5px 0
    }
}

.other-content-list>li {
    display: flex;
    width: calc(100% / 4 - 12px * 2);
    margin: 0 12px
}

@media screen and (max-width: 1023px) {
    .other-content-list>li {
        width: calc(100% / 3 - 12px * 2);
        margin: 30px 12px 0
    }
}

@media screen and (max-width: 767px) {
    .other-content-list>li {
        width: calc(100% / 2 - 7.5px * 2);
        margin: 30px 7.5px 0
    }
}

.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.pagination>li {
    margin: 0 10px;
    display: flex
}

@media screen and (max-width: 767px) {
    .pagination>li {
        margin: 0 7px
    }
}

.pagination-item {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #666;
    transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
}

@media screen and (max-width: 767px) {
    .pagination-item {
        width: 10px;
        height: 10px
    }
}

.pagination-item.is-current {
    background-color: #e30200;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    pointer-events: none
}

@media screen and (max-width: 767px) {
    .pagination-item.is-current {
        width: 14px;
        height: 14px
    }
}

@media print {
    .pagination {
        display: none
    }
}

.pickup[data-color="beige"] {
    background-color: #DBF9FB;
}

.pickup-section {
    padding: 30px 0 0;
    margin: 0 0 30px
}

.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -30px -14px 0;
    margin-left: -125px;
    width: 123%;
}

@media screen and (max-width: 1023px) {
    .product-list {
        margin: -30px -7.5px 0;
        width: auto;
    }
}

.product-list>li {
    width: calc(100% / 3.4 - 13px * 2);
    display: flex;
    border: 1px solid #dfdacb;
    border-radius: 10px;
    margin: 85px 14px 0;
    padding: 20px 10px;
    justify-content: center;
    background-color: #fff
}

@media screen and (max-width: 1023px) {
    .product-list>li {
        border-radius: 5px;
        width: calc(100% / 4 - 7.5px * 2);
        padding: 15px 10px;
        margin: 75px 7.5px 0
    }
}

@media screen and (max-width: 767px) {
    .product-list>li {
        width: calc(100% / 2 - 7.5px * 2);
        width: 100%;
        margin-right: 0;
    }
}

.product-link {
    text-decoration: none;
    color: #000;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 1fr 30px auto;
    grid-template-rows: 1fr 30px auto
}

@media screen and (max-width: 1023px) {
    .product-link {
        -ms-grid-rows: 1fr 15px auto;
        grid-template-rows: 1fr 15px auto
    }
}

.product-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-column-align: center;
    justify-self: center;
    margin-top: -75px;
    text-align: center;
    max-width: 100%
}

.product-img>img[data-size="lg"] {
    width: 90%
}

.product-img>img[data-size="md"] {
    width: 80%
}

.product-img>img[data-size="sm"] {
    width: 65%
}

@media screen and (max-width: 767px) {
    .product-img>img {
        width: 150px
    }
}

.product-body {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column-align: center;
    justify-self: center
}

.product-body>:last-child {
    margin-bottom: 0
}

.product-name {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    display: block
}

@media screen and (max-width: 767px) {
    .product-name {
        font-size: 14px
    }
}

.quality-heading2 {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
    text-align: center
}

@media screen and (max-width: 767px) {
    .quality-heading2 {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 40px
    }
}

.quality-logo {
    width: 261px;
    display: block;
    margin: 0 auto 25px
}

@media screen and (max-width: 767px) {
    .quality-logo {
        width: calc(244 * 100% / 750);
        min-width: 122px;
        margin-bottom: 15px;
        height: auto
    }
}

.quality-content-list {
    margin: -40px -15px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap
}

@media screen and (max-width: 767px) {
    .quality-content-list {
        margin: -15px -7.5px 0
    }
}

.quality-content-list[data-layout="grid"] {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 40px 1fr 30px 1fr;
    grid-template-columns: 1fr 30px 1fr 40px 1fr 30px 1fr;
    -ms-grid-rows: auto 30px auto 30px auto;
    grid-template-rows: auto 30px auto 30px auto
}

@media screen and (max-width: 1023px) {
    .quality-content-list[data-layout="grid"] {
        -ms-grid-columns: 1fr 30px 1fr;
        grid-template-columns: 1fr 30px 1fr
    }
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: 1fr 15px 1fr;
        -ms-grid-rows: auto 15px auto 15px auto 15px auto;
        grid-template-rows: auto 15px auto 15px auto 15px auto
    }
}

.quality-content-list[data-layout="grid"] .quality-content {
    width: auto;
    margin: 0
}

.quality-content-list[data-layout="grid"] .quality-content:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4
}

@media screen and (max-width: 1023px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2
    }
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4
    }
}

.quality-content-list[data-layout="grid"] .quality-content:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3 / 6
}

@media screen and (max-width: 1023px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2
    }
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1 / 4;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4
    }
}

.quality-content-list[data-layout="grid"] .quality-content:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2
}

@media screen and (max-width: 1023px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4
    }
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5 / 6
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(3) .quality-content-ttl {
        margin-bottom: 0
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(3) .quality-content-txt {
        display: none
    }
}

.quality-content-list[data-layout="grid"] .quality-content:nth-child(4) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7 / 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2
}

@media screen and (max-width: 1023px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(4) {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3 / 4;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4
    }
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(4) {
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5 / 6
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(4) .quality-content-ttl {
        margin-bottom: 0
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(4) .quality-content-txt {
        display: none
    }
}

.quality-content-list[data-layout="grid"] .quality-content:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(5) {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        grid-row: 7 / 8
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(5) .quality-content-ttl {
        margin-bottom: 0
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(5) .quality-content-txt {
        display: none
    }
}

.quality-content-list[data-layout="grid"] .quality-content:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6
}

@media screen and (max-width: 767px) {
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(6) {
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        grid-row: 7 / 8
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(6) .quality-content-ttl {
        margin-bottom: 0
    }
    .quality-content-list[data-layout="grid"] .quality-content:nth-child(6) .quality-content-txt {
        display: none
    }
}

.quality-content[data-color="red"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #ffa697 15%, #ffa697 100%)
}

.quality-content[data-color="pink"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #aaaaaa 15%, #aaaaaa 100%)
}

.quality-content[data-color="orange"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #aaaaaa 15%, #aaaaaa 100%)
}

.quality-content[data-color="yellowgreen"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #577800 15%, #577800 100%)
}

.quality-content[data-color="green"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #ffa697 15%, #ffa697 100%)
}

.quality-content[data-color="blue"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #aaaaaa 15%, #aaaaaa 100%)
}

.quality-content[data-color="navy"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #00326f 15%, #00326f 100%)
}

.quality-content[data-color="purple"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #573a7e 15%, #573a7e 100%)
}

.quality-content[data-color="brown"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #715c45 15%, #715c45 100%)
}

.quality-content[data-color="darkbrown"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #41302b 15%, #41302b 100%)
}

.quality-content[data-color="gray"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #aaaaaa 15%, #aaaaaa 100%)
}

.quality-content[data-color="darkgray"] .quality-content-link {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 15%, #444 15%, #444 100%)
}

.quality-content {
    display: flex;
    width: calc(100% / 4 - 15px * 2);
    margin: 40px 15px 0
}

@media screen and (max-width: 1023px) {
    .quality-content {
        width: calc(100% / 2 - 15px * 2)
    }
}

@media screen and (max-width: 767px) {
    .quality-content {
        width: calc(100% / 2 - 7.5px * 2);
        margin: 15px 7.5px 0
    }
}

.quality-content-img {
    min-height: 0%
}

.quality-content-img img {
    width: 100%
}

.quality-content-link {
    text-decoration: none;
    color: #000;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    width: 100%
}

.quality-content-link:hover,
.quality-content-link:focus {
    color: #fff
}

.quality-content-body {
    padding: 20px
}

.quality-content-body>:last-child {
    margin-bottom: 0;
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .quality-content-body {
        padding: 15px
    }
}

.quality-content-ttl {
    position: relative;
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
    .quality-content-ttl {
        font-size: 16px;
        margin-bottom: 10px
    }
}

.quality-content-txt {
    color: #fff;
    font-size: 15px;
    line-height: 1.7;
}

.date {
    font-size: 16px;
    color: #666
}

@media screen and (max-width: 767px) {
    .date {
        font-size: 14px
    }
}

.link-group {
    padding: 20px 0
}

@media screen and (max-width: 767px) {
    .link-group {
        padding: 15px 0
    }
}

.link-time {
    display: block;
    margin-bottom: 15px
}

@media screen and (max-width: 767px) {
    .link-time {
        margin-bottom: 10px
    }
}

.link-txt {
    text-decoration: none;
    color: #000;
    display: inline-block;
    position: relative;
    font-size: 16px
}

@media screen and (max-width: 767px) {
    .link-txt {
        font-size: 14px
    }
}

.link-btn-list {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
    display: flex
}

@media screen and (max-width: 767px) {
    .link-btn-list {
        margin: 0 -10px 0;
        align-self: flex-end
    }
}

.link-btn-list>li {
    margin: 0 15px
}

@media screen and (max-width: 767px) {
    .link-btn-list>li {
        margin: 0 10px 0
    }
}

@media screen and (max-width: 767px) {
    [data-dir-sm="col"] .link-btn-list {
        margin-top: 5px
    }
}

.link-feed-btn {
    text-decoration: none;
    color: #000;
    position: relative;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: inline-block
}

@media screen and (max-width: 767px) {
    .link-feed-btn {
        font-size: 14px
    }
}

.link-txt-btn {
    text-decoration: none;
    color: #000;
    position: relative;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: inline-block
}

@media screen and (max-width: 767px) {
    .link-txt-btn {
        font-size: 14px
    }
}

.image-link {
    text-decoration: none;
    color: #000;
    display: block
}

.image-link-img {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #DBF9FB;
    overflow: hidden
}

.image-link-img>img {
    width: 100%
}

@media screen and (max-width: 767px) {
    .image-link-img {
        margin-bottom: 15px;
        border-radius: 5px
    }
}

.image-link-body>:last-child {
    margin-bottom: 0
}

.image-link-txt {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    display: block
}

@media screen and (max-width: 767px) {
    .image-link-txt {
        font-size: 16px
    }
}

.release-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #DBF9FB
}

.release-list>li {
    border-bottom: 1px solid #DBF9FB
}

@media screen and (max-width: 767px) {
    .release-list>li:nth-child(n+4) {
        display: none
    }
}

.js-campaign-area>:last-child {
    margin-bottom: 0
}

.js-scroll-item {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1)
}

.js-scroll-item.enter {
    opacity: 1
}

.js-txt-motion {
    opacity: 0
}

.img-fullwidth {
    width: 1920px;
    height: 700px;
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
    .img-fullwidth {
        width: 1349px !important;
        height: 491.823px !important;
    }
    #search .input-lg {
        width: 182px !important;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) {
    .img-fullwidth {
        width: 1500px !important;
        height: 543.823px !important;
    }
    #search .input-lg {
        width: 182px !important;
    }
}

.wpb_column {
    width: 570px;
}

@media screen and (max-width: 410px) {
    .MsoNormal,
    .MsoNormal1 {
        font-size: 21px;
    }
    .MsoNormal1 {
        margin-top: -4cm;
    }
    .MsoNormal {
        width: 100% !important;
    }
    .vc_custom_heading {
        width: 109% !important;
    }
    .content-img {
        margin-left: -235px;
    }
}

@media screen and (max-width: 330px) {
    .vc_custom_heading {
        width: 100% !important;
    }
}


/* Surface Duo */

@media screen and (min-width: 540px) and (max-width: 650px) {
    .top-header {
        width: 487px !important;
    }
    #search .input-lg {
        width: 182px !important;
    }
    .content-decoration {
        margin-top: -52% !important;
    }
    .img-fullwidth {
        width: 1920px;
        height: 200px !important;
    }
    .js-main-visual-controller-icn {
        margin-left: -47px;
        margin-top: -383px !important;
        padding: 8px;
    }
    .content-footer {
        margin-left: -34px !important;
    }
    .l-footer-sns {
        margin-left: -74px;
    }
    #information-information {
        margin-top: -51px;
    }
    .post-205 {
        width: 100px !important;
    }
    .vc_single_image-wrapper {
        width: 458px !important;
    }
    .wpb_column {
        width: 464px !important;
        text-align: justify;
    }
    .wpb_wrapper {
        width: 458px !important;
        text-align: justify;
    }
    .img_slide {
        width: 223.295px !important;
        height: 85px;
    }
    .pickup {
        padding-top: 18px !important;
    }
    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
    }
    .swiper-pagination {
        padding: 5px;
    }
    .MsoNormal2,
    .wpb_wrapper_2 {
        font-size: 21px;
        width: 117%;
    }
}


/* Ipad */

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .top-header {
        width: 657px !important;
    }
    .img-fullwidth {
        width: 1920px;
        height: 288px !important;
    }
    .vc_custom_heading {
        margin-top: -4px;
    }
    .MsoNormal2 {
        margin-top: -1cm;
    }
    .MsoNormal1 {
        margin-top: -4cm;
    }
    .content-decoration {
        margin-top: -9%;
        padding-top: 10%;
    }
    .pickup {
        padding-top: 0px !important;
    }
    .main-visual-controller-btn {
        margin-top: 10px;
        padding: 8px;
        margin-right: 112px;
        margin-bottom: -6px;
        width: 48px;
        margin-right: 125px;
    }
    #search .input-lg {
        width: 182px !important;
    }
    #information-information {
        margin-top: -51px;
    }
    .post-205 {
        width: 100% !important;
    }
    .vc_single_image-wrapper {
        width: 313px !important;
    }
    .wpb_column {
        width: 343px !important;
        text-align: justify;
    }
    .wpb_wrapper {
        width: 313px !important;
        text-align: justify;
    }
    .img_slide {
        width: 284.71426px !important;
        height: 108.38px !important;
    }
    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
    }
    .swiper-pagination {
        padding: 5px !important;
    }
    .wpb_wrapper_2 {
        width: 218%;
    }
    span[style="font-size: 18px;"] {
        margin-left: -234px;
    }
}

.swiper-pagination {
    padding: 10px;
}


/* Ipad Pro */

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .top-header {
        width: 916px !important;
    }
    .MsoNormal1 {
        margin-top: -5cm;
    }
    #search .input-lg {
        width: 182px !important;
    }
    .content-decoration {
        margin-top: -9%;
        padding-top: 10%;
    }
    .pickup {
        padding-top: 0px !important;
    }
    .img-fullwidth {
        height: 389px;
    }
    .js-main-visual-controller-icn {
        margin-left: -291px;
    }
    .content-video {
        width: 232px;
        height: 165px;
    }
    .wpb_column {
        width: 100% !important;
    }
    #information-information {
        margin-top: -51px;
    }
    .post-205 {
        width: 100% !important;
    }
    .vc_single_image-wrapper {
        width: 100% !important;
    }
    .wpb_column {
        width: 343px;
        text-align: justify;
    }
    .wpb_wrapper {
        width: 100%;
        text-align: justify;
    }
    .img_slide {
        max-width: 84%;
    }
    .pickup {
        padding-top: 0px;
    }
    .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
    }
    .swiper-pagination {
        padding: 5px !important;
    }
    span[style="font-size: 18px;"] {
        margin-left: -129px;
    }
}

@media screen and (max-width: 720px) {
    .img-fullwidth {
        width: 1920px;
        height: 282px;
    }
    #search .input-lg {
        width: 182px !important;
    }
    .content-decoration {
        margin-top: -13%;
    }
    .content-video {
        margin-left: 46px;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px !important;
    }
}


/* Iphone 6/7/8 Plus + Iphone 5/SE */

@media screen and (max-width: 500px) {
    .col-md-4 .col-xs-12 {
        padding-left: 0;
    }
    .top-header {
        width: 320px !important;
    }
    #search .input-lg {
        width: 182px !important;
    }
    .img-fullwidth {
        height: 154px !important;
    }
    .content-video {
        width: 232px !important;
        height: 165px !important;
        margin-left: 0px;
    }
    .content-decoration {
        margin-top: -211px !important;
    }
    .banner-container {
        height: 89px !important;
        margin-top: -67px !important;
    }
    .img_slide {
        width: 144.485px ;
        height: 55px !important;
        margin-top: 8px;
    }
    .js-main-visual-controller-icn {
        margin-top: -198px !important;
        margin-left: -4px;
        padding: 3px;
        z-index: 99 !important;
        width: 43px !important;
    }
    .l-footer-container {
        height: 421px !important;
    }
    .l-footer-grid {
        grid-template-rows: auto 0px auto 0px auto 0px auto;
    }
    #information-information {
        margin-top: -51px;
    }
    .post-205 {
        width: 100px !important;
    }
    .vc_single_image-wrapper {
        width: 348px !important;
    }
    .wpb_column {
        width: 302px !important;
        text-align: justify;
    }
    .wpb_wrapper {
        width: 354px !important;
        text-align: justify;
    }
    .swiper-wrapper {
        margin-top: 0px;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px !important;
    }
}

@media screen and (max-width: 380px) {
    .content-decoration {
        margin-top: -178px !important;
    }
    .img_slide {
        width: 149.485px !important;
        height: 58px !important;
        margin-top: 6.5px;
    }
    #search .input-lg {
        width: 260px !important;
    }
    .js-main-visual-cotroller-icn {
        margin-top: -172px !important;
        margin-left: -4px;
    }
    .content-video {
        width: 200px !important;
        height: 191px !important;
        margin-left: 0px;
    }
    .l-footer-container {
        height: 506px !important;
    }
    .l-footer-grid {
        grid-template-rows: auto 0px auto 0px auto 0px auto;
    }
    #information-information {
        margin-top: -51px;
    }
    .post-205 {
        width: 100px !important;
    }
    .vc_single_image-wrapper {
        width: 313px !important;
    }
    .wpb_column {
        width: 343px !important;
        text-align: justify;
    }
    .MsoNormal2 {
        font-size: 21px;
    }
    .wpb_wrapper {
        width: 92% !important;
        text-align: justify;
    }
    .swiper-wrapper {
        margin-top: 4px !important;
    }
}

@media screen and (max-width: 320px) {
    .vc_single_image-wrapper {
        width: 106% !important;
    }
    .wpb_column {
        width: 100% !important;
        text-align: justify;
    }
    .vc_column-inner {
        width: 414%;
    }
    .MsoNormal1 {
        width: 104%;
    }
    .MsoNormal2 {
        width: 115%;
    }
    .content-decoration {
        margin-top: -157px !important;
    }
    #search .input-lg {
        width: 182px !important;
    }
    .js-main-visual-controller-icn {
        margin-top: -176px !important;
        margin-left: -4px;
    }
    .img_slide {
        height: 55px !important;
        margin-top: 3px;
    }
    .banner-container {
        height: 79px !important;
    }
    .l-footer-container {
        height: 469px !important;
    }
    .l-footer-grid {
        grid-template-rows: auto 0px auto 0px auto 0px auto;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px !important;
    }
}

@media screen and (max-width: 320px) {
    .content-decoration {
        margin-top: -131px !important;
    }
    #search .input-lg {
        width: 182px !important;
    }
    .js-main-visual-controller-icn {
        margin-top: -141px !important;
        margin-left: -4px;
    }
    .img_slide {
        height: 55px !important;
        margin-top: 3px;
    }
    .banner-container {
        height: 79px !important;
    }
    .l-footer-container {
        height: 469px !important;
    }
    .l-footer-grid {
        grid-template-rows: auto 0px auto 0px auto 0px auto;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px !important;
    }
}

@media screen and (max-width: 360px) {
    .top-header {
        width: 359px !important;
    }
    .content-decoration {
        margin-top: -167px !important;
    }
    .img_slide {
        width: 152.366px !important;
        height: 58px !important;
    }
    .banner-container {
        height: 79px !important;
    }
    .l-footer-container {
        height: 409px !important;
    }
    .l-footer-grid {
        grid-template-rows: auto 0px auto 0px auto 0px auto;
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .top-header {
        margin-left: 14px !important;
    }
    #top-links {
        margin-right: -98px;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px;
    }
    .vc_single_image-wrapper {
        width: 313px !important;
    }
}

@media screen and (max-width: 290px) {
    .content-decoration {
        margin-top: -94px !important;
    }
    .js-main-visual-controller-icn {
        margin-top: -75px !important;
        margin-left: -4px;
        z-index: 99 !important;
        width: 33px;
    }
    .content-video {
        width: 200px !important;
        height: 108px !important;
        margin-left: 0px;
    }
    .img-review {
        width: 325px !important;
        height: 309px !important;
    }
    .l-footer-container {
        height: 531px !important;
    }
    .post-205 {
        width: 100px !important;
    }
    .vc_single_image-wrapper {
        width: 227px !important;
    }
    .wpb_column {
        width: 257px !important;
        text-align: justify;
    }
    .wpb_wrapper {
        width: 247px !important;
        text-align: justify;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px;
    }
}


/* Galaxy Fold */

@media screen and (min-width: 280px) and (max-width: 770px) {
    .top-header {
        width: 246px !important;
    }
    .content-video {
        width: 500px;
        height: 308px;
        margin-left: 0px;
    }
    .post-205 {
        width: 100px;
    }
    .vc_single_image-wrapper {
        width: 404px;
    }
    .wpb_column {
        width: 257px;
        text-align: justify;
    }
    .wpb_wrapper {
        width: 408px;
        text-align: justify;
    }
    .swiper-wrapper {
        margin-top: -2px;
    }
    .l-header-link-list {
        padding: 0 0px;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px;
    }
    .img_slide {
        width: 144.485px;
        height: 55px;
    }
    .l-footer-item-2 {
        margin-top: 10%;
    }
    .content-footer {
        display: contents;
        margin-left: -39px;
        margin-top: 10px;
    }
}


/* Pixel 2 */

@media screen and (min-width: 411px) and (max-width: 500px) {
    .js-main-visual-controller-icn {
        margin-top: -287px !important;
        margin-left: -6px;
        width: 30px;
        padding: 3px;
        z-index: 99 !important;
        width: 43px;
    }
    .MsoNormal2 {
        font-size: 21px;
        width: 112% !important;
    }
    .wpb_wrapper_2 {
        width: 140%;
    }
    .wpb_wrapper {
        width: 128%;
    }
    .swiper-wrapper {
        margin-top: 3px;
    }
    .swiper-pagination-bullet {
        width: 9px !important;
        height: 9px !important;
    }
    .swiper-pagination {
        padding: 5px;
    }
    .img_slide {
        width: 210px !important;
        height: 75px !important;
    }
    .img_mobile{
        width: 210.485px !important;
        height: 75px !important;
    }
}