section {
    position: relative;
    background: url(../img/slider_1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/slider_1.jpg);
}