{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="product-category" class="container">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        {% if categories %}
        {% for category in categories %}
        <div class="l-heading3-container js-heading-accordion" data-accordion="sm">
          <div class="">
            <div class="l-heading3-body">
              <h3 id="dairies" class="m-heading3">
                <label class="m-heading-btn">{{category.name}}</label>
              </h3>
            </div>
          </div>
        </div>
        <div class="js-heading-accordion-body">
          <ul class="l-card-frame-list">
            {% for product in category.child %}
            <li data-u-col="3" data-u-col-sm="6">
              <a href="{{ product.href }}" class="l-card-frame">
                <div class="l-card-frame-img">
                  <img href="{{ product.href }}" src="{{ product.thumb }}" class="m-img-fluid">
                </div>
                <div class="l-card-frame-body">
                  <p class="m-txtLink-strong-block">
                    <strong>{{ product.name }}</strong>
                  </p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        {% endif %}
        {% if products %}
        <div class="js-heading-accordion-body">
          <ul class="l-card-frame-list">
            {% for product in products %}
            <li data-u-col="3" data-u-col-sm="6">
              <a href="{{ product.href }}" class="l-card-frame">
                <div class="l-card-frame-img">
                  <img href="{{ product.href }}" src="{{ product.thumb }}" class="m-img-fluid">
                </div>
                <div class="l-card-frame-body">
                  <p class="m-txtLink-strong-block">
                    <strong>{{ product.name }}</strong>
                  </p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if not categories and not products %}
        <p>{{ text_empty }}</p>
        <div class="buttons">
          <div class="pull-right">
            <a href="{{ continue }}" class="btn btn-primary" style="font-size: 15px;">{{ button_continue }}</a>
          </div>
        </div>
        {% endif %}
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}
<script>
  var num_product = $('.l-card-frame-list li').length
  if(num_product <= 4) {
  	$('#content').css("height", "595px")
    $('#content').css("padding-top", "20px")
  }
</script>