{{ header }}
<style>
  .img-product {
  	height: 400px !important;
 	margin-left: 0 !important;
  }
  .thumbnail-img {
  	padding: 0px !important;
  	border: none !important;
  }
</style>
<div class="l-breadcrumb" style="margin-bottom: 20px;"> 
  <div class="l-breadcrumb-container"> 
    <div class="l-breadcrumb-inner"> 
      <nav role="navigation" aria-label="現在位置"> 
        <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
          {% for breadcrumb in breadcrumbs %}
          <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff" itemprop="name">{{ breadcrumb.text }}</span></a>
            <meta itemprop="position" content="1" style="color: #fff"> </li> 
          {% endfor %}
        </ol> 
      </nav> 
    </div> 
  </div> 
</div>
<div id="product-product" class="container">
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}" style="margin-bottom: 16px;">{{ content_top }}
      <div class="row" style="margin-bottom: 18px;">
        <div class="details-product">
          <div class="col-lg-5 col-md-5"> 
            {% if thumb or images %}
            <ul class="thumbnails">
              {% if thumb %}
              <li><a class="thumbnail thumbnail-img" href="{{ popup }}" title="{{ heading_title }}"><img class="img-product" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
              {% endif %}
              {% if images %}
              {% for image in images %}
              <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
              {% endfor %}
              {% endif %}
            </ul>
            {% endif %}
          </div>
          <div class="col-lg-4 col-md-4" style="margin-top: -22px;">
            <h1>{{ heading_title }}</h1>
           <div class="group-status">
              {% if manufacturer %}
              <span class="first_status">{{ text_manufacturer }} <a class="status_name">{{ manufacturer }}</a></span><br>
              {% endif %}
              <span class="first_status">{{ text_model }} <a style="color: black;"  class="status_name">{{ model }}</a></span><br>
              {% if reward %}
              <span class="first_status">{{ text_reward }} <span class="status_name availabel">{{ reward }}</span></span><br>
              {% endif %}
              <span class="first_status">{{ text_stock }} <span class="status_name availabel">{{ stock }}</span></span>
            </div>
            {% if price %}
            <ul class="list-unstyled">
              {% if not special %}
              <li>
                <h2>{{ price }}</h2>
              </li>
              {% else %}
              <li><span style="text-decoration: line-through;">{{ price }}</span></li>
              <li>
                <h2>{{ special }}</h2>
              </li>
              {% endif %}
              {% if tax %}
              <li>{{ text_tax }} {{ tax }}</li>
              {% endif %}
              {% if points %}
              <li>{{ text_points }} {{ points }}</li>
              {% endif %}
              {% if discounts %}
              <li>
                <hr>
              </li>
              {% for discount in discounts %}
              <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
              {% endfor %}
              {% endif %}
            </ul>
            {% endif %}
            <div id="product"> {% if options %}
              <hr>
              <h3>{{ text_option }}</h3>
              {% for option in options %}
              {% if option.type == 'select' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for option_value in option.product_option_value %}
                  <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
              {% if option.type == 'radio' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                      {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                      {{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price_prefix }}{{ option_value.price }})
                      {% endif %} </label>
                  </div>
                  {% endfor %} </div>
              </div>
              {% endif %}
              {% if option.type == 'checkbox' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                      {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                      {{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price_prefix }}{{ option_value.price }})
                      {% endif %} </label>
                  </div>
                  {% endfor %} </div>
              </div>
              {% endif %}
              {% if option.type == 'text' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
              </div>
              {% endif %}
              {% if option.type == 'textarea' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
              </div>
              {% endif %}
              {% if option.type == 'file' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
              </div>
              {% endif %}
              {% if option.type == 'date' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group date">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% if option.type == 'datetime' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group datetime">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% if option.type == 'time' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group time">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% if recurrings %}
              <hr>
              <h3>{{ text_payment_recurring }}</h3>
              <div class="form-group required">
                <select name="recurring_id" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for recurring in recurrings %}
                  <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                  {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
              </div>
              {% endif %}
              <div class="form-group">
                <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                <div class="custom input_number_product custom-btn-number form-control">									
                  <button class="btn_num num_1 button button_qty" onclick="var result = document.getElementById('input-quantity'); var qtypro = result.value; if( !isNaN( qtypro ) &amp;&amp; qtypro > 1 ) result.value--;return false;" type="button">-</button>
                  <input type="text" id="input-quantity"  name="quantity" readonly value="{{ minimum }}" min="{{ minimum }}" onkeyup="valid(this,'numbers')" onkeypress="validate(event)" onchange="if(this.value == 0)this.value=1;" class="form-control prd_quantity input-readonly">
                  <button class="btn_num num_2 button button_qty" onclick="var result = document.getElementById('input-quantity'); var qtypro = result.value; if( !isNaN( qtypro )) result.value++;return false;" type="button">+</button>
                </div>
                <input type="hidden" name="product_id" value="{{ product_id }}" />
                <br />
                <div class="form-group">
                 {% if languageCode == 'vn' %}
                <label class="control-label" style="font-size:19px" for="langCode">{{text_location}}</label>
                <select id='langCode' style="background-color: #378EA0;
                border-color: #378EA0;
                color: black;
                border-radius: 5px;
                cursor:pointer;
                font-size:19px">
                  <option value="#" >{{text_location_vn}}</option> 
                  <option value="{{ linkCodeJP }}" >{{text_location_jp}}</option> 
                  <option value="{{ linkCodeUS }}" >{{text_location_us}}</option> 
                </select>
                {% elseif languageCode == 'jp' %}
                <label class="control-label" for="langCode">{{text_location}}</label>
                <select id='langCode' style="background-color: #378EA0;
                border-color: #378EA0;
                color: black;
                border-radius: 5px;
                cursor:pointer;
                font-size:19px">
                  <option value="#" >{{text_location_jp}}</option> 
                  <option value="{{ linkCodeVN }}" >{{text_location_vn}}</option> 
                  <option value="{{ linkCodeUS }}" >{{text_location_us}}</option> 
                </select>
                {% elseif languageCode == 'usa' %}
                <label class="control-label" for="langCode">{{text_location}}</label>
                <select id='langCode' style="background-color: #378EA0;
                border-color: #378EA0;
                color: black;
                border-radius: 5px;
                cursor:pointer;
                font-size:19px">
                  <option value="#" >{{text_location_us}}</option> 
                  <option value="{{ linkCodeJP }}" >{{text_location_jp}}</option> 
                  <option value="{{ linkCodeVN }}" >{{text_location_vn}}</option> 
                </select>
                {% endif %} 
                </div>
                <div class="button_actions" style="display:flex; flex-direction:row">
                {% if checkStock %}
                  <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-lg  btn-cart button_cart_buy_enable add_to_cart btn_buy" title="{{ button_cart }}" style="margin-left: 16px;">
                    <span class="btn-image">
                      <img class="logo-cart" width="20px" src="catalog\view\theme\default\stylesheet\img\icons\shopping-cart.svg"/>
                    </span>
                    <span class="btn-content">{{ button_cart }}</span>
                  </button>
                {% else %}
                   <button type="button" id="button-cart-check" data-loading-text="{{ text_loading }}" class="btn btn-lg  btn-cart button_cart_buy_enable add_to_cart btn_buy" title="{{ button_cart }}" style="margin-left: 16px;">
                    <span class="btn-image">
                      <img class="logo-cart" width="20px" src="catalog\view\theme\default\stylesheet\img\icons\shopping-cart.svg"/>
                    </span>
                    <span class="btn-content">{{text_contact_buy}}</span>
                  </button>
                {% endif %}  	
                  {% if attribute_groups[0].attribute[0].text|length > 0  %}
                 	<a href="{{ attribute_groups[0].attribute[0].text }}" class="logo-link" >
                      <img class="logo-cart" width="44px" style="border-radius:100%; width:53px;height:53px;margin: 0 5px 0 6px;"  src="https://opencart.vietpartner.club/image/catalog/icon_logo/{{ attribute_groups[0].attribute[0].name }}.png"/>
                  	</a>
                  {% endif %}
                  {% if attribute_groups[0].attribute[1].text|length > 0  %}
                 	<a href="{{ attribute_groups[0].attribute[1].text }}" class="logo-link" >
                      <img class="logo-cart" width="44px" style="border-radius:100%;margin: 0 5px 0 5px;"  src="https://opencart.vietpartner.club/image/catalog/icon_logo/{{ attribute_groups[0].attribute[1].name }}.png"/>
                  	</a>
                  {% endif %}
                  {% if attribute_groups[0].attribute[2].text|length > 0  %}
                 	<a href="{{ attribute_groups[0].attribute[2].text }}"  class="logo-link" >
                      <img class="logo-cart" width="44px" style="border-radius:100%;margin: 0 5px 0 5px;"  src="https://opencart.vietpartner.club/image/catalog/icon_logo/{{ attribute_groups[0].attribute[2].name }}.png"/>
                  	</a>
                  {% endif %}
                  
                  
                </div>               
              </div>
              {% if minimum > 1 %}
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
              {% endif %}</div>
            {% if review_status %}
            <div class="rating" style="margin-top: 119px;margin-left: -9px;">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}" style="justify-content:space-around;"><a class="addthis_button_facebook_like" fb:like:layout="button_count" style="margin-right: -4px;"></a> <a class="addthis_button_tweet" style="margin-right: 32px;"></a><a class="addthis_counter addthis_pill_style" style="margin-right: 15px;"></a></div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>                  
              <!-- AddThis Button END --> 
            </div>
            {% endif %} 
               
            </div>
        </div>
        <div class="col-md-3 col-lg-3">
          {% if products %}
          <div class="related-product">
            <div class="section_prd_feature" style="margin-left: -1px;">
              <div class="heading" style="width: 100%">
                <h2 class="title-head"><a href="/collagen">{{ text_related }}</a></h2>
              </div>
              <div class="sale_off_today">
                {% for product in products %}
                <div class="item_small">
                  <div class="product-mini-item clearfix  ">
                    <a href="{{ product.href }}" class="product-img1">
                      <img class="lazyload loaded" src="{{ product.thumb }}"  alt="{{ product.name }}" data-was-processed="true">
                    </a>
                    <div class="product-info"> 
                      <h3><a href="{{ product.href }}" title="{{ product.name }}" class="product-name1 text3line">{{ product.name }}</a></h3>
                      <div class="bizweb-product-reviews-badge" data-id="19271678"></div>
                      <div class="price-box">
                        <div class="special-price"><span class="price product-price">{{ product.price }}</span> </div> <!-- Giá -->
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- end for -->
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if products %}
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-description" style="color: black" data-toggle="tab">{{ tab_description }}</a></li>
       	{% if attribute_groups[1] %}
            <li><a href="#tab-specification" style="color: black" data-toggle="tab">{{ tab_attribute }}</a></li>
        {% endif %}
        {% if review_status %}
        <li><a href="#tab-review" style="color: black" data-toggle="tab">{{ tab_review }}</a></li>
        {% endif %}
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-description">{{ description }}</div>
        {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                {% if attribute_groups[0].name !=  attribute_group.name %}
               
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>           
                 {% endif %}
                {% endfor %}
              </table>
            </div>
            {% endif %}
        {% if review_status %}
        <div class="tab-pane" id="tab-review">
          <form class="form-horizontal" id="form-review">
            <div id="review"></div>
            {% if review_guest %}
             <h2>{{ text_write }}</h2>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label" for="input-review">{{ entry_review }}</label>
                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                {# <div class="help-block">{{ text_note }}</div> #}
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-12">
                <label class="control-label">{{ entry_rating }}</label>
                <br>
                &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                <input type="radio" name="rating" value="1" />
                &nbsp;
                <input type="radio" name="rating" value="2" />
                &nbsp;
                <input type="radio" name="rating" value="3" />
                &nbsp;
                <input type="radio" name="rating" value="4" />
                &nbsp;
                <input type="radio" name="rating" value="5" />
                &nbsp;{{ entry_good }}</div>
            </div>
            {{ captcha }}
            <div class="buttons clearfix">
              <div class="pull-right">
                <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-pink" style="border-radius:20px; font-size: 15px">{{ button_continue }}</button>
              </div>
            </div>
            {% else %}
            {{ text_login }}
            {% endif %}
          </form>
        </div>
        {% endif %}</div>
    </div>
    <div class="product_preview" style="margin-bottom: 30px;">
      <div class="recently-viewed-products margin-top-10 margin-bottom-30">


      </div>
      {% endif %}
      {% if tags %}
      <p style="margin: 25px 15px 0px 15px;">{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<div class="modal" id="modalError" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center">{{text_caution}}</h3>
       
      </div>
      <div class="modal-body" style="border:none">
        {{error_location}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sendSKU" style="border-radius:5px">{{text_yes}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{text_no}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalContact" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center">{{text_contact_form}}</h3>
      </div>
      <div class="modal-body" style="border:none">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="formContact" class="form-horizontal">
          <fieldset>
            {# <legend>{{ text_contact }}</legend> #}
            <div class="form-group required">
              <label class="col-sm-4 control-label" for="input-name" style="text-align: left;font-size:13px">{{text_contact_name}}</label>
              <div class="col-sm-8">
                <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
                {# {% if error_name %}
                 <div class="text-danger" style="margin-left:5%;font-size:10px" hidden="true" id="error_name">Hãy nhập tên</div>
                <div class="text-danger">{{ error_name }}</div>
                {% endif %} #}
              </div>
            </div>
            {#<div class="form-group required">
              <label class="col-sm-4 control-label" for="input-telephone" style="text-align: left;">{{ entry_telephone }}</label>
              <div class="col-sm-8">
                <input type="text" name="telephone" value="" id="input-telephone" class="form-control" />
                 {% if error_telephone %}
                 <div class="text-danger" style="margin-left:5%;font-size:10px" hidden="true" id="error_telephone">Số điện thoại là 10 chữ số</div>
                <div class="text-danger">{{ error_telephone }}</div>
                {% endif %} 
              </div>
            </div>#}
            <div class="form-group required">
              <label class="col-sm-4 control-label" for="input-email" style="text-align: left;font-size:13px">{{text_contact_mail}}</label>
              <div class="col-sm-8">
                <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
                {# {% if error_email %}
                <div class="text-danger">{{ error_email }}</div>
                {% endif %} #}
              </div>
            </div>
            <div class="form-group required">
              <label class="col-sm-4 control-label" for="input-enquiry" style="text-align: left;font-size:13px">{{text_contact_content}}</label>
              <div class="col-sm-8">
                <textarea name="enquiry" rows="6" id="input-enquiry" class="form-control">{{text_contact_buyproduct}}</textarea>
                {# {% if error_enquiry %}
                <div class="text-danger">{{ error_enquiry }}</div>
                {% endif %} #}
              </div>
            </div>
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sendContact" style="border-radius:5px">{{text_contact_send}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{text_contact_close}}</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#langCode').change(function(){
  var linkRef = $('#langCode option:selected').val();
  location = linkRef;
});
$('#button-cart-check').click(function(){
  $('#modalContact').modal('show');
  $('#modalContact').css('background-color','transparent');
});
$('#sendContact').click(function(){
  $('#formContact').submit();
});
$('#button-cart').on('click', function() {
 $.ajax({
  url: 'index.php?route=checkout/cart/checkSKU',
  type: 'post',
  data: $('#product #input-quantity, #product input[name=\'product_id\']'),
  dataType: 'json',
  success: function(json) {
    if(json["result"] == 'ok')
    { 
      console.log('ok')
      $.ajax({
              url: 'index.php?route=checkout/cart/add',
              type: 'post',
              data: $('#product #input-quantity, #product input[name=\'product_id\']'),
              dataType: 'json',
              beforeSend: function() {

              },
              complete: function() {

              },
              success: function(json) {
              $('.alert-dismissible, .text-danger').remove();
              $('.form-group').removeClass('has-error');

              if (json['error']) {
                if (json['error']['option']) {
                for (i in json['error']['option']) {
                  var element = $('#input-option' + i.replace('_', '-'));

                  if (element.parent().hasClass('input-group')) {
                  element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                  } else {
                  element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                  }
                }
                }

                if (json['error']['recurring']) {
                $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                }

                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
              }

              if (json['success']) {
                $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                $('#cart > a').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

                $('html, body').animate({ scrollTop: 0 }, 'slow');

                $('#cart > ul').load('index.php?route=common/cart/info ul li');
              }
              },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
            });
    }
    else if(json["result"] == 'error')
    {
      $('#modalError').modal('show');
    }
  },
 });
});
$('#sendSKU').on('click', function() {
 $.ajax({
  url: 'index.php?route=checkout/cart/addSKU',
  type: 'post',
  data: $('#product #input-quantity, #product input[name=\'product_id\']'),
  dataType: 'json',
  beforeSend: function() {

  },
  complete: function() {
    $('#modalError').modal('hide');
  },
  success: function(json) {
   $('.alert-dismissible, .text-danger').remove();
   $('.form-group').removeClass('has-error');

   if (json['error']) {
    if (json['error']['option']) {
     for (i in json['error']['option']) {
      var element = $('#input-option' + i.replace('_', '-'));

      if (element.parent().hasClass('input-group')) {
       element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
      } else {
       element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
      }
     }
    }

    if (json['error']['recurring']) {
     $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
    }

    // Highlight any found errors
    $('.text-danger').parent().addClass('has-error');
   }

   if (json['success']) {
    $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

    $('#cart > a').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

    $('html, body').animate({ scrollTop: 0 }, 'slow');

    $('#cart > ul').load('index.php?route=common/cart/info ul li');
   }
  },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
 });
});
</script>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
 $.ajax({
  url: 'index.php?route=product/product/getRecurringDescription',
  type: 'post',
  data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
  dataType: 'json',
  beforeSend: function() {
   $('#recurring-description').html('');
  },
  success: function(json) {
   $('.alert-dismissible, .text-danger').remove();

   if (json['success']) {
    $('#recurring-description').html(json['success']);
   }
  }
 });
});
//--></script> 
<script type="text/javascript"><!--
{# $('#button-cart').on('click', function() {
 $.ajax({
  url: 'index.php?route=checkout/cart/add',
  type: 'post',
  data: $('#product #input-quantity, #product input[name=\'product_id\']'),
  dataType: 'json',
  beforeSend: function() {

  },
  complete: function() {

  },
  success: function(json) {
   $('.alert-dismissible, .text-danger').remove();
   $('.form-group').removeClass('has-error');

   if (json['error']) {
    if (json['error']['option']) {
     for (i in json['error']['option']) {
      var element = $('#input-option' + i.replace('_', '-'));

      if (element.parent().hasClass('input-group')) {
       element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
      } else {
       element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
      }
     }
    }

    if (json['error']['recurring']) {
     $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
    }

    // Highlight any found errors
    $('.text-danger').parent().addClass('has-error');
   }

   if (json['success']) {
    $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

    $('#cart > a').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

    $('html, body').animate({ scrollTop: 0 }, 'slow');

    $('#cart > ul').load('index.php?route=common/cart/info ul li');
   }
  },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
 });
}); #}
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
 language: '{{ datepicker }}',
 pickTime: false
});

$('.datetime').datetimepicker({
 language: '{{ datepicker }}',
 pickDate: true,
 pickTime: true
});

$('.time').datetimepicker({
 language: '{{ datepicker }}',
 pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
 var node = this;

 $('#form-upload').remove();

 $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

 $('#form-upload input[name=\'file\']').trigger('click');

 if (typeof timer != 'undefined') {
     clearInterval(timer);
 }

 timer = setInterval(function() {
  if ($('#form-upload input[name=\'file\']').val() != '') {
   clearInterval(timer);

   $.ajax({
    url: 'index.php?route=tool/upload',
    type: 'post',
    dataType: 'json',
    data: new FormData($('#form-upload')[0]),
    cache: false,
    contentType: false,
    processData: false,
    beforeSend: function() {
     $(node).button('loading');
    },
    complete: function() {
     $(node).button('reset');
    },
    success: function(json) {
     $('.text-danger').remove();

     if (json['error']) {
      $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
     }

     if (json['success']) {
      alert(json['success']);

      $(node).parent().find('input').val(json['code']);
     }
    },
    error: function(xhr, ajaxOptions, thrownError) {
     alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
   });
  }
 }, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
 $.ajax({
  url: 'index.php?route=product/product/write&product_id={{ product_id }}',
  type: 'post',
  dataType: 'json',
  data: $("#form-review").serialize(),
  beforeSend: function() {
   $('#button-review').button('loading');
  },
  complete: function() {
   $('#button-review').button('reset');
  },
  success: function(json) {
   $('.alert-dismissible').remove();

   if (json['error']) {
    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
   }

   if (json['success']) {
    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

    $('input[name=\'name\']').val('');
    $('textarea[name=\'text\']').val('');
    $('input[name=\'rating\']:checked').prop('checked', false);
   }
  }
 });
});

$(document).ready(function() {
 $('.thumbnails').magnificPopup({
  type:'image',
  delegate: 'a',
  gallery: {
   enabled: true
  }
 });
});
//--></script> 

{{ footer }} 
