{{ header }}
<style>
  .product-list {
  	margin-left: 0px;
  }
</style>
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="product-search" class="container" style="padding-bottom: 10px;">
    <div class="row">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ heading_title }}</h1>
        <label class="control-label" for="input-search">{{ entry_search }}</label>
        <div class="row">
          <div class="col-sm-4">
            <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
          </div>
          <div class="col-sm-3">
            <select name="category_id" class="form-control">
              <option value="0">{{ text_category }}</option>
              {% for category_1 in categories %}
              {% if category_1.category_id == category_id %}
              <option value="{{ category_1.category_id }}" selected="selected">{{ category_1.name }}</option>
              {% else %}
              <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
              {% endif %}
              {% for category_2 in category_1.children %}
              {% if category_2.category_id == category_id %}
              <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
              {% else %}
              <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
              {% endif %}
              {% for category_3 in category_2.children %}
              {% if category_3.category_id == category_id %}
              <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
              {% else %}
              <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
              {% endif %}
              {% endfor %}
              {% endfor %}
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-3">
            <label class="checkbox-inline">
              {% if sub_category %}
              <input type="checkbox" name="sub_category" value="1" checked="checked" />
              {% else %}
              <input type="checkbox" name="sub_category" value="1" />
              {% endif %}
              {{ text_sub_category }}</label>
          </div>
        </div>
        <p>
          <label class="checkbox-inline">
            {% if description %}
            <input type="checkbox" name="description" value="1" id="description" checked="checked" />
            {% else %}
            <input type="checkbox" name="description" value="1" id="description" />
            {% endif %}
            {{ entry_description }}</label>
        </p>
        <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-pink" style="font-size: 15px;" />
        <h2>{{ text_search }}</h2>
        {% if products %}
        <div class="row">
          <div class="col-md-2 col-sm-6 hidden-xs">
            
          </div>
          <div class="col-md-3 col-sm-6">
            
          </div>
          <div class="col-md-4 col-xs-6">
            
          </div>
          <div class="col-md-3 col-xs-6">
            
          </div>
        </div>
        <div class="row">
          <ul class="product-list" style="justify-content: left; width: 100%">
            {% for product in products %}
            <li id="product{{ product.name }}">
              <a class="product-link" href="{{ product.href }}">
                <div class="product-img">
                  <img alt="{{ product.name }}" src="{{ product.thumb }}" data-size="lg">
                </div>
                <div class="product-body">
                  <p class="product-name">{{ product.name }}</p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right" style="margin-top: 15px;">{{ results }}</div>
        </div>
        {% else %}
        <p class="p2">{{ text_empty }}</p>
        {% endif %}
        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>
</div>
<script type="text/javascript">
  var empty_vn = "Không có sản phẩm thỏa điều kiện tìm kiếm.";
  var empty_jp = "商品は見つかりませんでした";
  var empty_en = "There is no product that matches the search criteria.";
  var check = $('#content .p2').text().trim();
  console.log(check)
  if(check == empty_vn || check == empty_en || check == empty_jp) {
  	$('#content').css('height', '750px')
  } 
</script>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
 url = 'index.php?route=product/search';

 var search = $('#content input[name=\'search\']').prop('value');

 if (search) {
  url += '&search=' + encodeURIComponent(search);
 }

 var category_id = $('#content select[name=\'category_id\']').prop('value');

 if (category_id > 0) {
  url += '&category_id=' + encodeURIComponent(category_id);
 }

 var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

 if (sub_category) {
  url += '&sub_category=true';
 }

 var filter_description = $('#content input[name=\'description\']:checked').prop('value');

 if (filter_description) {
  url += '&description=true';
 }

 location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
 if (e.keyCode == 13) {
  $('#button-search').trigger('click');
 }
});

$('select[name=\'category_id\']').on('change', function() {
 if (this.value == '0') {
  $('input[name=\'sub_category\']').prop('disabled', true);
 } else {
  $('input[name=\'sub_category\']').prop('disabled', false);
 }
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}