{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 30px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="container" class="container mp-blog j-container {{ themeclass }}">
    {% if not mpblogcategories and not mpblogposts %}
        <div class="row">
          <div class="col-sm-12 xl-100">
            <p>{{ text_empty }}</p>
            <div class="buttons text-right">
              <div><a href="{{ continue }}" class="btn btn-pink" style="font-size: 15px; border-radius: 20px;">{{ button_continue }}</a></div>
            </div>
          </div>
        </div>
        {% endif %}
    <div class="row">{{ column_left }}
      {% if themename == 'journal2' %}
      {{ column_right }}
      {% endif %}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}	
        
          {% if thumb or description %}
          <div class="{{ themename != 'journal2' ? 'row' : 'journal-box' }}">
            {% set rowno = 12 %}
            {% if thumb %} 
            {% set rowno = 8 %}
            <div class="col-sm-4 xl-33 sm-100"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
            {% endif %}
            {% if description %}
            <div class="col-sm-{{ rowno }} xl-66 sm-100">{{ description }}</div>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% if mpblogcategories %}
        <div class="mpblog-subcate">
          <div class="{{ themename != 'journal2' ? 'row' : '' }}">
            <div class="col-sm-12 xl-100">
              <div class="swiper-viewport">
                <div id="mpblogsubcates" class="swiper-container">
                  <ul class="list list-inline swiper-wrapper" >
                    {% for mpblogcategory in mpblogcategories %}
                    <li class="item swiper-slide"><a href="{{ mpblogcategory.href }}">
                      {% if mpblogcategory.thumb %}
                      <img class="img-responsive" src="{{ mpblogcategory.thumb }}" alt="{{ mpblogcategory.name }}" title="{{ mpblogcategory.name }}" /> {% endif %}
                      <h4>{{ mpblogcategory.name }} </h4>
                      </a></li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="swiper-pagination blogcategory"></div>
                <div class="swiper-pager">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {{ view_posts }}
        
        {{ content_bottom }}</div>
      {% if themename != 'journal2' %}
      {{ column_right }}
      {% endif %}
    </div>
  </div>
<script>
  var num_blog = $('.list li').length
  if(num_blog == 0) {
    }
</script>
  <script type="text/javascript"><!--
$('#mpblogsubcates').swiper({
 mode: 'horizontal',
 slidesPerView: 6,
 //pagination: '.blogcategory',
 paginationClickable: true,
 nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
 autoplay: 3000,
 loop: true
});
--></script>
</div>
{{ footer }}