{{ header }}
<div style="background-color: #fce9e6">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="container" class="container j-container {{ journal_class }}">
    <div class="row">{{ column_left }}
      {% if theme_name == 'journal2' %}
      {{ column_right }}
      {% endif %}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <div class="mp-grid-layout mp-blog">
          <h1>{{ heading_title }}</h1>
          {% if mpblogposts %}
          <div class="row">
            {% for mpblogpost in mpblogposts %}
            {% set cols = mpblog_blog_design.0 ? 12/mpblog_blog_design.0 : 4 %}
            {% set jcols = 50 %}
            {% if themename == 'journal2' %}
            {% if cols == 12 %}
            {% set jcols = 100 %}
            {% elseif cols == 6 %}
            {% set jcols = 50 %}
            {% elseif cols == 4 %}
            {% set jcols = 33 %}
            {% elseif cols == 3 %}
            {% set jcols = 25 %}
            {% elseif cols == 2 %}
            {% set jcols = 16 %}
            {% else %}
            {% set jcols = 50 %}
            {% endif %}
            {% endif %}
            <div class="mpblog-layout mpblogpost-grid col-lg-{{ cols }} col-md-{{ cols }} col-sm-6 col-xs-12 xl-{{ jcols }} lg-{{ jcols }} md-50 sm-100 xs-100">
              <div class="inner-layout">
                <div class="image">
                  {% if mpblogpost.showImage %}
                  <div class="video-container"><a href="{{ mpblogpost.href }}"><img src="{{ mpblogpost.thumb }}" alt="{{ mpblogpost.name }}" title="{{ mpblogpost.name }}" class="img-responsive" /></a></div>
                  {% else %}
                  <div class="video-container"><iframe width="{{ mpblogpost.width }}" height="{{ mpblogpost.height }}" src="{{ mpblogpost.iframeVideo }}" frameborder="0" allowfullscreen></iframe></div>
                  {% endif %}
                  {% if show_viewed %}
                  <div class="view" title="{{ mpblogpost.viewed }}">
                    <i class="fa fa-eye"></i>
                    {{ mpblogpost.viewed }}
                  </div>
                  {% endif %}
                </div>
                <div>
                  <div class="caption">
                    <h4><a href="{{ mpblogpost.href }}">{{ mpblogpost.name }}</a></h4>
                    <ul class="dar clearfix list-inline mpblogpost-id-{{ mpblogpost.mpblogpost_id }}">
                      <li class="col-sm-6 col-xs-6 xl-50">
                        {% if show_date %}
                        <i class="fa fa-calendar"></i>
                        {% if mpblogpost.date_availableurl %}
                        <a href="{{ mpblogpost.date_availableurl }}">{{ mpblogpost.date_available }}</a>
                        {% else %}
                        {{ mpblogpost.date_available }}
                        {% endif %}
                        {% endif %}
                      </li>
                      <li class="author col-sm-6 col-xs-6 xl-50">
                        {% if show_author %}
                        <i class="fa fa-user"></i>                    
                        {% if mpblogpost.authorurl %}
                        <a href="{{ mpblogpost.authorurl }}">
                          {{ mpblogpost.author }}
                        </a>
                        {% else %}
                        {{ mpblogpost.author }}
                        {% endif %}
                        {% endif %}
                      </li>
                      {% if show_rating %}
                      <li class="col-sm-12 col-xs-12 xl-100" title="{{ mpblogpost.rating }}">
                        <div class="rating small-rating text-center">
                          <div class="rating-icons-container text-center">
                            <div class="rating-icons-wrap">
                              {% for i in 1..5 %}
                              {% if mpblogpost.rating < i %}
                              {% set rdecimal = 'EMPTY_STAR' %}
                              {% if mpblogpost.rating|round(1, 'ceil') == i %}
                              {% set rates = mpblogpost.rating|split('.') %}
                              {% if rates[1] %}
                              {% if "0" ~ rates[1]|round(1, 'floor') < 0.6000 %}
                              {% set rdecimal = 'HALF_STAR' %}
                              {% endif %}
                              {% if "0" ~ rates[1]|round(1, 'floor') > 0.6000 %}
                              {% set rdecimal = 'FULL_STAR' %}
                              {% endif %}
                              {% endif %}
                              {% endif %}
                              {% if rdecimal == 'HALF_STAR' %}
                              <div class="rating-icons half">
                                <span class="red"></span>  
                                <span class="grey"></span>  
                                <i class="fa fa-star"></i>
                              </div>
                              {% endif %} {% if rdecimal == 'FULL_STAR' %}
                              <div class="rating-icons full">
                                <span class="red"></span>  
                                <span class="grey"></span>  
                                <i class="fa fa-star"></i>
                              </div>
                              {% endif %} {% if rdecimal == 'EMPTY_STAR' %}
                              <div class="rating-icons">
                                <span class="red"></span>  
                                <span class="grey"></span>  
                                <i class="fa fa-star"></i>
                              </div>
                              {% endif %} {% else %}
                              <div class="rating-icons full">
                                <span class="red"></span>  
                                <span class="grey"></span>  
                                <i class="fa fa-star"></i>
                              </div>
                              {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </li>
                      {% endif %}
                    </ul>
                    {% if show_sdescription %}<p class="desc">{{ mpblogpost.sdescription }} {% if mpblogpost.sdescription and show_readmore %} <a href="{{ mpblogpost.href }}">  {{ text_readmore }} </a> {% endif %}</p>{% endif %} 
                    <ul class="list-inline dar cmt-wsh clearfix">
                      <li class="col-sm-6 col-xs-6 xl-50">
                        {% if show_wishlist %}
                        <span class="mpbloglike {% if mpblogpost.isLikeByMe %} liked {% endif %}" data-id="{{ mpblogpost.mpblogpost_id }}">
                          <i class="fa fa-heart {% if not mpblogpost.isLikeByMe %} fa-heart-o {% endif %}"></i>
                          <span>{{ mpblogpost.wishlist }}</span>
                        </span>
                        {% endif %}
                      </li>
                      <li class="col-sm-6 col-xs-6 xl-50 author">
                        {% if show_comments %}
                        <i class="fa {% if mpblogpost.comments %} fa-comments {% else %} fa-comments-o {% endif %}"></i>
                        {{ mpblogpost.comments ~ ' ' ~ text_comment }}
                        {% endif %}
                      </li>
                    </ul>
                    {% if show_tag and mpblogpost.tag %}
                    <ul class="list-inline blog-tags">
                      <li>
                        <i class="fa fa-tags"></i>
                        {% for rtag in mpblogpost.tag %}
                        {% if rtag.href %}
                        <a href="{{ rtag.href }}">{{ rtag.tag }}</a>
                        {% else %}
                        {{ rtag.tag }}
                        {% endif %}
                        ,
                        {% endfor %}
                      </li>
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 xl-50 text-left">{{ pagination }}</div>
          <div class="col-sm-6 xl-50 text-right">{{ results }}</div>
        </div>
        {% else %}
        <div class="row">
          <div class="col-sm-12 xl-100">
            <p>{{ text_empty }}</p>
            <div class="buttons text-right">
              <div><a href="{{ continue }}" class="btn btn-pink" style="font-size: 15px; border-radius: 20px;">{{ button_continue }}</a></div>
            </div>
          </div>
        </div>
        {% endif %}
        {{ content_bottom }}</div>
      {% if theme_name != 'journal2' %}
      {{ column_right }}
      {% endif %}</div>
  </div>
</div>
{{ footer }}