{{ header }}
<!-- Add Next and Previous Blog Link stats-->
<div class="mpblognavs {{ themeclass }}">
  {% if nextprev.prev.href %}
  <div class="mpblognav mpblognavs-nextlink">
    <a href="{{ nextprev.prev.href }}">
      <span class="mpblognavs-image">
        <img style="{% if nextprev.prev.posttype %} width: {{ nextprev.prev.width }}px; height: {{ nextprev.prev.height }}px; {% endif %}" src="{{ nextprev.prev.image }}" alt="{{ nextprev.prev.name }}"/>
      </span>
      <span class="mpblognavs-icon" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
        <i class="fa fa-arrow-left"></i>
      </span>
      <div class="clearfix"></div>
      {% if nextprev.prev.name %}
      <span class="mpblognavs-title">
        <h4>{{ nextprev.prev.name }}</h4>
      </span>
      {% endif %}
    </a>
  </div>
  {% endif %}
  {% if nextprev.next.href %}
  <div class="mpblognav mpblognavs-prevlink">
    <a href="{{ nextprev.next.href }}">
      <span class="mpblognavs-icon" style="border-top-left-radius: 50px; border-bottom-left-radius: 50px;">
        <i class="fa fa-arrow-right"></i>
      </span>
      <span class="mpblognavs-image">
        <img style="{% if nextprev.next.posttype %} width: {{ nextprev.next.width }}px; height: {{nextprev.next.height}}px; {% endif %}" src="{{ nextprev.next.image }}" alt="{{ nextprev.next.name }}"/>
      </span>
      <div class="clearfix"></div>
      {% if nextprev.next.name %}
      <span class="mpblognavs-title">
        <h4>{{ nextprev.next.name }}</h4>
      </span>
      {% endif %}
    </a>
  </div>
  {% endif %}
</div>
<div class="breadcrumb-width">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
</div>
<!-- Add Next and Previous Blog Link ends-->
<div id="container" class="container mp-blog j-container {{ themeclass }}">
  {{ content_top }}
  <div class="row">{{ column_left }}
    {% if themename == 'journal2' %}
    {{ column_right }}
    {% endif %}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      <h1 style="font-size: 40px;">{{ heading_title }}</h1>
      <div class="{% if themename != 'journal2' %} row {% endif %}">
        <div class="col-sm-12 xl-100 sm-100">
          {% if show_rating %}
          <ul class="list-inline text-center rating-wrap">
            <li title="{{ rating }}" class="small-rating">
              <div class="rating text-center">
                <div class="rating-icons-container text-center">
                  <div class="rating-icons-wrap">
                    {% for i in 1..5 %}
                    {% if rating < i %}
                    {% set rdecimal = 'EMPTY_STAR' %}
                    {% if rating|round(1, 'ceil') == i %}
                    {% set rates = rating|split('.') %}
                    {% if rates.1 %}
                    {% if "0" ~ rates.1|round(1, 'floor') < 0.6000 %}
                    {% set rdecimal = 'HALF_STAR' %}
                    {% endif %}
                    {% if "0" ~ rates.1|round(1, 'floor') > 0.6000 %}
                    {% set rdecimal = 'FULL_STAR' %}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% if rdecimal=='HALF_STAR' %}
                    <div class="rating-icons half">
                      <span class="red"></span>
                      <span class="grey"></span>
                      <i class="fa fa-star"></i>
                    </div>
                    {% endif %} {% if rdecimal=='FULL_STAR' %}
                    <div class="rating-icons full">
                      <span class="red"></span>
                      <span class="grey"></span>
                      <i class="fa fa-star"></i>
                    </div>
                    {% endif %} {% if rdecimal=='EMPTY_STAR' %}
                    <div class="rating-icons">
                      <span class="red"></span>
                      <span class="grey"></span>
                      <i class="fa fa-star"></i>
                    </div>
                    {% endif %} {%  else %}
                    <div class="rating-icons full">
                      <span class="red"></span>
                      <span class="grey"></span>
                      <i class="fa fa-star"></i>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </li>
          </ul>
          {% endif %}
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 xl-70 sm-100">
          <ul class="blog-info list-inline mpblogpost-id-{{ mpblogpost_id }}">
            {% if show_date %}
            <li  title="{{ date_available }}"><i class="fa fa-calendar"></i> {% if date_availableurl is not empty %} <a href="{{ date_availableurl }}"> {{ date_available }}</a> {% else %} {{ date_available }} {% endif %} </li> <span>|</span>
            {% endif %}
            {% if show_author %}
            <li title="{{ author }}"><i class="fa fa-user"></i> {% if  authorurl is not empty %} <a href="{{ authorurl }}"> {{ author }} </a> {% else %} {{ author }} {% endif %}</li> <span class="hidden-xs">|</span>
            {% endif %}
            {% if show_comments %}
            <li class="hidden-xs" title="{{ comments }}"><i class="fa {% if comments %} fa-comments {% else %} fa-comments-o {% endif %} "></i> {{ comments ~' '~ text_comment }}</li> <span class="hidden-xs">|</span>
            {% endif %}
            {% if show_wishlist %}
            <li class="hidden-xs" title="{{ wishlists }}"><span title="{{ wishlists }}" class="mpbloglike {% if isLikeByMe %} liked {% endif %}" data-id="{{ mpblogpost_id }}"><i class="fa fa-heart {% if not isLikeByMe %} fa-heart-o {% endif %}"></i> <span>{{ wishlists }}</span></span></li>
            {% endif %}

          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 xl-30 sm-100">
          {% if socialtop %}
          <!-- Social Media Icons Starts -->
          <ul class="list-inline social-media">
            <li><h3 class="visible-md visible-lg">{{ text_follow }}</h3></li>
            {% for social in socials %}
            <li> <a target="_BLANK" href="{{ social.href }}" data-toggle="tooltip" title="{{ social.sname }}"> <i class="{{ social.icon }}"></i>  </a> </li>
            {% endfor %}
          </ul>
          <!-- Social Media Icons Ends -->
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 xl-100 sm-100">
          <div class="main-image">
            {% if showImage %}
            {% if thumb and blog_image %}
            <ul class="thumbnails">
              {% if blog_image_popup %}
              <li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-responsive" /></a></li>
              {% else %}
              <li><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-responsive" /></li>
              {% endif %}
            </ul>
            {% endif %}
            {% else %}
            <div class="video-container">
              <iframe width="{{ width }}" height="{{ height }}" src="{{ iframeVideo }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endif %}
            {% if sharethis %}
            <!-- AddThis Button BEGIN -->
            <div class="hidden-xs addthis_toolbox addthis_default_style addthis_20x20_style" data-url="{{ share }}">
              <div class="share"><i class="fa fa-share-alt-square" aria-hidden="true"></i> <span>{{ text_share }}</span></div>
              <!-- <a class="addthis_button_facebook_like addthis_button_preferred_1" fb:like:layout="button_count"></a>  -->
              <a class="addthis_button_print addthis_button_preferred_1"></a>
              <a class="addthis_button_facebook addthis_button_preferred_1" fb:like:layout="button_count"></a>
              <!-- <a class="addthis_button_tweet addthis_button_preferred_2"></a>  -->
              <a class="addthis_button_twitter addthis_button_preferred_2"></a>
              <a class="addthis_button_whatsapp addthis_button_preferred_3"></a>
              <a class="addthis_button_email addthis_button_preferred_4"></a>
              <a class="addthis_button_linkedin addthis_button_preferred_5"></a>
              <!-- <a class="addthis_button_pinterest_pinit addthis_button_preferred_5"></a>  -->
              <!-- <a class="addthis_counter addthis_pill_style addthis_button_preferred_7"></a> -->
              <a class="addthis_button_compact addthis_button_preferred_6"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
            <!-- AddThis Button END -->
            {% endif %}
          </div>
          {% if images %}
          <ul class="thumbnails list-inline">
            {% for image in images %}
            {% if blog_image_popup %}
            <li class="mpblogimage-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-responsive" /></a></li>
            {% else %}
            <li class="mpblogimage-additional"><img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-responsive" /></li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
          <div class="blog-details">
            <div class="description"><p>{{ description }}</p></div>
            <div class="row">
              {% if show_tag and tags %}
              <div class="col-sm-8 col-xs-12 xl-75 sm-100 tags">
                <ul class="list-unstyled">
                  <li>
                    <div class="icon-tag"><i class="fa fa-tags"></i>  {{ text_tags }}</div>
                    {% for rtag in tags %}
                    {% if rtag.href is not empty %}
                    <a href="{{ rtag.href }}">{{ rtag.tag }}</a>
                    {% else %}
                    <span>{{ rtag.tag }}</span>
                    {% endif %}
                    {% endfor %}
                  </li>
                </ul>
              </div>
              {% endif %}
              {% if socialbottom %}
              <div class="col-sm-4 col-xs-12 xl-25 sm-100 hidden-xs pull-right">
                <!-- Social Media Icons Starts -->
                <ul class="list-inline social-media ">
                  <li><h3 class="visible-md visible-lg">{{ text_follow }}</h3></li>
                  {% for social in socials %}
                  <li> <a target="_BLANK" href="{{ social.href }}" data-toggle="tooltip" title="{{ social.sname }}"> <i class="{{ social.icon }}"></i>  </a> </li>
                  {% endfor %}
                </ul>
                <!-- Social Media Icons Ends -->
              </div>
              {% endif %}
            </div>

            {% if comment_tabs %} {% set total_comment_tabs = comment_tabs|length  %}
            <hr/>
            {% if total_comment_tabs > 1 %}
            <ul class="nav nav-tabs htabs clearfix" id="comments">
              {% for key,comment_tab in comment_tabs %}
              <li><a href="#tab-{{ key }}" data-toggle="tab">{{ comment_tab }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if total_comment_tabs > 1 %}
            <div class="tab-content tabs-content">
              {% endif %}
              {% for key, comment_tab in comment_tabs %}
              <div class="tab-pane" id="tab-{{ key }}">
                {% if key == 'default' %}
                <div class="row">
                  {% if show_comments %}
                  <div class="col-sm-12 xl-100 sm-100">
                    <h1 class="text-center"><i class="fa fa-comments mp-fa"></i> {{ text_comments }}</h1>
                    <div id="comment"></div>
                  </div>
                  {% endif %}
                  {% set class='col-sm-12 xl-100' %} {% if allow_comment and allow_rating %} {% set class='col-sm-6 xl-50 sm-100' %} {% endif %}
                  {% if allow_comment %}
                  <div class="{{ class }} capcha">
                    <form class="form-horizontal" id="form-comment">
                      <h1><i class="fa fa-pencil"></i> {{ text_write_comment }}</h1>
                      {% if comment_guest %}
                      <div class="form-group required">
                        <div class="col-sm-12 xl-100 sm-100">
                          <input type="text" name="name" value="{{ customer_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-sm-12 xl-100 sm-100">
                          <textarea name="text" placeholder="{{ entry_comment }}" rows="5" id="input-comment" class="form-control"></textarea>
                          <div class="help-block">{{ text_note }}</div>
                        </div>
                      </div>
                      {{ captcha }}
                      <div class="buttons clearfix">
                        <div class="pull-left">
                          <button type="button" id="button-comment" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_add_comment }}</button>
                        </div>
                      </div>
                      {% else %}
                      <div class="inner-rating">
                        <div class="login-text">{{ text_login_comment }}</div>
                      </div>
                      {% endif %}
                    </form>
                  </div>
                  {% endif %}
                  {% if allow_rating %}
                  <div class="{{ class }} rating-wrap">
                    <h1><i class="fa fa-thumbs-up"></i> {{ heading_give_rating }}</h1>
                    <div class="inner-rating">
                      <form class="form-horizontal" id="form-rating">
                        {% if rating_guest %}
                        <div id="rating"></div>
                        <div class="form-group required">
                          <div class="col-sm-12 xl-100 sm-100">

                            <div class="rating-container">
                              <input type="hidden" name="rating" id="input-rating" class="rating hide" value="" data-error="{{ error_rating }}" />
                              <div class="rating-icons-wrap">
                                {% for i in 1..5 %}
                                <div class="rating-icons" data-value="{{ i }}">
                                  <span class="red"></span>
                                  <span class="grey"></span>
                                  <i class="fa fa-star"></i>
                                </div>
                                {% endfor %}
                              </div>
                            </div>

                            <button class="btn btn-primary" type="button" id="button-rating">{{ button_give_rating }}</button>
                          </div>
                        </div>
                        {% else %}
                        {{ text_login_rating }}
                        {% endif %}
                      </form>
                    </div>
                  </div>
                  {% endif %}
                </div>
                {% endif %}
                {% if key == 'facebook' %}
                {% if allow_comment %}
                <!-- Include the JavaScript SDK  -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId={{ mpblog_facebook_appid }}";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>
                <!--  Place this code wherever you want the plugin to appear on your page. -->

                <div class="fb-comments" data-href="{{ action }}" data-numposts="{{ mpblog_facebook_nocomment }}"  data-order-by="{{ mpblog_facebook_order }}" data-colorscheme="{{ mpblog_facebook_color }}" data-width="{{ mpblog_facebook_width }}%"></div>
                {% endif %}
                {% endif %}
                {% if key == 'google' %}
                {% if allow_comment %}
                <script src="https://apis.google.com/js/plusone.js"></script>
                <div id="g-comments">{{ text_loading }}</div>
                <script>
                  gapi.comments.render('g-comments', {
                  href: '{{ action }}',
                  width: '800',
                  height : '200',
                  first_party_property: 'BLOGGER',
                  view_type: 'FILTERED_POSTMOD',
                  });
                </script>
                {% endif %}
                {% endif %}
                {% if key == 'disqus' %}
                {% if allow_comment %}
                <div id="disqus_thread"></div>
                <script>
                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                  var disqus_config = function () {
                  this.page.url = '{{ action }}';  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = 'mpblogpost_id={{ mpblogpost_id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                </script>
                {{ comment_disqus_code|replace('<div id="disqus_thread"></div>', '') }}
                {{ comment_disqus_count }}
                {% endif %}
                {% endif %}
              </div>
              {% endfor %}
              {% if total_comment_tabs > 1 %}
            </div>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% if mpblogposts %}
      <h1>{{ text_related }}</h1>
      <hr/>
      <div class="row mp-grid-layout">
        {% set i = 0 %}
        {% for mpblogpost in mpblogposts %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-12 col-sm-6 col-md-6 col-lg-6 xl-50 md-50 sm-100' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-12 col-md-6 col-lg-6 col-sm-6 xl-33 md-50 sm-100' %}
        {% else %}
        {% set class = 'col-xs-12 col-sm-6 col-md-4 col-lg-4 xl-33 md-50 sm-100' %}
        {% endif %}
        <div class="{{ class }} mpblog-layout ">
          <div class="inner-layout">
            <div class="image">
              {% if mpblogpost.showImage %}
              <div class="video-container"><a href="{{ mpblogpost.href }}"><img src="{{ mpblogpost.thumb }}" alt="{{ mpblogpost.name }}" title="{{ mpblogpost.name }}" class="img-responsive" /></a></div>
              {% else %}
              <div class="video-container">
                <iframe width="{{ mpblogpost.width }}" height="{{ mpblogpost.height }}" src="{{ mpblogpost.iframeVideo }}" frameborder="0" allowfullscreen></iframe>
              </div>
              {% endif %}
              {% if show_viewed %}
              <div class="view" title="{{ mpblogpost.viewed }}">
                <i class="fa fa-eye"></i>
                {{ mpblogpost.viewed }}
              </div>
              {% endif %}
            </div>
            <div class="caption">
              <h4><a href="{{ mpblogpost.href }}">{{ mpblogpost.name }}</a></h4>
              <ul class="dar clearfix list-inline mpblogpost-id-{{ mpblogpost.mpblogpost_id }}">
                <li class="col-sm-6 col-xs-6 xl-50" title="{{ mpblogpost.date_available }}">
                  {% if show_date %}
                  <i class="fa fa-calendar"></i>
                  {% if mpblogpost.date_availableurl %}
                  <a href="{{ mpblogpost.date_availableurl }}">{{ mpblogpost.date_available }}</a>
                  {% else %}
                  {{ mpblogpost.date_available }}
                  {% endif %}
                  {% endif %}
                </li>
                {% if show_author %}
                <li title="{{ mpblogpost.author }}" class="author col-xs-6 col-sm-6 xl-50">
                  <i class="fa fa-user"></i>
                  {% if mpblogpost.authorurl is not empty %}
                  <a href="{{ mpblogpost.authorurl }}">
                    {{ mpblogpost.author }}
                  </a>
                  {% else %}
                  {{ mpblogpost.author }}
                  {% endif %}
                </li>
                {% endif %}
                {% if show_rating %}
                <li class="col-sm-12 col-xs-12 xl-100" title="{{ mpblogpost.rating }}">
                  <div class="rating small-rating text-center">
                    <div class="rating-icons-container text-center">
                      <div class="rating-icons-wrap">
                        {% for i in 1..5 %}
                        {% if mpblogpost.rating < i %}
                        {% set rdecimal = 'EMPTY_STAR' %}

                        {% if mpblogpost.rating|round(1, 'ceil') == i %}
                        {% set rates = mpblogpost.rating|split(".") %}
                        {% if rates.1 is not empty %}
                        {% if "0" ~ rates.1|round(1, 'floor') < 0.6000 %}
                        {% set rdecimal = 'HALF_STAR' %}
                        {% endif %}
                        {% if "0" ~ rates.1|round(1, 'floor') > 0.6000 %}
                        {% set rdecimal = 'FULL_STAR' %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if rdecimal=='HALF_STAR' %}
                        <div class="rating-icons half">
                          <span class="red"></span>
                          <span class="grey"></span>
                          <i class="fa fa-star"></i>
                        </div>
                        {% endif %} {% if rdecimal=='FULL_STAR' %}
                        <div class="rating-icons full">
                          <span class="red"></span>
                          <span class="grey"></span>
                          <i class="fa fa-star"></i>
                        </div>
                        {% endif %} {% if rdecimal=='EMPTY_STAR' %}
                        <div class="rating-icons">
                          <span class="red"></span>
                          <span class="grey"></span>
                          <i class="fa fa-star"></i>
                        </div>
                        {% endif %} {% else %}
                        <div class="rating-icons full">
                          <span class="red"></span>
                          <span class="grey"></span>
                          <i class="fa fa-star"></i>
                        </div>
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </li>
                {% endif %}
              </ul>
              {% if show_sdescription %}<p class="desc">{{ mpblogpost.sdescription }}{% if mpblogpost.sdescription and show_readmore %} <a href="{{ mpblogpost.href }}">  {{ text_readmore }} </a> {% endif %}</p>{% endif %}
              <ul class="list-inline dar cmt-wsh clearfix">
                {% if show_wishlist %}
                <li title="{{ mpblogpost.wishlist }}">
                  <span class="mpbloglike {% if mpblogpost.isLikeByMe %} liked {% endif %}" data-id="{{ mpblogpost.mpblogpost_id }}">
                    <i class="fa fa-heart {% if not mpblogpost.isLikeByMe %} fa-heart-o {% endif %} "></i>
                    <span>{{ mpblogpost.wishlist }}</span>
                  </span>
                </li>
                {% endif %}
                {% if show_comments %}
                <li class="pull-right" title="{{ mpblogpost.comments }}">
                  <i class="fa {% if mpblogpost.comments %} fa-comments {% else %} fa-comments-o {% endif %}"></i>
                  {{ mpblogpost.comments ~' '~ text_comment }}
                </li>
                {% endif %}
              </ul>
              {% if show_tag and mpblogpost.tag %}
              <ul class="list-inline blog-tags">
                <li>
                  <i class="fa fa-tags"></i>
                  {% for rtag in mpblogpost.tag %}
                  {% if rtag.href %}
                  <a href="{{ rtag.href }}">{{ rtag.tag }}</a>
                  {% else %}
                  {{ rtag.tag }}
                  {% endif %}
                  ,
                  {% endfor %}
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        {% if ((column_left and column_right) and ((i+1) % 2 == 0)) %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif ((column_left or column_right) and ((i+1) % 3 == 0)) %}
        <div class="clearfix visible-md"></div>
        {% elseif (i+1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i+1 %}
        {% endfor %}
      </div>
      {% endif %}

      {% if products %}
      <h3 class="box-heading">{{ text_related_products }}</h3>
      <hr/>
      <div class="row" style="margin-bottom: 3%">
         <ul class="product-list" style="justify-content: start; width: 100%">
            {% for product in products %}
            <li id="product{{ product.name }}">
              <a class="product-link" href="{{ product.href }}">
                <div class="product-img">
                  <img alt="{{ product.name }}" src="{{ product.thumb }}" data-size="lg">
                </div>
                <div class="product-body">
                  <p class="product-name">{{ product.name }}</p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
      {% endif %}

      {% if categories %}
      <h3 class="box-heading">{{ text_inity_products }}</h3>
      <hr/>
      <div class="row">
        {% set i = 0 %}
        {% for category in categories %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-12 col-sm-6 xl-50 sm-100' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-12 col-md-4 xl-33 sm-100' %}
        {% else %}
        {% set class = 'col-xs-12 col-sm-3 xl-25 sm-100' %}
        {% endif %}
        <div class="product-grid-item {{ class }}">
          <div class="product-thumb transition product-wrapper">
            <div class="image"><a href="{{ category.href }}"><img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" /></a></div>
            <div class="product-details">
              <div class="caption">
                <h4 class="name"><a href="{{ category.href }}">{{ category.name }}</a></h4>
                <p>{{ category.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% if ((column_left and column_right) and ((i+1) % 2 == 0)) %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif ((column_left or column_right) and ((i+1) % 3 == 0)) %}
        <div class="clearfix visible-md"></div>
        {% elseif (i+1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i+1 %}
        {% endfor %}
      </div>
      {% endif %}

      {{ content_bottom }}</div>
    {% if themename != 'journal2' %}
    {{ column_right }}
    {% endif %}
  </div>
</div>
<script type="text/javascript"><!--
$('#comment').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

  $('#comment').fadeOut('slow');

  $('#comment').load(this.href);

  $('#comment').fadeIn('slow');
});

$('#comment').load('index.php?route=mpblog/blog/comment&mpblogpost_id={{ mpblogpost_id }}');

$('#button-comment').on('click', function() {
 $.ajax({
  url: 'index.php?route=mpblog/blog/writeComment&mpblogpost_id={{ mpblogpost_id }}',
  type: 'post',
  dataType: 'json',
  data: $("#form-comment").serialize(),
  beforeSend: function() {
   $('#button-comment').button('loading');
  },
  complete: function() {
   $('#button-comment').button('reset');
  },
  success: function(json) {
   $('.alert-success, .alert-danger').remove();

   if (json['error']) {
    $('#form-comment').after('<div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
   }

   if (json['success']) {
    $('#form-comment').after('<div class="alert alert-success success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
    $('input[name=\'name\']').val('');
    $('#input-comment').val('');
    $('#form-comment input[type="text"]').val('');

    // load latest comments
    $('#comment').fadeOut('slow');
    $('#comment').load('index.php?route=mpblog/blog/comment&mpblogpost_id={{ mpblogpost_id }}');
    $('#comment').fadeIn('slow');

   }
  }
 });
});

$('#button-rating').on('click', function() {
 $.ajax({
  url: 'index.php?route=mpblog/blog/addRating&mpblogpost_id={{ mpblogpost_id }}',
  type: 'post',
  dataType: 'json',
  data: $("#form-rating").serialize(),
  beforeSend: function() {
   $('#button-rating').button('loading');
  },
  complete: function() {
   $('#button-rating').button('reset');
  },
  success: function(json) {
   $('.alert-success, .alert-danger').remove();

   if (json['error']) {
    $('#rating').after('<div class="alert alert-danger warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
   }

   if (json['success']) {
    $('#rating').after('<div class="alert alert-success success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
    $('input[name=\'rating\']:checked').prop('checked', false);
   }
  }
 });
});

$(document).ready(function() {

 {% if blog_image_popup %}
 $.each($('.thumbnails'), function() {
  $(this).magnificPopup({
   type:'image',
   delegate: 'a',
   gallery: {
    enabled:true
   }
  });
 });
 {% endif %}
$('#comments a:first').tab('show');

});
//--></script>
{{ footer }}