{% if mpblogposts %}
<div class="mp-grid-layout">
<div class="{% if themename != 'journal2' %} row {% endif %} {% if themename == 'journal2' %} xl-100 {% endif %}">
	{% for mpblogpost in mpblogposts %}
  {% set cols = mpblog_category_design.0 ? 12/mpblog_category_design.0 : 4 %}
  {% set jcols = 50 %}
  {% if themename == 'journal2' %}
    {% if cols == 12 %}
       {% set jcols = 100 %}
    {% elseif cols == 6 %}
        {% set jcols = 50 %}
    {% elseif cols == 4 %}
        {% set jcols = 33 %}
    {% elseif cols == 3 %}
        {% set jcols = 25 %}
    {% elseif cols == 2 %}
        {% set jcols = 16 %}
    {% else %}
       {% set jcols = 50 %}
    {% endif %}
  {% endif %}
		<div class="mpblogpost-layout mpblogpost-grid col-lg-{{ cols }} col-md-{{ cols }} col-sm-6 col-xs-12 xs-100 sm-100 md-50 lg-{{ jcols }} xl-{{ jcols }}">
      <div class="inner-layout">
        <div class="image">
          {% if mpblogpost.showImage %}
          <div class="video-container"><a href="{{ mpblogpost.href }}"><img src="{{ mpblogpost.thumb }}" alt="{{ mpblogpost.name }}" title="{{ mpblogpost.name }}" class="img-responsive" /></a></div>
          {%  else %}
          <div class="video-container"><iframe src="{{ mpblogpost.iframeVideo }}" frameborder="0" allowfullscreen></iframe></div>
          {% endif %}
          {% if show_viewed %}
            <div class="view" title="{{ mpblogpost.viewed }}">
              <i class="fa fa-eye"></i>
              {{ mpblogpost.viewed }}
            </div>
          {% endif %}
        </div>
        <div class="caption">
          <h4><a href="{{ mpblogpost.href }}">{{ mpblogpost.name }}</a></h4>
            <ul class="dar clearfix list-inline mpblogpost-id-{{ mpblogpost.mpblogpost_id }}">
                    <li class="col-sm-6 xl-50" title="{{ mpblogpost.date_available }}">
                    {% if show_date %}
                      <i class="fa fa-calendar"></i>
                      {% if mpblogpost.date_availableurl %}
                      <a href="{{ mpblogpost.date_availableurl }}">{{ mpblogpost.date_available }}</a>
                      {% else %}
                      {{ mpblogpost.date_available }}
                      {% endif %}
                    {% endif %}
                    </li>
                    {% if show_author %}
                    <li title="{{ mpblogpost.author }}" class="author col-sm-6 xl-50">
                      <i class="fa fa-user"></i>                    
                      {% if mpblogpost.authorurl %}
                      <a href="{{ mpblogpost.authorurl }}">
                        {{ mpblogpost.author }}
                      </a>
                      {% else %}
                      {{ mpblogpost.author }}
                      {% endif %}
                    </li>
                    {% endif %}
                    {% if show_rating %}
                    <li class="col-sm-12 col-xs-12 xl-100" title="{{ mpblogpost.rating }}">
                      <div class="small-rating rating text-center">
                        <div class="rating-icons-container text-center">
                        <div class="rating-icons-wrap">
                          {% for i in 1..5 %}
                          {% if mpblogpost.rating < i %}
                          {% set rdecimal = 'EMPTY_STAR' %}
                          {% if mpblogpost.rating|round(1, 'ceil') == i %}
                           {% set rates = mpblogpost.rating|split('.') %}
                            {% if rates[1] %}
                              {% if "0" ~ rates[1]|round(1, 'floor') < 0.6000 %}
                                {% set rdecimal = 'HALF_STAR' %}
                              {% endif %}
                              {% if "0" ~ rates[1]|round(1, 'floor') > 0.6000 %}
                                {% set rdecimal = 'FULL_STAR' %}
                              {% endif %}
                           {% endif %}
                          {% endif %}
                        {% if rdecimal == 'HALF_STAR' %}
                          <div class = "rating-icons half">
                            <span class = "red"></span>  
                            <span class = "grey"></span>  
                            <i class = "fa fa-star"></i>
                          </div>
                        {% endif %} {% if rdecimal == 'FULL_STAR' %}
                          <div class = "rating-icons full">
                            <span class = "red"></span>  
                            <span class = "grey"></span>  
                            <i class = "fa fa-star"></i>
                          </div>
                        {% endif %} {% if rdecimal == 'EMPTY_STAR' %}
                          <div class = "rating-icons">
                            <span class = "red"></span>  
                            <span class = "grey"></span>  
                            <i class = "fa fa-star"></i>
                          </div>
                        {% endif %} {% else %}
                        <div class = "rating-icons full">
                          <span class = "red"></span>  
                          <span class = "grey"></span>  
                          <i class = "fa fa-star"></i>
                        </div>
                        {% endif %}
                        {% endfor %}
                        </div>
                        </div>
                      </div>
                    </li>
                    {% endif %}
                  </ul>
            {% if show_sdescription %}<p class="desc">{{ mpblogpost.sdescription }}{% if mpblogpost.sdescription and show_readmore %} <a href="{{ mpblogpost.href }}">  {{ text_readmore }} </a> {% endif %}</p>{% endif %}
            <ul class="list-inline dar clearfix cmt-wsh">
              {% if show_wishlist %}
              <li title="{{ mpblogpost.wishlist }}">
                <span class="mpbloglike {% if mpblogpost.isLikeByMe %} liked {% endif %}" data-id="{{ mpblogpost.mpblogpost_id }}">
                <i class="fa fa-heart {% if not mpblogpost.isLikeByMe %} fa-heart-o {% endif %}"></i>
                <span>{{ mpblogpost.wishlist }}</span>
                </span>
              </li>
              {% endif %}
              {% if show_comments %}
              <li class="pull-right" title="{{ mpblogpost.comments }}">
                <i class="fa {% if mpblogpost.comments %} fa-comments {% else %} fa-comments-o {% endif %}"></i>
                {{ mpblogpost.comments ~ ' ' ~ text_comment }}
              </li>
              {% endif %}
            </ul>
            {% if show_tag and mpblogpost.tag %}
              <ul class="list-inline blog-tags">
                <li>
                  <i class="fa fa-tags"></i>
                  {% for rtag in mpblogpost.tag %}
                  {% if rtag.href %}
                  <a href="{{ rtag.href }}">{{ rtag.tag }}</a>
                  {% else %}
                  {{ rtag.tag }}
                  {% endif %}
                  ,
                  {% endfor %}
                </li>
              </ul>
            {% endif %}
        </div>
      </div>
    </div>
	{% endfor %}
</div>
</div>
<div class="{% if themename != 'journal2' %} row {% endif %} {% if themename == 'journal2' %} xl-100 {% endif %}">
	<div class="col-sm-6 xl-50 text-left">&nbsp;{{ pagination }}</div>
	<div class="col-sm-6 xl-50 text-right">{{ results }}</div>
</div>
{% endif %}