{% if comments %}
{% for comment in comments %}
<div class="mp-comments">
  	<div class="img-circle mp-avatar"><i class="fa fa-user"></i></div>
  	<div class="cmt-wrap">
	  	<h4 class="mp-commentauthor">{{ comment.author }}</h4>
	    <h5><i class="fa fa-calendar"></i> {{ comment.date_added }}</h5>
	    <p>{{ comment.text }}</p>
    </div>
</div>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_comments }}</p>
{% endif %}