html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 16px;
    line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* default font size */

.fa {
    font-size: 18px;
}


/* Override the bootstrap defaults */

h1 {
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #23a1d1;
}

a:hover {
    text-decoration: none;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
    font-size: 16px;
    font-weight: normal;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
    font-size: 12px;
}

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
    font-size: 12px;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}


/* Fix some bootstrap issues */

span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 15px;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}


/* Gradent to all drop down menus */

.dropdown-menu .top-acc>a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #378EA0;
    background-image: linear-gradient(to bottom, #378EA0, #378EA0);
    background-repeat: repeat-x;
}

.top-header {
    width: 1504px;
    margin-left: auto;
    margin-right: auto;
}


/* top */

#top {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e2e2e2;
    padding: -10px 0px 0px 0px;
    margin: 0 0 20px 0;
    min-height: 40px;
}

#top .container {
    padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #378EA0;
    background-image: linear-gradient(to bottom, #378EA0, #378EA0);
    background-repeat: repeat-x;
}

#top .btn-link,
#top-links li,
#top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top .btn-link:hover,
#top-links a:hover {
    color: #444;
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 11px;
}

#top-links a+a {
    margin-left: 15px;
}


/* logo */

#logo {
    margin: 0 0 10px 0;
}


/* search */

#search {
    margin-bottom: 10px;
}

#search .input-lg {
    width: 366px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
}

#search .btn-lg {
    font-size: 13px;
    line-height: 18px;
    padding: 10px 35px;
    text-shadow: 0 1px 0 #FFF;
}


/* cart */

#cart {
    margin-bottom: 10px;
}

#cart>.btn {
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
    border-color: #378EA0;
    background-color: #378EA0;
}

#cart.open>.btn {
    background-image: none;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
}

#cart.open>.btn:hover {
    color: #ffffff;
}

#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
}

#cart .dropdown-menu {
    min-width: 100%;
}

@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
    }
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu li>div {
    min-width: 427px;
    padding: 0 10px;
}

@media (max-width: 478px) {
    #cart .dropdown-menu li>div {
        min-width: 100%;
    }
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}


/* menu */


/* edit here  */

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: antiquewhite;
}

.line-2 {
    margin-right: 0px;
}

.line-1 {
    margin-top: 10px;
}

.background-line-3 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    background-image: url(https://nucos.jp/wp-content/uploads/2020/08/z2034863627565_6a1e278b524deb77b90f431ab01d447c.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#menu {
    /* background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb); */
    background-repeat: repeat-x;
    /* border-color: #1f90bb #1f90bb #145e7a; */
    min-height: 40px;
}

#menu .nav>li>a {
    color: #333333;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent;
    font-size: 15px;
}

#menu .nav>li>a:hover,
#menu .nav>li.open>a {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
    padding-bottom: 0;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}

#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #229ac8;
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    #menu {
        border-radius: 4px;
    }
    #menu div.dropdown-inner>ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}

.button_actions {
    width: 100%;
    display: inline-block;
    display: flex;
    float: left;
}

.button_actions .btn_buy {
    padding: 0;
    height: 45px;
    width: 100%;
    text-align: center;
    border-radius: 23px;
    border: 2px solid #ffa697;
}

.button_cart_buy_enable {
    background: #fff;
    position: relative;
}

.button_actions .btn_buy .btn-image .icons {
    font-size: 16px;
}

.button_cart_buy_enable span,
.button_cart_buy_disable span {
    font-size: 14px;
}

.button_actions .btn_buy .btn-image {
    width: 53px;
    height: 53px;
    line-height: 44px;
    top: -5px;
    left: -25px;
    border-radius: 100%;
    border: 2px solid #ffe2e2c4;
    position: absolute;
    background: #378EA0;
}

.button_cart_buy_enable span.btn-content {
    color: #252525;
    font-weight: 700;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button_cart_buy_enable,
.button_cart_buy_disable {
    height: 40px;
    line-height: 40px;
    width: auto;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    float: left;
    position: relative;
}

.btn-search-blog,
input[type="submit"] {
    background-color: #378EA0;
    color: #fff;
    border-color: #378EA0;
    display: inline-block;
    height: 34px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: #378EA0 0.1s ease-in;
    -moz-transition: #378EA0 0.1s ease-in;
    -ms-transition: #378EA0 0.1s ease-in;
    -o-transition: #378EA0 0.1s ease-in;
    transition: #378EA0 0.1s ease-in;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn-quantity,
input[type="submit"] {
    display: inline-block;
    height: 34px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -ms-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn-checkout,
input[type="submit"] {
    display: inline-block;
    background-color: #378EA0;
    height: 34px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: #378EA0 0.1s ease-in;
    -moz-transition: #378EA0 0.1s ease-in;
    -ms-transition: #378EA0 0.1s ease-in;
    -o-transition: #378EA0 0.1s ease-in;
    transition: #378EA0 0.1s ease-in;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn,
input[type="submit"] {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -ms-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.buy-now {
    width: 160px;
    text-align: center;
    background: #fff;
    border-radius: 22px;
    color: #000;
    font-weight: 500;
    margin-left: 15px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.group-status {
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 15px;
}

.custom-btn-number {
    width: 100%;
    margin-right: 28px;
    display: inline-block;
    float: left;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    height: 45px;
}

.form-group .input_number_product .btn_num.num_1 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 30px;
    border-right: 0;
    padding-left: 15px;
}

.form-group .input_number_product .btn_num {
    font-size: 22px;
    line-height: 0px;
    border: solid 2px #ebebeb;
    display: inline-block;
    width: 40px;
    height: 45px;
    background: #fff;
    float: left;
    color: #222;
    text-align: center;
    padding-bottom: 5px;
}

button,
input[type="submit"] {
    cursor: pointer;
}

.form-group .input_number_product input {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
    color: #222;
    height: 45px;
    border: 2px solid #ebebeb;
    border-right: none;
    border-left: none;
    width: 20px;
    text-align: center;
    box-shadow: none;
    border-radius: 0px;
    font-size: 15px;
}

.form-group .input_number_product .btn_num.num_2 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 0;
    font-size: 22px;
    padding-right: 30px;
}

.form-group .input_number_product .btn_num {
    font-size: 22px;
    line-height: 0px;
    border: solid 2px #ebebeb;
    display: inline-block;
    width: 40px;
    height: 45px;
    background: #fff;
    float: left;
    color: #222;
    text-align: center;
    padding-bottom: 5px;
}

.related-product {
    margin-top: 0px !important;
    display: block;
    float: left;
    width: 100%;
}

.heading {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
}

.related-product .heading h2 {
    font-size: 28px;
    font-family: "Prata", serif;
    margin: 0;
    padding: 0 20px 0 0;
    display: block;
    width: 100%;
    margin-bottom: -5px;
    z-index: -1;
}

.heading h2 {
    display: block;
    position: relative;
    z-index: 999;
    padding: 0;
    font-size: 27px !important;
    font-family: "Prata", serif;
    text-transform: none !important;
    font-weight: 400 !important;
}

.title-head {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 9px;
    color: #252525;
    text-decoration: none;
}

.related-product .textsmall {
    margin-top: 15px;
}

.product-mini-item {
    display: block;
    float: left;
    width: 100%;
    padding: 20px 0;
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
}

.product-mini-item .product-img1 {
    width: 100px;
    margin-right: 20px;
    float: left;
}

.related-product a {
    display: block;
    float: left;
    width: 100%;
    color: black;
}

.lazyload.loaded {
    background: transparent;
    height: unset;
    width: auto;
}

.lazyload {
    background: #ebebeb;
}

.product-mini-item .product-info {
    width: calc(100% - 120px);
    float: right;
}

.product-mini-item .product-info h3 {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 15px;
    display: block;
    float: left;
    width: 100%;
}

.product-mini-item .product-info h3 a {
    color: #252525;
}

.text3line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-mini-item .product-info .price-box {
    border: none;
    margin-top: 15px;
}

.product-mini-item .product-info .price-box .price {
    display: block;
}

.product-mini-item .product-price {
    font-size: 16px;
    font-weight: 400;
    color: #ffa697;
}

.product-price {
    color: #ffa697;
    font-size: 1.14286em;
    line-height: 20px;
    font-weight: 600;
}


/* content */

#content {
    min-height: 1px;
}


/* footer */

footer {
    color: #e2e2e2;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a {
    color: #000000;
}

footer a:hover {
    color: #fff;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: bold;
}


/* alert */

.alert {
    padding: 8px 14px 8px 14px;
}


/* breadcrumb */

.breadcrumb {
    margin: 0 0 20px 0;
    padding: 8px 0;
    border: 1px solid #ddd;
}

.breadcrumb i {
    font-size: 15px;
}

.breadcrumb>li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb>li+li:before {
    content: '';
    padding: 0;
}

.breadcrumb>li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination {
    margin: 0;
}


/* buttons */

.buttons {
    margin: 1em 0;
}

.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-search-blog,
.btn-checkout,
.btn-quantity {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #378EA0;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 16px;
}

.btn-group>.btn-xs {
    font-size: 9px;
}

.btn-group>.btn-sm {
    font-size: 10.2px;
}

.btn-group>.btn-lg {
    font-size: 15px;
}

.btn-default {
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #e7e7e7;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #378EA0;
    background-image: linear-gradient(to bottom, #378EA0, #378EA0);
    background-repeat: repeat-x;
    border-color: #378EA0 #378EA0 #378EA0;
    border-radius: 20px;
}

.btn-pink {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    background-color: #378EA0;
    background-image: linear-gradient(to bottom, #378EA0, #378EA0);
    background-repeat: repeat-x;
    border-color: #378EA0 #378EA0 #378EA0;
    border-radius: 20px;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink.active,
.btn-pink.disabled,
.btn-pink[disabled] {
    background-color: #378EA0;
    background-position: 0 -15px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #378EA0;
    background-position: 0 -15px;
    color: #333;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #23A1D1;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}


/* list group */

.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}


/* carousel */

.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}


/* product list */

.product-thumb {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: auto;
}

.product-thumb .image {
    text-align: center;
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image a:hover {
    opacity: 0.8;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}

.product-grid .product-thumb .image {
    float: none;
}

@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
    }
}

.product-thumb h4 {
    font-weight: bold;
}

.product-thumb .caption {
    padding: 0 20px;
    min-height: 180px;
}

.product-list .product-thumb .caption {
    margin-left: 230px;
}

@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }
    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    padding-bottom: 10px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star+.fa-star-o {
    color: #E69500;
}

h2.price {
    margin: 0;
}

.product-thumb .price {
    color: #444;
}

.product-thumb .price-new {
    font-weight: 600;
}

.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}

.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #eee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product-thumb .button-group button+button {
    width: 20%;
    border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
    color: #444;
    background-color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .product-thumb .button-group button,
    .product-thumb .button-group button+button {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .product-thumb .button-group button,
    .product-thumb .button-group button+button {
        width: 33.33%;
    }
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumbnails>li {
    margin-left: 20px;
}

.thumbnails {
    margin-left: -20px;
}

.thumbnails>img {
    width: 100%;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 1px solid #ddd;
}

.image-additional {
    max-width: 78px;
}

.thumbnails .image-additional {
    float: left;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}


/* fixed colum left + content + right*/

@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }
    #column-left+#content .product-layout .col-md-3 {
        width: 50%;
    }
    #column-left+#content+#column-right .product-layout .col-md-3 {
        width: 100%;
    }
    #content+#column-right .product-layout .col-md-3 {
        width: 100%;
    }
}


/* fixed product layouts used in left and right columns */

#column-left .product-layout,
#column-right .product-layout {
    width: 100%;
}


/* fixed mobile cart quantity input */

.input-group .form-control[name^=quantity] {
    min-width: 50px;
}


/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}