{{ header }} {{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_send }}" class="btn btn-primary"><i class="fa fa-envelope"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }} </h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }} </a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }} </h3>
      </div>
      <div class="panel-body">
     
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
    
      <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }} </a></li>
       <li><a href="#tab-data" data-toggle="tab">{{ tab_data }} </a></li>
      {#<li><a href="#tab-design" data-toggle="tab">{{ tab_design }} </a></li> #}
        </ul>
      <div class="tab-content">
      
        <div class="tab-pane active in" id="tab-general">
          <ul class="nav nav-tabs" id="language">
                {% for language in languages %} 
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }} </a></li>
                {% endfor %} 
              </ul>
    <div class="tab-content">  
          {% for language in languages %} 
          <div class="tab-pane" id="language{{ language.language_id }}">
            <table class="form">
              <tr>
                <td> {{ entry_fullname }} </td>
                <input type="text" name="contact_id" style="display:none" value="{{ contact_id }}">
                <td><input type="text" name="fullname" size="100" value="{{ fullname }}"  class="form-control" readonly />
                  {# {% if error_title[language.language_id] %} 
                  <span class="error">{{ error_title[language.language_id] }} </span>
                  {% endif %} </td> #}
              </tr>
              <!-- add title -->
              {# <tr>
                <td> {{ entry_title }} </td>
                <td><input type="text" name="title" size="100" value="{{ title }}"  class="form-control" readonly /> #}
                  {# {% if error_title[language.language_id] %} 
                  <span class="error">{{ error_title[language.language_id] }} </span>
                  {% endif %} </td> #}
              {# </tr> #}
              <!-- end add title -->
             <!-- add email -->
              <tr>
                <td> {{ entry_email }} </td>
                <td><input type="text" name="email" size="100" value="{{ email }}"  class="form-control" readonly />
                  {# {% if error_title[language.language_id] %} 
                  <span class="error">{{ error_title[language.language_id] }} </span>
                  {% endif %} </td> #}
              </tr>
              <!-- end add email-->
               {# <!-- add phone -->
              <tr>
                <td> {{ entry_phone }} </td>
                <td><input type="text" name="phone" size="100" value="{{ phone }}"  class="form-control" readonly /> #}
                  {# {% if error_title[language.language_id] %} 
                  <span class="error">{{ error_title[language.language_id] }} </span>
                  {% endif %} </td> #}
              {# </tr> #}
              <!-- end add email-->
              <tr>
                <td> {{ entry_description }} </td>
                <td>
                <textarea name="feedback" id="description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}">{{  feedback }}</textarea>
                {# <textarea name="feedback" id="description{{ language.language_id }}" >{{  feedback }}</textarea> #}
                  {# {% if error_description.language.language_id %} 
                  <span class="error">{{ error_description.language.language_id }} </span>
                  {% endif %}#}
                   </td> 
              </tr>
              
            </table>
          </div>
          {% endfor %}
        </div>
    </div>
        <div class="tab-pane fade" id="tab-data">
          <table class="form">

              <tr>
                <td> {{ entry_store }} </td>
                <td> 
                    <select name="store_id" id="input-store" class="form-control">
                    <option value="0">{{ text_default }}</option>
                    
                    {% for store in stores %}
                    
                    <option value="{{ store.store_id }}">{{ store.name }}</option>
                    
                    {% endfor %}
              
                    </select>
                </td>
              </tr>

              <tr>
                <td> {{ entry_fullname }} </td>
                <td><input type="text" name="fullnameshop" size="100" value="{{ entry_shop }}"  class="form-control" readonly/>
                  {# {% if error_title[language.language_id] %} 
                  <span class="error">{{ error_title[language.language_id] }} </span>
                  {% endif %} </td> #}
              </tr>
              <!-- add title -->
              {# <tr>
                <td> {{ entry_title }} </td>
                <td><input type="text" name="titleshop" size="100" value="{{ title }}"  class="form-control" readonly/> #}
                  {# {% if error_title[language.language_id] %} 
                  <span class="error">{{ error_title[language.language_id] }} </span>
                  {% endif %} </td> #}
              {# </tr #}
              <!-- end add title -->
              
              <tr>
                <td> {{ entry_description }} </td>
                <td><textarea name="feedbackshop" id="description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" required>{{ reply }}</textarea>
                  {# {% if error_description.language.language_id %} 
                  <span class="error">{{ error_description.language.language_id }} </span>
                  {% endif %} </td> #}
              </tr>
              
            </table>
        </div>
        {# <div class="tab-pane" id="tab-design">
          <div class="table-responsive">
                <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="left">{{ entry_store }} </td>
                <td class="left">{{ entry_layout }} </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="left">{{ text_default }} </td>
                <td class="left">
                  <select name="event_layout[0][layout_id]"  class="form-control">
                    <option value=""></option>
                    {% for layout in layouts %} 
                    {% if event_layout.0  and  event_layout.0  ==  layout.layout_id %} 
                    <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                    {% else %}   
                    <option value="{{ layout.layout_id }}">{{ layout.name }} </option>
                    {% endif %} 
                    {% endfor %}
                  </select>
                </td>
              </tr>
            </tbody>
            {% for store in stores %} 
            <tbody>
              <tr>
                <td class="left">{{ store.name }} </td>
                <td class="left"><select name="event_layout[{{ store.store_id }}][layout_id]"  class="form-control">
                    <option value=""></option>
                    {% for layout in layouts %} 
                    {% if event_layout.store.store_id  and  event_layout.store.store_id  ==  layout.layout_id %} 
                    <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }} </option>
                    {% else %}   
                    <option value="{{ layout.layout_id }}">{{ layout.name }} </option>
                    {% endif %} 
                    {% endfor %}
                  </select></td>
              </tr>
            </tbody>
            {% endfor %}              
          </table>
      </div>
        </div>
    </div>
      </form>
    </div> #}
  </div>
</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script type="text/javascript"><!--
function image_upload(field, thumb) {
  $('#dialog').remove();
  
  $('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&user_token={{ user_token }}&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
  
  $('#dialog').dialog({
    title: '{{ text_image_manager }} ',
    close: function (event, ui) {
      if ($('#' + field).attr('value')) {
        $.ajax({
          url: 'index.php?route=common/filemanager/image&user_token={{ user_token }}&image=' + encodeURIComponent($('#' + field).val()),
          dataType: 'text',
          success: function(data) {
            $('#' + thumb).replaceWith('<img src="' + data + '" alt="" id="' + thumb + '" />');
          }
        });
      }
    },  
    bgiframe: false,
    width: 800,
    height: 400,
    resizable: false,
    modal: false
  });
};
//--></script>
 
<script type="text/javascript"><!--
$(document).ready(function() {
  $('.date').datetimepicker({
    pickTime: false,
    format: 'YYYY-MM-DD'
  });
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'related\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',     
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'related\']').val('');
    
    $('#product-related' + item['value']).remove();
    
    $('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_related[]" value="' + item['value'] + '" /></div>');  
  } 
});

$('#product-related').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});
//--></script> 
<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
<style>
span.required{color:#FF0000;}
</style>
<style>
td { 
    padding: 5px!important;
}
</style>
{{ footer }} 