{{ header }} {{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      {# <a href="{{ insert }} " data-toggle="tooltip" title="{{ "Insert" }} " class="btn btn-primary"><i class="fa fa-plus"></i></a> #}
        <button type="button" data-toggle="tooltip" title="{{ button_delete }} " class="btn btn-danger" onclick="confirm('{{ text_confirm }} ') ? $('#form').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }} </h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if success  %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }} </h3>
      </div>
      <div class="panel-body">
      <form action="{{ delete }} " method="post" enctype="multipart/form-data" id="form">
        <div class="table-responsive">
    <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
              <td class="left">{% if sort  ==  'id.title' %} 
                <a href="{{ sort_title }}" class="{{ order|lower }}">{{ column_id }} </a>
                {% else %}   
                <a href="{{ sort_title }}">{{ column_id }} </a>
                {% endif %} 
                 </td>
              {# <td class="right">{% if sort  ==  'i.sort_order' %} 
                <a href="{{ sort_sort_order }} " class="{{ order|lower }}">{{ column_title }} </a>
                {% else %}   
                <a href="{{ sort_sort_order }} ">{{ column_title }} </a>
                {% endif %} 
                 </td> #}
                <!-- add -->
                 <td class="right">{% if sort  ==  'i.sort_order' %} 
                <a href="{{ sort_sort_order }} " class="{{ order|lower }}">{{ column_email }} </a>
                {% else %}   
                <a href="{{ sort_sort_order }} ">{{ column_email }} </a>
                {% endif %} 
                 </td>
                 <td class="right">{% if sort  ==  'i.sort_order' %} 
                <a href="{{ sort_sort_order }} " class="{{ order|lower }}">{{ column_date }} </a>
                {% else %}   
                <a href="{{ sort_sort_order }} ">{{ column_date }} </a>
                {% endif %} 
                 </td>
                <!-- end add -->
              <td class="right">{{ column_action }} </td>
            </tr>
          </thead>
          <tbody>
            {% if contacts %} 
            {% for contact in contacts %} 
            <tr>
              <td style="text-align: center;">{% if contact.selected %} 
                <input type="checkbox" name="selected[]" value="{{ contact.contact_id }}" checked="checked" />
                {% else %}   
                <input type="checkbox" name="selected[]" value="{{ contact.contact_id }}" />
                {% endif %} </td>
              <td class="left">{{ contact.contact_id }} </td>
              {# <td class="right">{{ contact.title }} </td> #}
              <td class="right">
                {# [ <a href="{{ subscribers_href }}&event_id={{ contact.event_id }}">{{ subscribers}}</a> ]
                {% for action in contact.action %} 
                 <a href="{{ action.href }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a> 
                {% endfor %}  #}
                {{ contact.email }}
              </td>
              <td class="right">{{ contact.contact_date }} </td>
             <td class="text-right">
              <div style="min-width: 120px;">
                  <div class="btn-group"> <a href="{{ contact.edit }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      {# <li><a href="{{ contact.edit }}"><i class="fa fa-pencil"></i> {{ button_edit }}</a></li> #}
                      <li><a href="{{ contact.delete }}"><i class="fa fa-trash-o"></i> {{ button_delete }}</a></li>
                    </ul>
                  </div>
              </div>
              </td>
            </tr>
            {% endfor %}
            {% else %}   
            <tr>
              <td class="center" colspan="6">{{ text_no_results }} </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
    </div>
      </form>
      <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }} </div>
          <div class="col-sm-6 text-right">{{ results }} </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }} 