{% if reviews %}
{% for review in reviews %}
 
                 <table class="table table-striped table-bordered" itemprop="review" itemscope itemtype="http://schema.org/Review">
                      <tr>
                        <td style="width: 50%;" itemprop="author"><strong>{{ review.author }}</strong></td>
                        <td class="text-right" itemprop="datePublished" content="{{ review.date_added }}">{{ review.date_added }}</td>
                      </tr>
                              <tr>
                                <td colspan="2"><p itemprop="reviewBody">{{ review.text }}</p>
                
      {% for i in 1..5 %}
      {% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
      {% endfor %}</td>
  </tr>
</table>
{% endfor %}
<div class="text-right">{{ pagination }}</div>
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %} 