<form action="index.php?route=extension/payment/vnpay_payment/checkout" method="post">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" style="border-radius: 20px; font-size: 15px;" class="btn btn-pink" />
        </div>
    </div>
</form>