<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <ul class="nav nav-tabs nav-link-tabs">
                <li class="active"><a href="#tab-seo-links" data-toggle="tab">{{ text_seo_links }}</a></li>
                <li><a href="#tab-customredirections" data-toggle="tab">{{ text_custom_url_redirects }}</a></li>
                <li><a href="#tab-autolinks" data-toggle="tab">{{ text_auto_links }}</a></li>
                <li><a href="#tab-canonicals" data-toggle="tab">{{ text_canonicals }}</a></li>
				<li><a href="#tab-advanced-settings" data-toggle="tab">{{ text_advanced_settings }}</a></li>
            </ul>

            <div class="tab-content">
				<div class="tab-pane fade in active" id="tab-seo-links">
                    <div class="tab-seo-links">
                        <br />
                        <div class="loader"></div>
                    </div>
				</div>   

				<div class="tab-pane fade" id="tab-customredirections">
					<div class="tab-customredirections">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-8 tab-redirects-results">
									<br />
									<div class="loader"></div>
								</div>
								
								<div class="col-xs-12 col-md-4">
								  <div class="box-heading">
									<h1><i class="fa fa-info-circle" aria-hidden="true"></i>{{ tab_redirects_helper_title }}</h1>
								  </div>
								  <div class="box-content">
									{{ tab_redirects_helper }} 
								  </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			   
				<div class="tab-pane fade" id="tab-autolinks">
					<div class="tab-autolinks">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-8 auto-links-results">
									<br />
									<div class="loader"></div>
								</div>
								<div class="col-xs-12 col-md-4">
									<div class="box-heading">
										<h1>{{ tab_autolinks_helper_title }}</h1>
									</div>
									<div class="box-content">
										{{ tab_autolinks_helper }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			   
				<div class="tab-pane fade" id="tab-canonicals">
					<div class="tab-canonicals">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-8">
									<div id="seo_canonical_settings" class="row">
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_canonical_products }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="canonical_products" class="form-control">
												  <option value="1" {{ canonical_products == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ canonical_products == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_canonical_categories }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="canonical_categories" class="form-control">
												  <option value="1" {{ canonical_categories == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ canonical_categories == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_canonical_manufacturers }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="canonical_manufacturers" class="form-control">
												  <option value="1" {{ canonical_manufacturers == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ canonical_manufacturers == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_canonical_information_pages }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="canonical_information_pages" class="form-control">
												  <option value="1" {{ canonical_information_pages == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ canonical_information_pages == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_canonical_specials }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="canonical_special_page" class="form-control">
												  <option value="1" {{ canonical_special_page == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ canonical_special_page == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_canonical_home_page }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="canonical_home_page" class="form-control">
												  <option value="1" {{ canonical_home_page == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ canonical_home_page == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<p>
											<br />
											<a onClick="saveChanges('#seo_canonical_settings');" class="btn btn-md btn-primary">{{ text_save_changes }}</a>
										</p>
									</div>
								</div>
								
								<div class="col-xs-12 col-md-4">
									<div class="box-heading">
										<h1><i class="fa fa-info-circle" aria-hidden="true"></i>{{ tab_canonicals_helper_title }}</h1>
									</div>
									<div class="box-content">
										{{ tab_canonicals_helper }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			   
				<div class="tab-pane fade" id="tab-advanced-settings">
					<div class="tab-advanced-settings">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-8">
									<div id="seo_advanced_url_settings" class="row">
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_unify_urls }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="unify_urls" class="form-control">
												  <option value="1" {{ unify_urls == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ unify_urls == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_breadcrumb_products }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="breadcrumb_products" class="form-control">
												  <option value="1" {{ breadcrumb_products == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ breadcrumb_products == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_breadcrumb_categories }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="breadcrumb_categories" class="form-control">
												  <option value="1" {{ breadcrumb_categories == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ breadcrumb_categories == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_products_autogenerate }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="url_product_autogenerate" class="form-control">
												  <option value="1" {{ url_product_autogenerate == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ url_product_autogenerate == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_categories_autogenerate }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="url_category_autogenerate" class="form-control">
												  <option value="1" {{ url_category_autogenerate == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ url_category_autogenerate == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_manufacturers_autogenerate }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="url_manufacturer_autogenerate" class="form-control">
												  <option value="1" {{ url_manufacturer_autogenerate == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ url_manufacturer_autogenerate == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_informations_autogenerate }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="url_information_autogenerate" class="form-control">
												  <option value="1" {{ url_information_autogenerate == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ url_information_autogenerate == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_subfolder_prefixes }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="subfolder_prefixes" class="form-control">
												  <option value="1" {{ subfolder_prefixes == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ subfolder_prefixes == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
										  <div class="col-md-6 col-xs-6">
												<label>
												  {{ text_subfolder_prefixes_alias }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
											  {% for language in languages %}
												<div class="input-group" style="margin:5px auto;">
												  <div class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></div>
												  <input type="text" class="form-control" name="subfolder_prefixes_alias[{{ language.code }}]" value="{{ subfolder_prefixes_alias[language.code] }}">
												</div>
											  {% endfor %}
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_default_lang_prefix }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="default_lang_prefix" class="form-control">
												  <option value="1" {{ default_lang_prefix == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ default_lang_prefix == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_redirect_active_lang_prefix }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="redirect_active_lang_prefix" class="form-control">
												  <option value="0" {{ redirect_active_lang_prefix == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												  <option value="1" {{ redirect_active_lang_prefix == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_cyrillic_url }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="cyrillic_urls" class="form-control">
												  <option value="1" {{ cyrillic_urls == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ cyrillic_urls == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-md-6 col-xs-6">
												<label>
												  {{ text_redirect_to_seo_links }}
												</label>
											</div>
											<div class="col-md-4 col-xs-6">
												<select name="redirect_to_seo_links" class="form-control">
												  <option value="1" {{ redirect_to_seo_links == '1' ? 'selected="selected"' : '' }}>{{ text_yes }}</option>
												  <option value="0" {{ redirect_to_seo_links == '0' ? 'selected="selected"' : '' }}>{{ text_no }}</option>
												</select>
											</div>
										</div>
										<br />
										
										<p>
											<br />
											<a onClick="saveChanges('#seo_advanced_url_settings');" class="btn btn-md btn-primary">{{ text_save_changes }}</a>
										</p>
									</div>
								</div>
								
								<div class="col-xs-12 col-md-4">
									<div class="box-heading">
										<h1><i class="fa fa-info-circle" aria-hidden="true"></i>{{ text_advanced_settings }}</h1>
									</div>
									<div class="box-content">
										<h4>{{ text_unify_urls }}</h4>
										<p>{{ text_unify_urls_helper }}</p>
										
										<h4>{{ text_breadcrumb_products }}</h4>
										<p>{{ text_breadcrumb_products_helper }}</p>
										
										<h4>{{ text_breadcrumb_categories }}</h4>
										<p>{{ text_breadcrumb_categories_helper }}</p>
										
										<h4>{{ text_autogenerate }}</h4>
										<p>{{ text_autogenerate_helper }}</p>
										
										<h4>{{ text_subfolder_prefixes }}</h4>
										<p>{{ text_subfolder_prefixes_helper }}</p>

										<h4>{{ text_default_lang_prefix }}</h4>
										<p>{{ text_default_lang_prefix_helper }}</p>

										<h4>{{ text_redirect_active_lang_prefix }}</h4>
										<p>{{ text_redirect_active_lang_prefix_helper }}</p>

										<h4>{{ text_cyrillic_url }}</h4>
										<p>{{ text_cyrillic_url_helper }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

            </div>

        </div>
    </div>
</div>