{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="information-sitemap" class="container">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ heading_title }}</h1>
        <div class="row">
          <div class="col-sm-6" style="line-height: 2.5;">
            <ul>
              {% for category_1 in categories %}
              <li><a href="{{ category_1.href }}" style="color: black;">{{ category_1.name }}</a>
                {% if category_1.children %}
                <ul>
                  {% for category_2 in category_1.children %}
                  <li><a href="{{ category_2.href }}" style="color: black;">{{ category_2.name }}</a>
                    {% if category_2.children %}
                    <ul>
                      {% for category_3 in category_2.children %}
                      <li><a href="{{ category_3.href }}" style="color: black;">{{ category_3.name }}</a></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-sm-6" style="line-height: 2.5;">
            <ul>
              <li><a href="{{ special }}" style="color: black;">{{ text_special }}</a></li>
              <li><a href="{{ account }}" style="color: black;">{{ text_account }}</a>
                <ul>
                  <li><a href="{{ edit }}" style="color: black;">{{ text_edit }}</a></li>
                  <li><a href="{{ password }}" style="color: black;">{{ text_password }}</a></li>
                  <li><a href="{{ address }}" style="color: black;">{{ text_address }}</a></li>
                  <li><a href="{{ history }}" style="color: black;">{{ text_history }}</a></li>
                  <li><a href="{{ download }}" style="color: black;">{{ text_download }}</a></li>
                </ul>
              </li>
              <li><a href="{{ history }}" style="color: black;">{{ text_cart }}</a></li>
              <li><a href="{{ checkout }}" style="color: black;">{{ text_checkout }}</a></li>
              <li><a href="{{ search }}" style="color: black;">{{ text_search }}</a></li>
              <li>{{ text_information }}
                <ul>
                  {% for information in informations %}
                  <li><a href="{{ information.href }}" style="color: black;">{{ information.title }}</a></li>
                  {% endfor %}
                  <li><a href="{{ contact }}" style="color: black;">{{ text_contact }}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        {{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
</div>
{{ footer }}