{{ header }}
<div style="background-color: #DBF9FB">
  <div class="l-breadcrumb" style="margin-bottom: 20px;"> 
    <div class="l-breadcrumb-container"> 
      <div class="l-breadcrumb-inner"> 
        <nav role="navigation" aria-label="現在位置"> 
          <ol class="m-breadcrumb" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"> 
            {% for breadcrumb in breadcrumbs %}
            <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem"><a style="text-transform: uppercase;" href="{{ breadcrumb.href }}" class="m-breadcrumb-item" itemprop="item"><span style="color: #fff; font-size: 18px;" itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="1" style="color: #fff; font-size: 18px;"> </li> 
            {% endfor %}
          </ol> 
        </nav> 
      </div> 
    </div> 
  </div>
  <div id="information-tracking" class="container">
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1>{{ heading_title }}</h1>
        <p>Please enter your shipping tracking No. below:</p>

        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-code">{{ entry_code }} </label>
          <div class="col-sm-10">
            <input type="text" name="code" value="{{ code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control" />
          </div>
        </div>




        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-tracking').on('click', function() {
    $.ajax({
        url: 'index.php?route=information/tracking/tracking&code=' + $('input[name="code"]').val(),
        dataType: 'json',
        beforeSend: function() {
         $('#button-login').button('loading');
  },
        complete: function() {
            $('#button-login').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#collapse-checkout-option .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

    // Highlight any found errors
    $('input[name=\'email\']').parent().addClass('has-error');
    $('input[name=\'password\']').parent().addClass('has-error');
     }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

</div>
{{ footer }}