
{{ header }}
{{ column_left }}


<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">


                <a href="{{ url_dashboard }}" data-toggle="tooltip" title="{{ text_input_dashboard }}"
                   class="btn btn-success"><i
                            class="fa fa-tachometer"></i></a>

                <button type="submit" form="form_push" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>


                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }} V:{{ text_version }}</h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text }}</a></li>
                <?php } ?>
            </ul>
        </div>


    </div>


    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-push" class="form-horizontal">


        <div class="container-fluid">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
                </div>
                <div class="panel-body">

                    <div id="status"></div>

                    {% if error_no_key %}
                        <div class="alert alert-danger" role="alert">{{ error_no_key }}</div>
                    {% endif %}


                    {% if error_no_chat_ids %}
                        <div class="alert alert-danger" role="alert">{{ error_no_chat_ids }}</div>
                    {% endif %}



                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">{{ text_help_tabe_home }}</a></li>
                        <li><a data-toggle="tab" href="#tabHelp">{{ text_help_tabe_help }}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">



                            <div class="container col-lg-12 col-md-12">


                                <div class="container">
                                    <div class="row">

                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <button type="button" id="addStore" class="btn btn-primary" data-toggle="modal" data-target="#addStoreModal" data-whatever="addstore">{{ text_input_store }}</button>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <hr>
                            </div>



                            {#                    بيانات المتاجر#}

                            <div class="container">
                                <div id="alertJson" role="alert"></div>




                                <table id="tableDateStore" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                    <th>{{ text_row_store_id }}</th>
                                    {% for key,val in languages %}
                                        <th>{{ val.code }}</th>
                                    {% endfor %}
                                    <th>{{ text_row_date }}</th>
                                    <th>{{ text_row_delete }}</th>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <div class="border border-success" id="loadingMessage"><h3 class="text-center">Loading.....</h3></div>


                            </div>


                        </div>



                        <div id="tabHelp" class="tab-pane fade">




                                



                        </div>

                    </div>






                    <hr>
{#                    AAA -  {{ dump(module_available_on_stores_status) }}#}
                    <div class="row">
                        <label class="col-sm-2 control-label"
                               for="input-module_hello_world_status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_available_on_stores_status" id="module_available_on_stores_status" class="form-control">

                                {% if module_available_on_stores_status %}
                                    <option value="1" selected>{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected>{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </form>




    <div class="modal fade" id="addStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ text_help_add_store }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        {% for key,val in languages %}

                            <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">{{ text_input_store }} - {{ val.code }}</label>
                                <div class="col-sm-10">
                                    <input type="text" data-title="{{ text_input_store }} - {{ val.code }}" data-language_id="{{ val.language_id }}" name="available_on_stores_stores_name[{{val.language_id}}]" id="available_on_stores_stores_name_add[{{val.language_id}}]"  value="" placeholder="{{ text_input_store }}"class="form-control available_on_stores inputStoreAdd"/>

                                </div>
                            </div>

                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button " class="btn btn-primary addStoreBtn">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ text_help_edit_store }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        {% for key,val in languages %}

                            <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">{{ text_input_store }} - {{ val.code }}</label>
                                <div class="col-sm-10">
                                    <input type="text" data-title="{{ text_input_store }} - {{ val.code }}" data-language_id="{{ val.language_id }}" name="available_on_stores_stores_name[{{val.language_id}}]" id="available_on_stores_stores_name_edit[{{val.language_id}}]"  value="" placeholder="{{ text_input_store }}"class="form-control available_on_stores inputStoreEdit"/>

                                </div>
                            </div>

                        {% endfor %}

                        <div class="form-group row invisible">
                            <label for="colFormLabelSm"  class="col-sm-2 col-form-label col-form-label-sm">ID</label>
                            <div class="col-sm-10">
                                <input type="text" data-language_id="{{ val.language_id }}" name="id"  id="available_on_stores_stores_id"   value="" class="form-control inputStoreEdit"/>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button " class="btn btn-primary editStoreBtn">Send</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">



    var allDataJson = {};

    $(document).ready(function () {

           // getStoresUrl();
           loadingStore();

        // Delete Store
        $(document).on("click","button.deleteStore",function(e) {

            var btn = $(this);
            var tr = $(this).closest('tr');
            var id = tr.attr('data-storeID');

            $(btn).button('loading');
            $.post("{{ get_count_Deleted }}", {id: id}, function (data) {

                var msg = ('{{ text_delete }} {{ text_clciked }} -> ' + data.dashboard_count + '\n{{ text_urls }}      -> ' + data.url_count);
                var answer = confirm('{{ entry_delete_messag_text }} \n' + msg);

                if (!answer) {
                    $(btn).button('reset');
                    return;
                }

                $.post("{{ delete_stores }}", {id: id}, function (data) {
                    $(btn).button('reset');
                    $(btn).closest('tr').fadeOut("slow", function () {
                    });
                    if (data.result == 1) {
                        $(btn).closest('tr').fadeOut("slow", function () {
                        });
                    }

                }, 'json');


            }, 'json');

        });


        // Edit Store
        $(document).on("click","button.editStore",function(e) {


            $('.inputStoreEdit').val("");
            var btn = $(this);
            var tr = $(this).closest('tr');
            var id = tr.attr('data-storeID');
            var dataKey = tr.attr('data-key');
            var jsonName = $.parseJSON(allDataJson[dataKey].name);

            $.each(jsonName, function( key, value ) {
                $(this).val(jsonName[key]);
                console.log(jsonName[key])

                $("#available_on_stores_stores_name_edit\\["+key+"\\]").val(jsonName[key]);


            });


            $("#available_on_stores_stores_id").val(id);

            $('#editStoreModal').modal('show');

        });


        // Add Stor
        $('#addStoreModal').on('show.bs.modal', function (e) {

            var trr = $(e).closest('tr');
            var storeID   =   $(trr).data('storeID');
            var storeName =   $(trr).find('.editName');
            console.log(e.target);

            $.each( storeName, function( key, value ) {
                console.log($(value).data('storename'))
                $("#available_on_stores_stores_name["+key+"]").val("ghghfghfgh");
            });

        })


        $(".editStoreBtn").on("click",function(e) {
            updateStores();
        });


        $(".addStoreBtn").on("click",function(e) {
            addStore();
        });


    });


    function addStore() {

        var isSend = true;
        $.each($(".inputStoreAdd"),function( key, value ) {
           if($(value).val().trim() ==""){
               alert($(value).data('title'));
               isSend =  false;
           }
        });


        $("select#module_available_on_stores_status option").each(function() {
             this.selected = ($(this).val() == 1);
        });


        if (isSend === false){
            return ;
        }


        $(".addStoreBtn").button('loading');
        $.post("{{ add_stores }}",$( ".inputStoreAdd" ).serialize(), function (data) {
           loadingStore();
            $('#addStoreModal').modal('hide');
            $(".inputStoreAdd").val("");
            $(".addStoreBtn").button('reset');

        });

    }
    function updateStores() {


        $(".editStoreBtn").button("loading");
        $.post("{{ update_stores }}", $( ".inputStoreEdit" ).serialize(), function (data) {

            if (data.result == 1) {
                $('#alertJson').html(' <div class="alert alert-success" role="alert">Success Update</div>\n');
                loadingStore();
                $('#editStoreModal').modal('hide');

            } else {
                $('#alertJson').html(' <div class="alert alert-danger" role="alert">Error Update</div>\n');
            }

            $(".editStoreBtn").button("reset");



        }, 'json');
    }
    function addRowStoreToTable(data,key) {

        var nameJson = $.parseJSON(data.name);
        // console.log(nameJson)

        $("#tableDateStore").find('tbody')
                .append($('<tr data-storeID="'+data.stores_id+'" data-key="'+key+'">')
                .append($('<td>').text(data.stores_id))
                {% for key, val in languages %}
                .append($('<td class="editName"  data-storeName="'+nameJson["{{ val.language_id }}"]+'"> ').text(nameJson["{{ val.language_id }}"]))
                {% endfor %}
                .append($('<td>').text(data.date))
                .append($('<td>').html('<button onclick="" type="button" class="btn btn-danger deleteStore" aria-label="Left Align"><span class="fa fa-trash-o" aria-hidden="true"></span></button> <button  type="button" class="btn btn-success editStore" aria-label="Left Align"><span class="fa fa-edit" aria-hidden="true"></span></button>')))

    }
    function loadingStore() {

        $('#loadingMessage').show();
        $('#tableDateStore').hide();
        $('#tableDateStore tbody').empty();
        $('.inputStore').val('');
        allDataJson = {};



        var btn = $(".add_stores").button('loading');

        $.getJSON( "{{ get_stores_json }}", function( json ) {
            $('#loadingMessage').hide();
            $('#tableDateStore').show();
            $(btn).button('reset');
            allDataJson =json;
            $.each(json,function( key, value ) {
                addRowStoreToTable(value,key);
            });
        });

    }


</script>


{{ footer }}
