{{ header }}{{ column_left }}
<div id="content" class="mpblog-content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-mpblogfeatured" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-mpblogfeatured" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mpblogpost"><span data-toggle="tooltip" title="{{ help_mpblogpost }}">{{ entry_mpblogpost }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="mpblogpost_name" value="" placeholder="{{ entry_mpblogpost }}" id="input-mpblogpost" class="form-control" />
              <div id="mpblogfeatured-mpblogpost" class="well well-sm" style="height: 150px; overflow: auto;">
                {% for mpblogpost in mpblogposts %}
                <div id="mpblogfeatured-mpblogpost{{ mpblogpost.mpblogpost_id }}"><i class="fa fa-minus-circle"></i> {{ mpblogpost.name }}
                  <input type="hidden" name="mpblogpost[]" value="{{ mpblogpost.mpblogpost_id }}" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-10">
              <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_image_size }}</label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group">
                  <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-arrows-h"></i></button>
                  </span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="fa fa-arrows-v"></i></button>
                  </span>
                  </div>
                </div>
              </div>
              {% if error_image_size %}
              <div class="text-danger">{{ error_image_size }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('input[name=\'mpblogpost_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=mpblog/mpblogpost/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['mpblogpost_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'mpblogpost_name\']').val('');
		
		$('#mpblogfeatured-mpblogpost' + item['value']).remove();
		
		$('#mpblogfeatured-mpblogpost').append('<div id="mpblogfeatured-mpblogpost' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="mpblogpost[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#mpblogfeatured-mpblogpost').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script></div>
{{ footer }}
