.l-heading-mainVisual {
  background-color: #fefefd;
  background-image: url("/assets/img/mv.png");
}
@media screen and (max-width: 767px) {
  .l-heading-mainVisual {
    background-image: url("/assets/img/mv_sm.png");
  }
}
.new-items {
  background-color: #f8f4e9;
  padding-top: 60px;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .new-items {
    padding-top: 35px;
    margin-bottom: 35px;
  }
}
.new-items-container {
  margin-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .new-items-container {
    margin-bottom: 80px;
  }
}
.new-items-inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 767px) {
  .new-items-inner {
    padding: 0 15px;
  }
}
.new-items-inner > :first-child {
  margin-top: 0;
}
.product-lead-txt {
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .product-lead-txt {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .heading-container {
    margin-bottom: 25px;
  }
}
.heading-container > h2 {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .heading-container > h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.heading-container > :last-child {
  margin-bottom: 0;
}
.shopping-btn-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shopping-btn-list > li {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .shopping-btn-list > li {
    margin-bottom: 15px;
  }
}
.shopping-btn-list > li > :last-child {
  margin-bottom: 0;
}
.material-note {
  display: flex;
  align-items: center;
}
.material-color {
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: #ffe4da;
  display: block;
  margin-right: 10px;
  vertical-align: middle;
}
